Repository cuaklabs/iocuak: changes, and which Codecov flags are due for each by the changed paths.
All: iocuak, iocuak-common, iocuak-decorators, iocuak-models, iocuak-reflect-metadata-utils

codecov.yml:

coverage:
  status:
    project:
      default: false
      iocuak:
        flags:
          - iocuak
      iocuak-common:
        flags:
          - iocuak-common
      iocuak-decorators:
        flags:
          - iocuak-decorators
      iocuak-models:
        flags:
          - iocuak-models
      iocuak-reflect-metadata-utils:
        flags:
          - iocuak-reflect-metadata-utils

flags:
  iocuak:
    paths:
      - packages/iocuak/
  iocuak-common:
    paths:
      - packages/iocuak-common/
  iocuak-decorators:
    paths:
      - packages/iocuak-decorators/
  iocuak-models:
    paths: 
      - packages/iocuak-models/
  iocuak-reflect-metadata-utils:
    paths:
      - packages/iocuak-reflect-metadata-utils/

feat(iocuak): update container module metadata default arguments to be any[]
  .changeset/clever-peas-camp.md
  packages/iocuak/src/containerModuleMetadata/models/api/ContainerModuleFactoryMetadataApi.ts
  packages/iocuak/src/containerModuleMetadata/models/api/ContainerModuleMetadataApi.ts
Due: iocuak

chore(iocuak-core): bump version
  .changeset/spicy-planes-grin.md
  packages/iocuak-core/CHANGELOG.md
  packages/iocuak-core/package.json
Due: none

docs: update changelog with date
  packages/iocuak-core/CHANGELOG.md
Due: none

chore(iocuak): bump version
  .changeset/clever-peas-camp.md
  packages/iocuak/CHANGELOG.md
  packages/iocuak/package.json
Due: iocuak

chore: update npmignore witth test ts definition files
  packages/iocuak-common/.npmignore
  packages/iocuak-core/.npmignore
  packages/iocuak-decorators/.npmignore
  packages/iocuak-models-api/.npmignore
  packages/iocuak-models/.npmignore
  packages/iocuak-reflect-metadata-utils/.npmignore
  packages/iocuak/.npmignore
Due: iocuak, iocuak-common, iocuak-decorators, iocuak-models, iocuak-reflect-metadata-utils

fix: update getAffectedProjects to return right package ids
  packages/iocuak-scripts/bin/getAffectedProjects.js
Due: none

fix: update parameter decorators with more flexible contract
  packages/iocuak-benchmark/src/common/modules/tsyringe/TsyringeKatana.ts
  packages/iocuak-benchmark/src/common/modules/tsyringe/TsyringeNinja.ts
  packages/iocuak-benchmark/src/common/modules/tsyringe/tsyringeInject.ts
  packages/iocuak-decorators/src/classMetadata/decorators/inject.spec.ts
  packages/iocuak-decorators/src/classMetadata/decorators/inject.ts
  packages/iocuak-decorators/src/classMetadata/decorators/injectBase.ts
  packages/iocuak-decorators/src/classMetadata/decorators/injectTag.spec.ts
  packages/iocuak-decorators/src/classMetadata/decorators/injectTag.ts
  packages/iocuak-decorators/src/common/models/ParameterDecorator.ts
  packages/iocuak-decorators/src/common/models/ParameterOrPropertyDecorator.ts
Due: iocuak-decorators

chore(github): update actions to use pnpm 8
  .github/workflows/build.yml
  .github/workflows/collect-coverage.yaml
Due: none

chore: revert turbo to 1.8.6
  package.json
Due: none

chore: exclude turbo from auto merged dependencu updates
  .github/renovate.json
Due: none

chore: update turbo to 1.8.8
  package.json
Due: none

chore: update renovate pnpm constraints
  .github/renovate.json
Due: none

fix: fix linter issues
  packages/eslint-config-iocuak/index.js
  packages/eslint-config-iocuak/prettier.config.js
  packages/iocuak-e2e/src/definitions/common/parameters/bindingScope/definition.ts
Due: none

chore(iocuak-e2e): update cucumber config with no publishQuiet
  packages/iocuak-e2e/config/cucumber/cucumber.config.base.mjs
Due: none

chore: update tsc options to fulfill 5.2 requirements
  packages/iocuak-e2e/src/definitions/common/parameters/bindingScope/definition.ts
  packages/iocuak-e2e/src/definitions/common/parameters/typeService/definition.ts
  packages/iocuak-e2e/src/definitions/common/parameters/valueService/definition.ts
  packages/iocuak-e2e/src/definitions/container/parameters/containerModule/definition.ts
  packages/iocuak-e2e/src/definitions/container/parameters/containerModuleMetadata/definition.ts
  packages/typescript-config-iocuak/tsconfig.base.cjs.json
  packages/typescript-config-iocuak/tsconfig.base.esm.json
  packages/typescript-config-iocuak/tsconfig.base.json
Due: none

docs: fix build badge
  README.md
  packages/iocuak-benchmark/README.md
  packages/iocuak-common/README.md
  packages/iocuak-core/README.md
  packages/iocuak-decorators/README.md
  packages/iocuak-e2e/README.md
  packages/iocuak-models-api/README.md
  packages/iocuak-models/README.md
  packages/iocuak-reflect-metadata-utils/README.md
  packages/iocuak/README.md
Due: iocuak, iocuak-common, iocuak-decorators, iocuak-models, iocuak-reflect-metadata-utils

chore: update gitignore
  .gitignore
Due: none

refactor(iocuak-decorators): update ParameterOrPropertyDecorator
  packages/iocuak-decorators/src/common/models/ParameterOrPropertyDecorator.ts
Due: iocuak-decorators

chore: ignore compiled file
  packages/iocuak-benchmark/.gitignore
Due: none

chore: add eslint-config package
  package.json
  packages/iocuak-eslint-config/.gitignore
  packages/iocuak-eslint-config/.lintstagedrc.json
  packages/iocuak-eslint-config/index.js
  packages/iocuak-eslint-config/package.json
  packages/iocuak-eslint-config/prettier.config.mjs
Due: none

chore: update turbo
  package.json
  turbo.json
Due: none

chore: remove eslint legacy config package
  .github/renovate.json
  package.json
  packages/eslint-config-iocuak/.gitignore
  packages/eslint-config-iocuak/index.js
  packages/eslint-config-iocuak/package.json
  packages/eslint-config-iocuak/prettier.config.js
Due: none

chore: add eslint peer dependency
  package.json
  packages/iocuak-benchmark/package.json
  packages/iocuak-common/package.json
  packages/iocuak-core/package.json
  packages/iocuak-decorators/package.json
  packages/iocuak-e2e/package.json
  packages/iocuak-models-api/package.json
  packages/iocuak-models/package.json
  packages/iocuak-reflect-metadata-utils/package.json
  packages/iocuak/package.json
Due: iocuak, iocuak-common, iocuak-decorators, iocuak-models, iocuak-reflect-metadata-utils

chore: fix linter issues
  packages/iocuak-eslint-config/index.js
Due: none

chore: update ci and renovatebot rely on pnpm 9 and node 22
  .github/renovate.json
  .github/workflows/build.yml
  .github/workflows/collect-coverage.yaml
Due: none

test: update test with missing fixture initialization
  packages/iocuak/src/containerModuleMetadata/calculations/api/buildContainerModuleContainerModuleMetadataId.spec.ts
Due: iocuak

chore: add tslib dev dependency
  packages/iocuak-core/package.json
  packages/iocuak-decorators/package.json
  packages/iocuak-e2e/package.json
  packages/iocuak/package.json
Due: iocuak, iocuak-decorators

chore: update esm build to bundle types
  packages/iocuak-common/.npmignore
  packages/iocuak-core/.npmignore
  packages/iocuak-decorators/.npmignore
  packages/iocuak-models-api/.npmignore
  packages/iocuak-models/.npmignore
  packages/iocuak-reflect-metadata-utils/.npmignore
  packages/iocuak-rollup-config/lib/index.js
  packages/iocuak-rollup-config/package.json
  packages/iocuak/.npmignore
Due: iocuak, iocuak-common, iocuak-decorators, iocuak-models, iocuak-reflect-metadata-utils
