Repository cuaklabs/iocuak: changes, and which Codecov flags are due for each by the changed paths.
All: iocuak, iocuak-common, iocuak-decorators, iocuak-models, iocuak-reflect-metadata-utils

style(iocuak-decorators): update injectBase with better comment
  packages/iocuak-decorators/src/classMetadata/decorators/injectBase.ts
Due: iocuak-decorators

refactor(iocuak): remove bindingScopeToBindingScopeApiMap in favor of the existing one
  packages/iocuak/src/binding/models/api/bindingScopeToBindingScopeApiMap.ts
  packages/iocuak/src/binding/utils/api/convertBindingToBindingApi.spec.ts
  packages/iocuak/src/binding/utils/api/convertBindingToBindingApi.ts
Due: iocuak

feat(iocuak-models): add BindOptions
  packages/iocuak-models/CHANGELOG.md
  packages/iocuak-models/src/binding/models/BindOptions.ts
  packages/iocuak-models/src/index.ts
Due: iocuak-models

feat(iocuak-models-api): add BindOptionsApi
  packages/iocuak-models-api/CHANGELOG.md
  packages/iocuak-models-api/src/binding/models/api/BindOptionsApi.ts
  packages/iocuak-models-api/src/index.ts
Due: none

refactor(iocuak): add convertToBindOptions
  packages/iocuak/src/binding/fixtures/api/BindingOptionsApiFixtures.ts
  packages/iocuak/src/binding/fixtures/domain/BindingOptionsFixtures.ts
  packages/iocuak/src/binding/utils/api/convertToBindOptions.spec.ts
  packages/iocuak/src/binding/utils/api/convertToBindOptions.ts
Due: iocuak

test(iocuak): rename BindingOptionsFixtures to BindOptionsFixtures
  packages/iocuak/src/binding/fixtures/domain/BindOptionsFixtures.ts
  packages/iocuak/src/binding/utils/api/convertToBindOptions.spec.ts
Due: iocuak

refactor(iocuak): update bind with options
  packages/iocuak/src/binding/utils/domain/bind.spec.ts
  packages/iocuak/src/binding/utils/domain/bind.ts
  packages/iocuak/src/container/services/api/ContainerServiceApiImplementation.spec.ts
  packages/iocuak/src/container/services/api/ContainerServiceApiImplementation.ts
  packages/iocuak/src/containerModule/utils/api/convertToContainerModule.spec.ts
  packages/iocuak/src/containerModule/utils/api/convertToContainerModule.ts
Due: iocuak

feat(iocuak): update ContainerServiceApiImplementation.bind with options
  packages/iocuak/CHANGELOG.md
  packages/iocuak/src/binding/services/api/BindingServiceApi.ts
  packages/iocuak/src/binding/utils/api/convertToBindOptions.spec.ts
  packages/iocuak/src/binding/utils/api/convertToBindOptions.ts
  packages/iocuak/src/container/services/api/ContainerServiceApiImplementation.spec.ts
  packages/iocuak/src/container/services/api/ContainerServiceApiImplementation.ts
  packages/iocuak/src/index.ts
Due: iocuak

refactor(iocuak): update convertToContainerModule to handle bind options
  packages/iocuak/src/containerModule/utils/api/convertToContainerModule.spec.ts
  packages/iocuak/src/containerModule/utils/api/convertToContainerModule.ts
Due: iocuak

test(iocuak): rename BindingOptionsApiFixtures to BindOptionsApiFixtures
  packages/iocuak/src/binding/fixtures/api/BindOptionsApiFixtures.ts
  packages/iocuak/src/binding/utils/api/convertToBindOptions.spec.ts
  packages/iocuak/src/container/services/api/ContainerServiceApiImplementation.spec.ts
  packages/iocuak/src/containerModule/utils/api/convertToContainerModule.spec.ts
Due: iocuak

test(iocuak-e2e): add BindingScopeParameter
  packages/iocuak-e2e/src/definitions/common/parameters/bindingScope/BindingScopeParameter.ts
  packages/iocuak-e2e/src/definitions/common/parameters/bindingScope/definition.ts
Due: none

test(iocuak-e2e): add BindingScopeWorld
  packages/iocuak-e2e/src/definitions/common/models/worlds/BindingScopeWorld.ts
Due: none

test(iocuak-e2e): add steps to bind services on custom scopes
  packages/iocuak-e2e/src/definitions/common/stepDefinitions/commonDefinitions.ts
  packages/iocuak-e2e/src/definitions/container/containerDefinitions.ts
Due: none

test(iocuak-e2e): update get service binding feature with custom scope binding scenario
  packages/iocuak-e2e/features/container/getServiceBindings.feature
Due: none

chore(npm): update npm ignored files
  packages/iocuak-common/.npmignore
Due: iocuak-common

chore(iocuak-common): bump version
  packages/iocuak-common/CHANGELOG.md
  packages/iocuak-common/package.json
Due: iocuak-common

chore(npm): update npm ignored files
  packages/iocuak-reflect-metadata-utils/.npmignore
Due: iocuak-reflect-metadata-utils

chore(iocuak-reflect-metadata-utils): bump version
  packages/iocuak-reflect-metadata-utils/CHANGELOG.md
  packages/iocuak-reflect-metadata-utils/package.json
Due: iocuak-reflect-metadata-utils

chore(npm): update npm ignored files
  packages/iocuak-models/.npmignore
Due: iocuak-models

chore(iocuak-models): bump version
  packages/iocuak-models/CHANGELOG.md
  packages/iocuak-models/package.json
Due: iocuak-models

docs(iocuak-models): add missing unreleased section
  packages/iocuak-models/CHANGELOG.md
Due: iocuak-models

chore(iocuak-models-api): remove unused test files
  packages/iocuak-models-api/jest.config.mjs
  packages/iocuak-models-api/jest.js.config.mjs
Due: none

chore(iocuak-models-api): remove unused test scripts
  packages/iocuak-models-api/package.json
Due: none

chore(iocuak-models-api): updated npm ignored files with unexisting ones
  packages/iocuak-models-api/.npmignore
Due: none

chore(iocuak-models-api): bump version
  packages/iocuak-models-api/CHANGELOG.md
Due: none

chore(iocuak-decorators): updated npm ignored files
  packages/iocuak-decorators/.npmignore
Due: iocuak-decorators

chore(iocuak-decorators): bump version
  packages/iocuak-decorators/CHANGELOG.md
  packages/iocuak-decorators/package.json
Due: iocuak-decorators

chore(iocuak-core): updated npm ignored files
  packages/iocuak-core/.npmignore
Due: none

chore(iocuak-core): bump version
  packages/iocuak-core/CHANGELOG.md
  packages/iocuak-core/package.json
Due: none

chore(iocuak): updated npm ignored files
  packages/iocuak/.npmignore
Due: iocuak

chore(iocuak): bump version
  packages/iocuak/CHANGELOG.md
  packages/iocuak/package.json
Due: iocuak

chore(iocuak-jest-config): add prettier dep and lint staged config
  packages/iocuak-jest-config/.lintstagedrc.json
  packages/iocuak-jest-config/package.json
Due: none

chore: update root gitignore without unexisting folders
  .gitignore
Due: none

chore: add changesets integration
  .changeset/README.md
  .changeset/config.json
  package.json
Due: none

chore(iocuak-e2e): update license
  packages/iocuak-e2e/LICENSE
  packages/iocuak-e2e/package.json
Due: none

chore(iocuak-scripts): update iocuak-scripts license
  packages/iocuak-scripts/LICENSE
  packages/iocuak-scripts/package.json
Due: none

feat(iocuak-common): added ContainerModuleMetadataId
  .changeset/rotten-hairs-joke.md
  packages/iocuak-common/src/index.ts
  packages/iocuak-common/src/models/ContainerModuleMetadataId.ts
Due: iocuak-common

style(iocuak-common): remove unnecesary comment
  packages/iocuak-common/src/models/ServiceId.ts
Due: iocuak-common

feat(iocuak-core): update ContainerModuleMetadataBase with requires field
  .changeset/strange-tables-wave.md
  packages/iocuak-core/src/containerModuleMetadata/mocks/models/ContainerModuleMetadataMocks.ts
  packages/iocuak-core/src/containerModuleMetadata/models/ContainerModuleMetadataBase.ts
  packages/iocuak-core/src/task/actions/loadContainerModule.spec.ts
  packages/iocuak-core/src/task/actions/loadFromContainerModuleFactoryMetadata.spec.ts
  packages/iocuak/src/containerModuleMetadata/actions/api/convertToContainerModuleMetadata.spec.ts
  packages/iocuak/src/containerModuleMetadata/actions/api/convertToContainerModuleMetadata.ts
Due: iocuak

refactor(iocuak-core): add TaskContext models
  packages/iocuak-core/src/task/models/CreateInstanceTaskContext.ts
  packages/iocuak-core/src/task/models/LoadModuleMetadataTaskContext.ts
Due: none

Path conditions:
  iocuak: any of: packages/iocuak/
  iocuak-common: any of: packages/iocuak-common/
  iocuak-decorators: any of: packages/iocuak-decorators/
  iocuak-models: any of: packages/iocuak-models/
  iocuak-reflect-metadata-utils: any of: packages/iocuak-reflect-metadata-utils/
