Repository cuaklabs/iocuak: changes, and which Codecov flags are due for each by the changed paths.
All: iocuak, iocuak-common, iocuak-decorators, iocuak-models, iocuak-reflect-metadata-utils

docs(iocuak-models): update changelog
  packages/iocuak-models/CHANGELOG.md
Due: iocuak-models

docs(iocuak-reflect-metadata-utils): update changelog
  packages/iocuak-reflect-metadata-utils/CHANGELOG.md
Due: iocuak-reflect-metadata-utils

docs(iocuak-decorators): update changelog
  packages/iocuak-decorators/CHANGELOG.md
Due: iocuak-decorators

docs(iocuak-models-api): update changelog
  packages/iocuak-models-api/CHANGELOG.md
Due: none

docs(iocuak-core): update changelog
  packages/iocuak-core/CHANGELOG.md
Due: none

chore(eslint-config-iocuak): add project.json
  packages/eslint-config-iocuak/project.json
Due: none

chore(iocuak-scripts): add project.json
  packages/iocuak-scripts/project.json
Due: none

chore(typescrip-config-iocuak): add project.json
  packages/typescript-config-iocuak/project.json
Due: none

chore(iocuak-benchmark): add bench scripts
  packages/iocuak-benchmark/package.json
Due: none

chore: update bench scripts to rely on iocuak-benchmark
  package.json
Due: none

chore(iocuak-e2e): update iocuak-e2e package with sinon and chai dependencies
  packages/iocuak-e2e/package.json
Due: none

chore: remove root package unnecesary dependencies
  package.json
Due: none

chore(iocuak): update package with dev dependency
  packages/iocuak/package.json
Due: iocuak

refactor(iocuak): remove unused types file
  packages/iocuak/src/types/Reflect.d.ts
Due: iocuak

chore: remove unused dependencies
  packages/iocuak-common/package.json
  packages/iocuak-decorators/package.json
  packages/iocuak-models-api/package.json
  packages/iocuak-models/package.json
Due: iocuak-common, iocuak-decorators, iocuak-models

docs: update changelog
  packages/iocuak-common/CHANGELOG.md
  packages/iocuak-decorators/CHANGELOG.md
  packages/iocuak-models-api/CHANGELOG.md
  packages/iocuak-models/CHANGELOG.md
  packages/iocuak/CHANGELOG.md
Due: iocuak, iocuak-common, iocuak-decorators, iocuak-models

chore: update node types
  package.json
Due: none

chore(github): update build workflow to use node@18
  .github/workflows/build.yml
Due: none

chore: update dependencies with eslint-import-resolver-typescript
  package.json
Due: none

feat(eslint-config-iocuak): update eslint config with import settings
  packages/eslint-config-iocuak/index.js
Due: none

chore: install @stryker-mutator dependencies
  package.json
Due: none

chore(jest): provide jest config for stryker
  config/jest/jest.config.striker.mjs
Due: none

chore(stryker): add stryker config
  stryker.conf.json
Due: none

chore(git): add stryker temp and reports folders to gitignore
  .gitignore
Due: none

chore: add test:mutation npm script
  package.json
Due: none

refactor(iocuak): update getTags withouth unnecesary optional chaining
  packages/iocuak/src/containerModule/utils/api/convertToContainerModule.ts
Due: iocuak

fix(jest): fix types
  config/jest/jest.config.base.mjs
  config/jest/jest.config.mjs
  config/jest/jest.js.config.mjs
Due: none

refactor: remove unused imports
  packages/iocuak-core/src/binding/services/BindingServiceImplementation.spec.ts
  packages/iocuak/src/binding/utils/domain/bindToValue.spec.ts
  packages/iocuak/src/containerModule/utils/api/convertToContainerModule.spec.ts
Due: iocuak

chore(pnpm): add pnpm workspace
  .github/workflows/build.yml
  pnpm-workspace.yaml
Due: none

chore: remove set-output in favor of $GITHUB_OUTPUT
  .github/workflows/build.yml
Due: none

chore: add iocuak-prettier-config package
  packages/iocuak-prettier-config/.gitignore
  packages/iocuak-prettier-config/LICENSE
  packages/iocuak-prettier-config/index.js
  packages/iocuak-prettier-config/package.json
Due: none

chore(eslint-config-iocuak): add gitignore
  packages/eslint-config-iocuak/.gitignore
Due: none

refactor(eslint-config-iocuak): remove project.json
  packages/eslint-config-iocuak/project.json
Due: none

chore(iocuak): add local linter and formatter config
  packages/iocuak/.eslintignore
  packages/iocuak/.gitignore
  packages/iocuak/.lintstagedrc.json
  packages/iocuak/.prettierignore
  packages/iocuak/package.json
  packages/iocuak/prettier.config.js
Due: iocuak

chore(iocuak-benchmark): add local linter and formatter config
  packages/iocuak-benchmark/.eslintignore
  packages/iocuak-benchmark/.gitignore
  packages/iocuak-benchmark/.lintstagedrc.json
  packages/iocuak-benchmark/.prettierignore
  packages/iocuak-benchmark/package.json
  packages/iocuak-benchmark/prettier.config.js
Due: none

chore(iocuak-common): add local linter and formatter config
  packages/iocuak-common/.eslintignore
  packages/iocuak-common/.gitignore
  packages/iocuak-common/.lintstagedrc.json
  packages/iocuak-common/.prettierignore
  packages/iocuak-common/package.json
  packages/iocuak-common/prettier.config.js
Due: iocuak-common

chore(iocuak-core): add local linter and formatter config
  packages/iocuak-core/.eslintignore
  packages/iocuak-core/.gitignore
  packages/iocuak-core/.lintstagedrc.json
  packages/iocuak-core/.prettierignore
  packages/iocuak-core/package.json
  packages/iocuak-core/prettier.config.js
Due: none

chore(iocuak-decorators): add local linter and formatter config
  packages/iocuak-decorators/.eslintignore
  packages/iocuak-decorators/.gitignore
  packages/iocuak-decorators/.lintstagedrc.json
  packages/iocuak-decorators/.prettierignore
  packages/iocuak-decorators/package.json
  packages/iocuak-decorators/prettier.config.js
Due: iocuak-decorators

chore(iocuak-e2e): add local linter and formatter config
  packages/iocuak-e2e/.eslintignore
  packages/iocuak-e2e/.gitignore
  packages/iocuak-e2e/.lintstagedrc.json
  packages/iocuak-e2e/.prettierignore
  packages/iocuak-e2e/package.json
  packages/iocuak-e2e/prettier.config.js
Due: none

chore(iocuak-models): add local linter and formatter config
  packages/iocuak-models/.eslintignore
  packages/iocuak-models/.gitignore
  packages/iocuak-models/.lintstagedrc.json
  packages/iocuak-models/.prettierignore
  packages/iocuak-models/package.json
  packages/iocuak-models/prettier.config.js
Due: iocuak-models

Path conditions:
  iocuak: any of: packages/iocuak/
  iocuak-common: any of: packages/iocuak-common/
  iocuak-decorators: any of: packages/iocuak-decorators/
  iocuak-models: any of: packages/iocuak-models/
  iocuak-reflect-metadata-utils: any of: packages/iocuak-reflect-metadata-utils/
