Repository cuaklabs/iocuak: changes, and which Codecov flags are due for each by the changed paths.
All: cuaktask, iocuak, porygon, porygon-typeorm

refactor(cuaktask): add NodeDependency
  packages/cuaktask/src/graph/models/domain/BaseNodeDependencies.ts
  packages/cuaktask/src/graph/models/domain/NodeDependency.ts
Due: cuaktask

refactor(cuaktask): update Node with optional dependencies
  packages/cuaktask/src/graph/models/domain/BaseNodeDependencies.ts
  packages/cuaktask/src/graph/models/domain/Node.ts
Due: cuaktask

refactor(iocuak): add mapIterable function
  packages/cuaktask/src/common/utils/domain/mapIterable.ts
  packages/cuaktask/src/common/utils/domain/mapIterator.ts
Due: cuaktask

refactor(cuaktask): add RootedTaskGraphRunner
  packages/cuaktask/src/task/modules/RootedTaskGraphRunner.spec.ts
  packages/cuaktask/src/task/modules/RootedTaskGraphRunner.ts
Due: cuaktask

feat(cuaktask): expose graph models
  packages/cuaktask/CHANGELOG.md
  packages/cuaktask/src/index.ts
Due: cuaktask

chore: update dependencies
  package.json
Due: none

refactor(cuaktask): update BaseTask update BaseTask with protected _setErrorStatus method
  packages/cuaktask/CHANGELOG.md
  packages/cuaktask/src/task/models/domain/BaseTask.spec.ts
  packages/cuaktask/src/task/models/domain/BaseTask.ts
Due: cuaktask

chore(eslint): update function and class method naming conventions
  .eslintrc.js
Due: none

refactor(cuaktask): rename OrElseNodeDependencies to BitwiseOrNodeDependencies
  packages/cuaktask/CHANGELOG.md
  packages/cuaktask/src/graph/models/domain/BitwiseOrNodeDependencies.ts
  packages/cuaktask/src/graph/models/domain/NodeDependencies.ts
  packages/cuaktask/src/index.ts
  packages/cuaktask/src/task/modules/RootedTaskGraphRunner.ts
Due: cuaktask

refactor(cuaklabs): rename NodeDependenciesType.orElse to bitwiseOr
  packages/cuaktask/src/graph/models/domain/NodeDependenciesType.ts
  packages/cuaktask/src/graph/models/domain/OrElseNodeDependencies.ts
  packages/cuaktask/src/task/modules/RootedTaskGraphRunner.spec.ts
  packages/cuaktask/src/task/modules/RootedTaskGraphRunner.ts
Due: cuaktask

refactor(iocuak): rename task module to be createInstanceTask
  packages/iocuak/src/container/modules/api/ContainerApi.spec.ts
  packages/iocuak/src/container/modules/api/ContainerApi.ts
  packages/iocuak/src/container/services/cuaktask/ContainerInstanceServiceImplementation.spec.ts
  packages/iocuak/src/container/services/cuaktask/ContainerInstanceServiceImplementation.ts
  packages/iocuak/src/createInstanceTask/fixtures/domain/CreateArrayTaskKindFixtures.ts
  packages/iocuak/src/createInstanceTask/fixtures/domain/CreateInstanceRootTaskKindFixtures.ts
  packages/iocuak/src/createInstanceTask/fixtures/domain/CreateInstanceTaskKindFixtures.ts
  packages/iocuak/src/createInstanceTask/fixtures/domain/GetInstanceDependenciesTaskKindFixtures.ts
  packages/iocuak/src/createInstanceTask/fixtures/domain/ServiceDependenciesFixtures.ts
  packages/iocuak/src/createInstanceTask/models/cuaktask/CreateArrayTask.spec.ts
  packages/iocuak/src/createInstanceTask/models/cuaktask/CreateArrayTask.ts
  packages/iocuak/src/createInstanceTask/models/cuaktask/CreateInstanceTask.spec.ts
  packages/iocuak/src/createInstanceTask/models/cuaktask/CreateInstanceTask.ts
  packages/iocuak/src/createInstanceTask/models/cuaktask/GetInstanceDependenciesTask.spec.ts
  packages/iocuak/src/createInstanceTask/models/cuaktask/GetInstanceDependenciesTask.ts
  packages/iocuak/src/createInstanceTask/models/domain/BaseServiceTaskKind.ts
  packages/iocuak/src/createInstanceTask/models/domain/BaseTaskKind.ts
  packages/iocuak/src/createInstanceTask/models/domain/CreateArrayTaskKind.ts
  packages/iocuak/src/createInstanceTask/models/domain/CreateInstanceRootTaskKind.ts
  packages/iocuak/src/createInstanceTask/models/domain/CreateInstanceTaskKind.ts
  packages/iocuak/src/createInstanceTask/models/domain/GetInstanceDependenciesTaskKind.ts
  packages/iocuak/src/createInstanceTask/models/domain/ServiceDependencies.ts
  packages/iocuak/src/createInstanceTask/models/domain/TaskKind.ts
  packages/iocuak/src/createInstanceTask/models/domain/TaskKindType.ts
  packages/iocuak/src/createInstanceTask/modules/CreateInstancesTaskDependenciesOperation.spec.ts
  packages/iocuak/src/createInstanceTask/modules/CreateInstancesTaskDependenciesOperation.ts
  packages/iocuak/src/createInstanceTask/modules/CreateInstancesTaskDependencyEngine.spec.ts
  packages/iocuak/src/createInstanceTask/modules/CreateInstancesTaskDependencyEngine.ts
  packages/iocuak/src/createInstanceTask/modules/TaskBuilder.ts
  packages/iocuak/src/createInstanceTask/modules/TaskBuilderWithNoDependencies.spec.ts
  packages/iocuak/src/createInstanceTask/modules/TaskBuilderWithNoDependencies.ts
  packages/iocuak/src/createInstanceTask/modules/TaskKindSet.spec.ts
  packages/iocuak/src/createInstanceTask/modules/TaskKindSet.ts
  packages/iocuak/src/createInstanceTask/utils/isTaskKind.spec.ts
  packages/iocuak/src/createInstanceTask/utils/isTaskKind.ts
Due: iocuak

chore(iocuak): add Handler module IOC-9
  packages/iocuak/src/common/modules/domain/Handler.ts
Due: iocuak

refactor(iocuak): add GraphExpandCommand IOC-10
  packages/iocuak/src/common/models/cuaktask/GraphExpandCommand.ts
Due: iocuak

refactor(iocuak): rename GetInstanceDependenciesTask to GetInstanceDependenciesDependentTask
  packages/iocuak/src/createInstanceTask/models/cuaktask/GetInstanceDependenciesDependentTask.spec.ts
  packages/iocuak/src/createInstanceTask/models/cuaktask/GetInstanceDependenciesDependentTask.ts
  packages/iocuak/src/createInstanceTask/modules/TaskBuilderWithNoDependencies.spec.ts
  packages/iocuak/src/createInstanceTask/modules/TaskBuilderWithNoDependencies.ts
Due: iocuak

refactor(iocuak): rename CreateInstanceTask rename CreateInstanceTask to CreateInstanceDependentTask
  packages/iocuak/src/container/services/cuaktask/ContainerInstanceServiceImplementation.ts
  packages/iocuak/src/createInstanceTask/models/cuaktask/CreateInstanceDependentTask.spec.ts
  packages/iocuak/src/createInstanceTask/models/cuaktask/CreateInstanceDependentTask.ts
  packages/iocuak/src/createInstanceTask/modules/TaskBuilderWithNoDependencies.spec.ts
  packages/iocuak/src/createInstanceTask/modules/TaskBuilderWithNoDependencies.ts
Due: iocuak

refactor(iocuak): updateTaskKindType update TaskKindType with getCachedInstance
  packages/iocuak/src/createInstanceTask/models/domain/TaskKindType.ts
Due: iocuak

chore(github): update gh build action dependencies
  .github/workflows/build.yml
Due: none

chore(github): update ci build
  .github/workflows/build.yml
Due: none

refactor(iocuak): add CreateInstanceTask
  packages/iocuak/src/createInstanceTask/models/cuaktask/CreateInstanceTask.spec.ts
  packages/iocuak/src/createInstanceTask/models/cuaktask/CreateInstanceTask.ts
Due: iocuak

refactor(iocuak): add GetInstanceDependenciesTask
  packages/iocuak/src/createInstanceTask/models/cuaktask/GetInstanceDependenciesTask.spec.ts
  packages/iocuak/src/createInstanceTask/models/cuaktask/GetInstanceDependenciesTask.ts
Due: iocuak

refactor(cuaktask): update Task with default generic types
  packages/cuaktask/src/task/mocks/models/domain/TaskMocks.ts
  packages/cuaktask/src/task/models/domain/Task.ts
  packages/cuaktask/src/task/modules/RootedTaskGraphRunner.spec.ts
  packages/cuaktask/src/task/modules/RootedTaskGraphRunner.ts
  packages/iocuak/src/common/models/cuaktask/GraphExpandCommand.ts
Due: cuaktask, iocuak

refactor(iocuak): add CreateInstanceTaskGraphExpandCommand
  packages/iocuak/src/createInstanceTask/models/cuaktask/CreateInstanceTaskGraphExpandCommand.ts
Due: iocuak

refactor(iocuak): add GetInstanceDependenciesTaskGraphExpandCommand
  packages/iocuak/src/createInstanceTask/models/cuaktask/GetInstanceDependenciesTaskGraphExpandCommand.ts
Due: iocuak

refactor(iocuak): update GetInstanceDependenciesTask to extend BaseTask
  packages/iocuak/src/createInstanceTask/models/cuaktask/GetInstanceDependenciesTask.ts
Due: iocuak

refactor(iocuak): update Node with optional TDependencyElem
  packages/cuaktask/src/graph/models/domain/Node.ts
Due: cuaktask

refactor(iocuak): update commands types to store more generic nodes
  packages/iocuak/src/createInstanceTask/models/cuaktask/CreateInstanceTaskGraphExpandCommand.ts
  packages/iocuak/src/createInstanceTask/models/cuaktask/GetInstanceDependenciesTaskGraphExpandCommand.ts
Due: iocuak

refactor(iocuak): update GraphExpandCommand to be TaskGraphExpandCommand
  packages/iocuak/src/common/models/cuaktask/GraphExpandCommand.ts
  packages/iocuak/src/common/models/cuaktask/TaskGraphExpandCommand.ts
  packages/iocuak/src/createInstanceTask/models/cuaktask/CreateInstanceTaskGraphExpandCommand.ts
  packages/iocuak/src/createInstanceTask/models/cuaktask/GetInstanceDependenciesTaskGraphExpandCommand.ts
Due: iocuak

feat(cuaktask): update index to export NodeDependenciesType
  packages/cuaktask/src/index.ts
Due: cuaktask

refactor(iocuak): update TaskGraphExpandCommand with context
  packages/iocuak/src/common/models/cuaktask/TaskGraphExpandCommand.ts
  packages/iocuak/src/common/models/cuaktask/TaskGraphExpandOperationContext.ts
  packages/iocuak/src/createInstanceTask/models/cuaktask/CreateInstanceTaskGraphExpandCommand.ts
  packages/iocuak/src/createInstanceTask/models/cuaktask/CreateInstanceTaskGraphExpandOperationContext.ts
  packages/iocuak/src/createInstanceTask/models/cuaktask/GetInstanceDependenciesTaskGraphExpandCommand.ts
Due: iocuak

refactor(iocuak): add CreateInstanceTaskGraphExpandCommandHandler
  packages/iocuak/src/createInstanceTask/fixtures/domain/CreateInstanceTaskKindFixtures.ts
  packages/iocuak/src/createInstanceTask/modules/cuaktask/CreateInstanceTaskGraphExpandCommandHandler.spec.ts
  packages/iocuak/src/createInstanceTask/modules/cuaktask/CreateInstanceTaskGraphExpandCommandHandler.ts
Due: iocuak

refactor(iocuak): add CreateInstanceTaskLazyNode
  packages/iocuak/src/createInstanceTask/modules/cuaktask/CreateInstanceTaskLazyNode.spec.ts
  packages/iocuak/src/createInstanceTask/modules/cuaktask/CreateInstanceTaskLazyNode.ts
Due: iocuak

chore(package): update dependencies
  package.json
Due: none

chore(pretier): update prettier config with unnecesary parser
  .prettierrc
Due: none

refactor(iocuak): add GetCachedInstanceTaskKind
  packages/iocuak/src/createInstanceTask/models/domain/GetCachedInstanceTaskKind.ts
Due: iocuak

refactor(iocuak): add GetCachedInstanceTask
  packages/iocuak/src/createInstanceTask/models/cuaktask/GetCachedInstanceTask.spec.ts
  packages/iocuak/src/createInstanceTask/models/cuaktask/GetCachedInstanceTask.ts
Due: iocuak

refactor(iocuak): update CreateInstanceTask with additional TBinding
  packages/iocuak/src/createInstanceTask/models/cuaktask/CreateInstanceTask.spec.ts
  packages/iocuak/src/createInstanceTask/models/cuaktask/CreateInstanceTask.ts
Due: iocuak

fix(iocuak): add missing GetCachedInstanceTaskKindFixtures
  packages/iocuak/src/createInstanceTask/fixtures/domain/GetCachedInstanceTaskKindFixtures.ts
Due: iocuak

refactor(iocuak): update TaskKind with GetCachedInstanceTaskKind
  packages/iocuak/src/createInstanceTask/models/domain/TaskKind.ts
  packages/iocuak/src/createInstanceTask/modules/CreateInstancesTaskDependenciesOperation.ts
  packages/iocuak/src/createInstanceTask/modules/TaskBuilderWithNoDependencies.ts
  packages/iocuak/src/createInstanceTask/modules/TaskKindSet.ts
Due: iocuak

Path conditions:
  cuaktask: any of: packages/cuaktask/
  iocuak: any of: packages/iocuak/
  porygon: any of: packages/porygon/
  porygon-typeorm: any of: packages/porygon-typeorm/
