Repository cuaklabs/iocuak: changes, and which Codecov flags are due for each by the changed paths.
All: iocuak, iocuak-models, iocuak-reflect-metadata-utils, porygon, porygon-typeorm

codecov.yml:

coverage:
  status:
    project:
      default: off
      iocuak:
        flags: 
          - iocuak
      iocuak-models:
        flags:
          - iocuak-models
      iocuak-reflect-metadata-utils:
        flags: 
          - iocuak-reflect-metadata-utils
      porygon:
        flags:
          - porygon
      porygon-typeorm:
        flags:
          - porygon-typeorm

flags:
  iocuak:
    paths:
      - packages/iocuak/
  iocuak-models:
    paths: packages/iocuak-models/
  iocuak-reflect-metadata-utils:
    paths:
      - packages/iocuak-reflect-metadata-utils/
  porygon:
    paths:
      - packages/porygon/
  porygon-typeorm:
    paths:
      - packages/porygon-typeorm/

refactor(iocuak-core): add ContainerRequestServiceImplementation
  packages/iocuak-core/src/container/services/domain/ContainerRequestServiceImplementation.spec.ts
  packages/iocuak-core/src/container/services/domain/ContainerRequestServiceImplementation.ts
Due: none

refactor(iocuak-core): add ContainerSingletonServiceImplementation
  packages/iocuak-core/src/container/services/domain/ContainerSingletonServiceImplementation.spec.ts
  packages/iocuak-core/src/container/services/domain/ContainerSingletonServiceImplementation.ts
Due: none

refactor(containerModule): add ContainerModule
  packages/iocuak-core/src/containerModule/models/domain/ContainerModule.ts
Due: none

refactor(iocuak-core): add ContainerModuleClassMetadata models
  packages/iocuak-core/src/containerModuleMetadata/models/domain/ContainerModuleClassMetadata.ts
  packages/iocuak-core/src/containerModuleMetadata/models/domain/ContainerModuleFactoryMetadata.ts
  packages/iocuak-core/src/containerModuleMetadata/models/domain/ContainerModuleMetadata.ts
  packages/iocuak-core/src/containerModuleMetadata/models/domain/ContainerModuleMetadataBase.ts
  packages/iocuak-core/src/containerModuleMetadata/models/domain/ContainerModuleMetadataType.ts
Due: none

refactor(iocuak-core): loadFromContainerModuleClassMetadata
  packages/iocuak-core/src/task/actions/domain/loadFromContainerModuleClassMetadata.spec.ts
  packages/iocuak-core/src/task/actions/domain/loadFromContainerModuleClassMetadata.ts
Due: none

refactor(iocuak-core): add loadFromContainerModuleFactoryMetadata
  packages/iocuak-core/src/task/actions/domain/loadFromContainerModuleFactoryMetadata.spec.ts
  packages/iocuak-core/src/task/actions/domain/loadFromContainerModuleFactoryMetadata.ts
Due: none

refactor(iocuak-core): add loadContainerModuleElement
  packages/iocuak-core/src/task/actions/domain/loadContainerModuleElement.spec.ts
  packages/iocuak-core/src/task/actions/domain/loadContainerModuleElement.ts
Due: none

refactor(iocuak-core): add loadContainerModuleElementAsync
  packages/iocuak-core/src/containerModuleMetadata/mocks/models/domain/ContainerModuleMetadataMocks.ts
  packages/iocuak-core/src/task/actions/domain/loadContainerModuleElementAsync.spec.ts
  packages/iocuak-core/src/task/actions/domain/loadContainerModuleElementAsync.ts
Due: none

refactor(iocuak-core): add loadContainerModule
  packages/iocuak-core/src/task/actions/domain/loadContainerModule.spec.ts
  packages/iocuak-core/src/task/actions/domain/loadContainerModule.ts
Due: none

feat(iocuak-core): expose service modules
  packages/iocuak-core/CHANGELOG.md
  packages/iocuak-core/src/index.ts
Due: none

chore(iocuak): add iocuak-core dependency
  packages/iocuak/package.json
Due: iocuak

refactor(iocuak): remove services in favor of iocuak-core ones
  packages/iocuak/src/binding/services/domain/BindingService.ts
  packages/iocuak/src/binding/services/domain/BindingServiceImplementation.spec.ts
  packages/iocuak/src/binding/services/domain/BindingServiceImplementation.ts
  packages/iocuak/src/container/modules/api/ContainerApi.spec.ts
  packages/iocuak/src/container/modules/api/ContainerApi.ts
  packages/iocuak/src/container/services/api/ContainerServiceApiImplementation.spec.ts
  packages/iocuak/src/container/services/domain/ContainerRequestService.ts
  packages/iocuak/src/container/services/domain/ContainerRequestServiceImplementation.spec.ts
  packages/iocuak/src/container/services/domain/ContainerRequestServiceImplementation.ts
  packages/iocuak/src/container/services/domain/ContainerService.ts
  packages/iocuak/src/container/services/domain/ContainerSingletonService.ts
  packages/iocuak/src/container/services/domain/ContainerSingletonServiceImplementation.spec.ts
  packages/iocuak/src/container/services/domain/ContainerSingletonServiceImplementation.ts
  packages/iocuak/src/container/utils/bind.spec.ts
  packages/iocuak/src/container/utils/bind.ts
  packages/iocuak/src/container/utils/bindToValue.spec.ts
  packages/iocuak/src/container/utils/bindToValue.ts
  packages/iocuak/src/containerModule/models/domain/ContainerModule.ts
  packages/iocuak/src/containerModule/utils/api/convertToContainerModule.spec.ts
  packages/iocuak/src/containerModule/utils/api/convertToContainerModule.ts
  packages/iocuak/src/containerModuleMetadata/actions/api/convertToContainerModuleMetadata.spec.ts
  packages/iocuak/src/containerModuleMetadata/actions/api/convertToContainerModuleMetadata.ts
  packages/iocuak/src/containerModuleMetadata/models/domain/ContainerModuleClassMetadata.ts
  packages/iocuak/src/task/actions/domain/createInstanceInRequestScope.spec.ts
  packages/iocuak/src/task/actions/domain/createInstanceInSingletonScope.spec.ts
  packages/iocuak/src/task/actions/domain/createInstancesByTag.spec.ts
  packages/iocuak/src/task/actions/domain/getBinding.spec.ts
  packages/iocuak/src/task/actions/domain/loadFromContainerModuleClassMetadata.spec.ts
  packages/iocuak/src/task/actions/domain/loadFromContainerModuleClassMetadata.ts
  packages/iocuak/src/task/actions/domain/loadFromContainerModuleFactoryMetadata.spec.ts
  packages/iocuak/src/task/models/domain/TaskContextServices.ts
Due: iocuak

feat(iocuak-core): expose createInstance modules
  packages/iocuak-core/CHANGELOG.md
  packages/iocuak-core/src/index.ts
Due: none

feat(iocuak-core): expose createInstancesByTag and loadContainerModule
  packages/iocuak-core/CHANGELOG.md
  packages/iocuak-core/src/index.ts
Due: none

refactor(iocuak): update ContainerServiceApiImplementation to rely on iocuak-core
  packages/iocuak/src/container/services/api/ContainerServiceApiImplementation.spec.ts
  packages/iocuak/src/container/services/api/ContainerServiceApiImplementation.ts
Due: iocuak

refactor(iocuak): remove unused modules
  packages/iocuak/src/task/actions/domain/createInstance.spec.ts
  packages/iocuak/src/task/actions/domain/createInstance.ts
  packages/iocuak/src/task/actions/domain/createInstanceFromBinding.spec.ts
  packages/iocuak/src/task/actions/domain/createInstanceFromBinding.ts
  packages/iocuak/src/task/actions/domain/createInstanceFromTypeBinding.spec.ts
  packages/iocuak/src/task/actions/domain/createInstanceFromTypeBinding.ts
  packages/iocuak/src/task/actions/domain/createInstanceInRequestScope.spec.ts
  packages/iocuak/src/task/actions/domain/createInstanceInRequestScope.ts
  packages/iocuak/src/task/actions/domain/createInstanceInSingletonScope.spec.ts
  packages/iocuak/src/task/actions/domain/createInstanceInSingletonScope.ts
  packages/iocuak/src/task/actions/domain/createInstanceInTransientScope.spec.ts
  packages/iocuak/src/task/actions/domain/createInstanceInTransientScope.ts
  packages/iocuak/src/task/actions/domain/createInstancesByTag.spec.ts
  packages/iocuak/src/task/actions/domain/createInstancesByTag.ts
  packages/iocuak/src/task/actions/domain/getBinding.spec.ts
  packages/iocuak/src/task/actions/domain/getBinding.ts
  packages/iocuak/src/task/actions/domain/getDependencies.spec.ts
  packages/iocuak/src/task/actions/domain/getDependencies.ts
  packages/iocuak/src/task/actions/domain/getDependency.spec.ts
  packages/iocuak/src/task/actions/domain/getDependency.ts
  packages/iocuak/src/task/actions/domain/loadContainerModule.spec.ts
  packages/iocuak/src/task/actions/domain/loadContainerModule.ts
  packages/iocuak/src/task/actions/domain/loadContainerModuleElement.spec.ts
  packages/iocuak/src/task/actions/domain/loadContainerModuleElement.ts
  packages/iocuak/src/task/actions/domain/loadContainerModuleElementAsync.spec.ts
  packages/iocuak/src/task/actions/domain/loadContainerModuleElementAsync.ts
  packages/iocuak/src/task/actions/domain/loadFromContainerModuleClassMetadata.spec.ts
  packages/iocuak/src/task/actions/domain/loadFromContainerModuleClassMetadata.ts
  packages/iocuak/src/task/actions/domain/loadFromContainerModuleFactoryMetadata.spec.ts
  packages/iocuak/src/task/actions/domain/loadFromContainerModuleFactoryMetadata.ts
Due: iocuak

refactor(iocuak): remove unused fixtures
  packages/iocuak/src/binding/fixtures/domain/TypeBindingFixtures.ts
  packages/iocuak/src/classMetadata/fixtures/domain/ClassMetadataFixtures.ts
Due: iocuak

chore(iocuak-core): add iocuak-reflect-metadata-utils dependency
  packages/iocuak-core/package.json
Due: none

refactor(iocuak-core): add getBindingMetadata
  packages/iocuak-core/src/binding/utils/domain/getBindingMetadata.spec.ts
  packages/iocuak-core/src/binding/utils/domain/getBindingMetadata.ts
Due: none

refactor(iocuak-core): add getClassMetadata
  packages/iocuak-core/src/classMetadata/utils/getClassMetadata.spec.ts
  packages/iocuak-core/src/classMetadata/utils/getClassMetadata.ts
Due: none

refactor(iocuak-core): update getBindingOrThrow to rely on iocuak-core getBindingMetadata
  packages/iocuak-core/src/binding/utils/domain/getBindingOrThrow.spec.ts
  packages/iocuak-core/src/binding/utils/domain/getBindingOrThrow.ts
Due: none

refactor(iocuak-core): update createInstanceInTransientScope to use iocuak-core modules
  packages/iocuak-core/src/task/actions/domain/createInstanceInTransientScope.spec.ts
  packages/iocuak-core/src/task/actions/domain/createInstanceInTransientScope.ts
Due: none

feat(iocuak-core): expose container module models and modules
  packages/iocuak-core/CHANGELOG.md
  packages/iocuak-core/src/index.ts
Due: none

refactor(iocuak): update bind to rely on iocuak-core modules
  packages/iocuak/src/container/utils/bind.spec.ts
  packages/iocuak/src/container/utils/bind.ts
Due: iocuak

refactor(iocuak): update convertToContainerModule modules to rely on iocuak-core modules
  packages/iocuak/src/containerModule/utils/api/convertToContainerModule.spec.ts
  packages/iocuak/src/containerModule/utils/api/convertToContainerModule.ts
  packages/iocuak/src/containerModule/utils/api/convertToContainerModuleAsync.ts
  packages/iocuak/src/containerModuleMetadata/actions/api/convertToContainerModuleMetadata.spec.ts
  packages/iocuak/src/containerModuleMetadata/actions/api/convertToContainerModuleMetadata.ts
Due: iocuak

refactor(iocuak): update ContainerModuleMetadata models to rely on iocuak-core modules
  packages/iocuak/src/containerModuleMetadata/mocks/models/domain/ContainerModuleMetadataMocks.ts
  packages/iocuak/src/containerModuleMetadata/models/domain/ContainerModuleFactoryMetadata.ts
  packages/iocuak/src/containerModuleMetadata/models/domain/ContainerModuleMetadata.ts
Due: iocuak

refactor(iocuak): update MetadataServiceApiImplementation to rely on iocuak-core modules
  packages/iocuak/src/metadata/services/api/MetadataServiceApiImplementation.spec.ts
  packages/iocuak/src/metadata/services/api/MetadataServiceApiImplementation.ts
Due: iocuak

refactor(iocuak): remove unused modules
  packages/iocuak/src/binding/utils/domain/getBindingOrThrow.spec.ts
  packages/iocuak/src/binding/utils/domain/getBindingOrThrow.ts
  packages/iocuak/src/binding/utils/domain/lazyGetBindingOrThrow.spec.ts
  packages/iocuak/src/binding/utils/domain/lazyGetBindingOrThrow.ts
  packages/iocuak/src/binding/utils/domain/removeBindingDuplicates.ts
  packages/iocuak/src/common/models/domain/PickKeys.ts
  packages/iocuak/src/common/models/domain/Prototype.ts
  packages/iocuak/src/common/modules/domain/Builder.ts
  packages/iocuak/src/common/modules/domain/Handler.ts
  packages/iocuak/src/common/utils/chain.spec.ts
  packages/iocuak/src/common/utils/chain.ts
  packages/iocuak/src/containerModule/models/domain/ContainerModule.ts
Due: iocuak

feat(iocuak-models): remove getBindingMetadata and getClassMetadata
  packages/iocuak-models/CHANGELOG.md
  packages/iocuak-models/src/binding/utils/getBindingMetadata.spec.ts
  packages/iocuak-models/src/binding/utils/getBindingMetadata.ts
  packages/iocuak-models/src/classMetadata/utils/getClassMetadata.spec.ts
  packages/iocuak-models/src/classMetadata/utils/getClassMetadata.ts
  packages/iocuak-models/src/index.ts
Due: iocuak-models

refactor(iocuak): remove unused mocks
  packages/iocuak/src/container/services/api/ContainerServiceApiImplementation.ts
  packages/iocuak/src/containerModuleMetadata/mocks/models/domain/ContainerModuleMetadataMocks.ts
Due: iocuak

refactor(iocuak): update ContainerServiceApiImplementation to use iocuak-core modules
  packages/iocuak/src/container/services/api/ContainerServiceApiImplementation.spec.ts
Due: iocuak

refactor(iocuak): remove unused modules
  packages/iocuak/src/task/models/domain/ServiceDependencies.ts
  packages/iocuak/src/task/models/domain/TaskContext.ts
  packages/iocuak/src/task/models/domain/TaskContextActions.ts
  packages/iocuak/src/task/models/domain/TaskContextServices.ts
  packages/iocuak/src/utils/stringifyServiceId.spec.ts
  packages/iocuak/src/utils/stringifyServiceId.ts
Due: iocuak

refactor(iocuak): update ContainerServiceApiImplementation to rely on iocuak-core modules
  packages/iocuak/src/container/services/api/ContainerServiceApiImplementation.spec.ts
  packages/iocuak/src/container/services/api/ContainerServiceApiImplementation.ts
Due: iocuak

feat(iocuak-core): expose ContainerModuleMetadataType
  packages/iocuak-core/CHANGELOG.md
  packages/iocuak-core/src/index.ts
Due: none

refactor(iocuak): update convertToContainerModuleMetadata to use iocuak-core modules
  packages/iocuak/src/containerModuleMetadata/actions/api/convertToContainerModuleMetadata.spec.ts
  packages/iocuak/src/containerModuleMetadata/actions/api/convertToContainerModuleMetadata.ts
Due: iocuak

refactor(iocuak): remove unused modules
  packages/iocuak/src/containerModuleMetadata/models/domain/ContainerModuleClassMetadata.ts
  packages/iocuak/src/containerModuleMetadata/models/domain/ContainerModuleFactoryMetadata.ts
  packages/iocuak/src/containerModuleMetadata/models/domain/ContainerModuleMetadata.ts
  packages/iocuak/src/containerModuleMetadata/models/domain/ContainerModuleMetadataBase.ts
Due: iocuak

chore: add iocuak-scripts package
  packages/iocuak-scripts/index.js
  packages/iocuak-scripts/package.json
Due: none

chore: add iocuak-scripts dependency
  package.json
Due: none

feat(iocuak-scripts): add getAffectedProjects script
  packages/iocuak-scripts/bin/getAffectedProjects.js
  packages/iocuak-scripts/src/promisifiedExec.js
Due: none
