Repository cuaklabs/iocuak: changes, and which Codecov flags are due for each by the changed paths.
All: iocuak, iocuak-common, iocuak-decorators, iocuak-models, iocuak-reflect-metadata-utils

feat(iocuak-jest-config): expose getJestJsProjectConfig and getJestTsProjectConfig
  packages/iocuak-jest-config/lib/index.js
Due: none

chore(iocuak-models): remove unused fixtures class
  packages/iocuak-models/src/classMetadata/fixtures/ClassMetadataFixtures.ts
Due: iocuak-models

chore(iocuak-models): polish ts config
  packages/iocuak-models/package.json
  packages/iocuak-models/tsconfig.dev.json
  packages/iocuak-models/tsconfig.json
Due: iocuak-models

chore(iocuak-models-api): polish ts config
  packages/iocuak-models-api/package.json
  packages/iocuak-models-api/tsconfig.dev.json
  packages/iocuak-models-api/tsconfig.json
Due: none

chore(iocuak-reflect-metadata-utils): add mutation tests and polish ts config
  packages/iocuak-reflect-metadata-utils/.gitignore
  packages/iocuak-reflect-metadata-utils/jest.config.stryker.mjs
  packages/iocuak-reflect-metadata-utils/package.json
  packages/iocuak-reflect-metadata-utils/stryker.conf.json
  packages/iocuak-reflect-metadata-utils/tsconfig.dev.json
  packages/iocuak-reflect-metadata-utils/tsconfig.json
Due: iocuak-reflect-metadata-utils

feat(typescript-config-iocuak): remove composite base config
  packages/typescript-config-iocuak/tsconfig.base.composite.json
Due: none

chore(turborepo): add mutation test config
  turbo.json
Due: none

chore(jest): remove unused global config
  config/jest/jest.config.base.mjs
  config/jest/jest.config.striker.mjs
Due: none

chore(stryker): remove unused global config
  stryker.conf.json
Due: none

chore: rely on turborepo for mutation testing and remove unused dependencies
  package.json
Due: none

refactor(iocuak): update convertToContainerModuleMetadata to rely on iocuak-common
  packages/iocuak/src/common/utils/isPromiseLike.spec.ts
  packages/iocuak/src/common/utils/isPromiseLike.ts
  packages/iocuak/src/containerModuleMetadata/actions/api/convertToContainerModuleMetadata.ts
Due: iocuak

test(iocuak): add fixtures
  packages/iocuak/src/binding/fixtures/domain/TypeBindingFixtures.ts
  packages/iocuak/src/binding/fixtures/domain/ValueBindingFixtures.ts
Due: iocuak

test(iocuak): add tests to cover tag binding management
  packages/iocuak/src/binding/utils/api/convertBindingToBindingApi.spec.ts
  packages/iocuak/src/binding/utils/domain/bindToValue.spec.ts
  packages/iocuak/src/containerModule/utils/api/convertToContainerModule.spec.ts
Due: iocuak

test(iocuak): prune jest-mock-usages
  packages/iocuak/src/binding/utils/domain/bind.spec.ts
  packages/iocuak/src/container/modules/api/ContainerApi.spec.ts
  packages/iocuak/src/container/services/api/ContainerServiceApiImplementation.spec.ts
  packages/iocuak/src/containerModuleMetadata/actions/api/convertToContainerModuleMetadata.spec.ts
  packages/iocuak/src/metadata/services/api/MetadataServiceApiImplementation.spec.ts
Due: iocuak

test(iocuak-common): prune jest-mock-usages
  packages/iocuak-common/package.json
Due: iocuak-common

test(iocuak-core): prune jest-mock-usages
  packages/iocuak-core/package.json
  packages/iocuak-core/src/binding/utils/getBindingOrThrow.spec.ts
  packages/iocuak-core/src/binding/utils/lazyGetBindingOrThrow.spec.ts
  packages/iocuak-core/src/classMetadata/utils/getClassMetadata.spec.ts
  packages/iocuak-core/src/task/actions/createInstance.spec.ts
  packages/iocuak-core/src/task/actions/createInstanceFromBinding.spec.ts
  packages/iocuak-core/src/task/actions/createInstanceFromTypeBinding.spec.ts
  packages/iocuak-core/src/task/actions/createInstanceInRequestScope.spec.ts
  packages/iocuak-core/src/task/actions/createInstanceInSingletonScope.spec.ts
  packages/iocuak-core/src/task/actions/createInstanceInTransientScope.spec.ts
  packages/iocuak-core/src/task/actions/createInstancesByTag.spec.ts
  packages/iocuak-core/src/task/actions/getBinding.spec.ts
  packages/iocuak-core/src/task/actions/getDependencies.spec.ts
  packages/iocuak-core/src/task/actions/getDependency.spec.ts
  packages/iocuak-core/src/task/actions/loadContainerModule.spec.ts
  packages/iocuak-core/src/task/actions/loadFromContainerModuleClassMetadata.spec.ts
  packages/iocuak-core/src/task/actions/loadFromContainerModuleFactoryMetadata.spec.ts
Due: none

test(iocuak-decorators): prune jest-mock-usages
  packages/iocuak-decorators/package.json
  packages/iocuak-decorators/src/classMetadata/decorators/inject.spec.ts
  packages/iocuak-decorators/src/classMetadata/decorators/injectBase.spec.ts
  packages/iocuak-decorators/src/classMetadata/decorators/injectFrom.spec.ts
  packages/iocuak-decorators/src/classMetadata/decorators/injectFromBase.spec.ts
  packages/iocuak-decorators/src/classMetadata/decorators/injectTag.spec.ts
Due: iocuak-decorators

test(iocuak-models): prune jest-mock-usages
  packages/iocuak-models/package.json
Due: iocuak-models

test(iocuak-models-api): prune jest-mock-usages
  packages/iocuak-models-api/package.json
Due: none

test(iocuak-reflect-metadata-utils): prune jest-mock-usages
  packages/iocuak-reflect-metadata-utils/package.json
  packages/iocuak-reflect-metadata-utils/src/reflectMetadata/utils/updateReflectMetadata.spec.ts
Due: iocuak-reflect-metadata-utils

chore(typescript): remove unused root config
  tsconfig.json
Due: none

feat(iocuak-scripts): update getAffectedProjects with optional base ref
  packages/iocuak-scripts/bin/getAffectedProjects.js
Due: none

chore(gh): update build workflow to no longer collect coverage
  .github/workflows/build.yml
Due: none

chore(github): add collect-coverage to collect coverage every sunday at night
  .github/workflows/collect-coverage.yaml
Due: none

fix(github): update collect-coverage cron with right base ref
  .github/workflows/collect-coverage.yaml
Due: none

chore(github): remove collect coverage lint step
  .github/workflows/collect-coverage.yaml
Due: none

chore(github): update collect-coverage codecov branch
  .github/workflows/collect-coverage.yaml
Due: none

docs: update readme badges
  packages/iocuak-common/README.md
  packages/iocuak-decorators/README.md
  packages/iocuak-models-api/README.md
Due: iocuak-common, iocuak-decorators

chore(iocuak-benchmarks): fix wromg dependencies to be dev dependencies
  packages/iocuak-benchmark/package.json
Due: none

chore(iocuak-models): remove test scripts
  packages/iocuak-models/jest.config.mjs
  packages/iocuak-models/jest.js.config.mjs
  packages/iocuak-models/package.json
Due: iocuak-models

feat(iocuak-jest-config): update jest config without passWithNoTests
  packages/iocuak-jest-config/lib/index.js
Due: none

chore: remove test:js:coverage in favor of test:unit:js:coverage
  .github/workflows/collect-coverage.yaml
  package.json
  packages/iocuak-common/package.json
  packages/iocuak-core/package.json
  packages/iocuak-decorators/package.json
  packages/iocuak-jest-config/lib/index.js
  packages/iocuak-models-api/package.json
  packages/iocuak-reflect-metadata-utils/package.json
  packages/iocuak/package.json
  turbo.json
Due: iocuak, iocuak-common, iocuak-decorators, iocuak-reflect-metadata-utils

docs: remove unnecesary test coverage badges
  packages/iocuak-models-api/README.md
  packages/iocuak-models/README.md
Due: iocuak-models

chore(github): update collect coverage workflow with right affected script call
  .github/workflows/collect-coverage.yaml
Due: none

chore(vscode): remove wrong launch config files
  .vscode/launch.json
Due: none

docs: add debugging notes
  docs/debugging.md
Due: none

chore(git): update gitignore with pnpm-lock.yaml root files
  packages/iocuak-benchmark/.gitignore
  packages/iocuak-common/.gitignore
  packages/iocuak-core/.gitignore
  packages/iocuak-decorators/.gitignore
  packages/iocuak-e2e/.gitignore
  packages/iocuak-models-api/.gitignore
  packages/iocuak-models/.gitignore
  packages/iocuak-reflect-metadata-utils/.gitignore
  packages/iocuak-scripts/.gitignore
  packages/iocuak/.gitignore
  packages/typescript-config-iocuak/.gitignore
Due: iocuak, iocuak-common, iocuak-decorators, iocuak-models, iocuak-reflect-metadata-utils

test(iocuak-core): update BindingServiceImplementation with missing test
  packages/iocuak-core/src/binding/services/BindingServiceImplementation.spec.ts
Due: none

test(iocuak-core): update createInstanceInTransientScope spec to properly test propery assignments
  packages/iocuak-core/src/task/actions/createInstanceInTransientScope.spec.ts
Due: none

test(iocuak-decorators): update injectFromBase spec with missing test
  packages/iocuak-decorators/src/classMetadata/decorators/injectFromBase.spec.ts
Due: iocuak-decorators

Path conditions:
  iocuak: any of: packages/iocuak/
  iocuak-common: any of: packages/iocuak-common/
  iocuak-decorators: any of: packages/iocuak-decorators/
  iocuak-models: any of: packages/iocuak-models/
  iocuak-reflect-metadata-utils: any of: packages/iocuak-reflect-metadata-utils/
