Repository cuaklabs/iocuak: changes, and which Codecov flags are due for each by the changed paths.
All: iocuak, iocuak-common, iocuak-decorators, iocuak-models, iocuak-reflect-metadata-utils

chore(iocuak-e2e): update test config to target cjs
  packages/iocuak-e2e/config/cucumber/cucumber.js.config.cjs.mjs
  packages/iocuak-e2e/config/cucumber/cucumber.ts.config.cjs.mjs
Due: none

chore: add tsconfig.json files until vscode supports proper custom ts config files
  packages/iocuak-common/.npmignore
  packages/iocuak-common/tsconfig.json
  packages/iocuak-core/.npmignore
  packages/iocuak-core/tsconfig.json
  packages/iocuak-decorators/.npmignore
  packages/iocuak-decorators/tsconfig.json
  packages/iocuak-e2e/config/cucumber/cucumber.js.config.cjs.mjs
  packages/iocuak-e2e/package.json
  packages/iocuak-e2e/tsconfig.cjs.json
  packages/iocuak-e2e/tsconfig.esm.json
  packages/iocuak-models-api/.npmignore
  packages/iocuak-models-api/tsconfig.json
  packages/iocuak-models/.npmignore
  packages/iocuak-models/tsconfig.json
  packages/iocuak-reflect-metadata-utils/.npmignore
  packages/iocuak-reflect-metadata-utils/tsconfig.json
  packages/iocuak/.npmignore
  packages/iocuak/tsconfig.json
Due: iocuak, iocuak-common, iocuak-decorators, iocuak-models, iocuak-reflect-metadata-utils

chore(iocuak-common): update esm build with a bundled one
  packages/iocuak-common/package.json
  packages/iocuak-common/rollup.config.mjs
  packages/iocuak-common/tsconfig.json
Due: iocuak-common

chore(vscode): update cucumber difinitions folders
  .vscode/settings.json
Due: none

chore: avoid non fixed constraint
  package.json
Due: none

chore(iocuak-models): update esm build with a bundled one
  packages/iocuak-models/package.json
  packages/iocuak-models/rollup.config.mjs
  packages/iocuak-models/tsconfig.json
Due: iocuak-models

chore(iocuak-models-api): update esm build with a bundled one
  packages/iocuak-models-api/package.json
  packages/iocuak-models-api/rollup.config.mjs
  packages/iocuak-models-api/tsconfig.json
Due: none

chore(iocuak-decorators): update esm build with a bundled one
  packages/iocuak-decorators/package.json
  packages/iocuak-decorators/rollup.config.mjs
  packages/iocuak-decorators/tsconfig.json
Due: iocuak-decorators

chore(iocuak-reflect-metadata-utils): update esm build with a bundled one
  packages/iocuak-reflect-metadata-utils/package.json
  packages/iocuak-reflect-metadata-utils/rollup.config.mjs
  packages/iocuak-reflect-metadata-utils/tsconfig.json
Due: iocuak-reflect-metadata-utils

chore(iocuak-core): update esm build with a bundled one
  packages/iocuak-core/package.json
  packages/iocuak-core/rollup.config.mjs
  packages/iocuak-core/tsconfig.json
Due: none

chore(iocuak): update esm build with a bundled one
  packages/iocuak/package.json
  packages/iocuak/rollup.config.mjs
  packages/iocuak/tsconfig.json
Due: iocuak

chore(iocuak-e2e): add cucumber esm config
  packages/iocuak-e2e/config/cucumber/cucumber.js.config.esm.mjs
Due: none

chore(iocuak-e2e): update test to target both cjs and esm builds
  packages/iocuak-e2e/package.json
  packages/iocuak-e2e/rollup.config.mjs
  packages/iocuak-e2e/tsconfig.json
Due: none

chore(turbo): add test:e2e:js:ci task
  turbo.json
Due: none

chore: update ci to test e2e with ci profile
  .github/workflows/build.yml
  package.json
Due: none

chore: update scripts with no all suffix
  .github/workflows/build.yml
  .github/workflows/collect-coverage.yaml
  package.json
Due: none

chore: add iocuak-rollup-config
  package.json
  packages/iocuak-rollup-config/.gitignore
  packages/iocuak-rollup-config/.lintstagedrc.json
  packages/iocuak-rollup-config/.prettierignore
  packages/iocuak-rollup-config/LICENSE
  packages/iocuak-rollup-config/lib/index.js
  packages/iocuak-rollup-config/lib/utils/isNodeExportWarning.js
  packages/iocuak-rollup-config/lib/utils/isTsLibRequiredWarning.js
  packages/iocuak-rollup-config/lib/utils/pathExists.js
  packages/iocuak-rollup-config/package.json
  packages/iocuak-rollup-config/prettier.config.cjs
Due: none

refactor(iocuak): adopt iocuak-rollup-config
  packages/iocuak/package.json
  packages/iocuak/rollup.config.mjs
Due: iocuak

refactor(iocuak-common): adopt iocuak-rollup-config
  packages/iocuak-common/package.json
  packages/iocuak-common/rollup.config.mjs
Due: iocuak-common

refactor(iocuak-core): adopt iocuak-rollup-config
  packages/iocuak-core/package.json
  packages/iocuak-core/rollup.config.mjs
Due: none

refactor(iocuak-decorators): adopt iocuak-rollup-config
  packages/iocuak-decorators/package.json
  packages/iocuak-decorators/rollup.config.mjs
Due: iocuak-decorators

refactor(iocuak-models): adopt iocuak-rollup-config
  packages/iocuak-models/package.json
  packages/iocuak-models/rollup.config.mjs
Due: iocuak-models

refactor(iocuak-models-api): adopt iocuak-rollup-config
  packages/iocuak-models-api/package.json
  packages/iocuak-models-api/rollup.config.mjs
Due: none

refactor(iocuak-reflect-metadata-utils): adopt iocuak-rollup-config
  packages/iocuak-reflect-metadata-utils/package.json
  packages/iocuak-reflect-metadata-utils/rollup.config.mjs
Due: iocuak-reflect-metadata-utils

chore: revert turbo to 1.7.4
  package.json
Due: none

chore(renovatebot): add turbo to the ignoredDeps list
  .github/renovate.json
Due: none

chore(renovatebot): update renovatebot to no longer ignore turbo
  .github/renovate.json
Due: none

chore: update turbo
  package.json
Due: none

chore: update build scripts to avoid bundle twice the same package
  packages/iocuak-common/package.json
  packages/iocuak-core/package.json
  packages/iocuak-decorators/package.json
  packages/iocuak-e2e/package.json
  packages/iocuak-models-api/package.json
  packages/iocuak-models/package.json
  packages/iocuak-reflect-metadata-utils/package.json
  packages/iocuak/package.json
Due: iocuak, iocuak-common, iocuak-decorators, iocuak-models, iocuak-reflect-metadata-utils

chore(rollup): add missing sourcemap output option
  packages/iocuak-e2e/rollup.config.mjs
Due: none

chore(rollup): update rollup config with external dependencies
  packages/iocuak-e2e/rollup.config.mjs
Due: none

chore(rollup): add onwarn handler to supress wrong warnings
  packages/iocuak-e2e/rollup.config.mjs
Due: none

chore(iocuak-common): bump version
  .changeset/light-squids-end.md
  packages/iocuak-common/.npmignore
  packages/iocuak-common/CHANGELOG.md
  packages/iocuak-common/package.json
Due: iocuak-common

chore(iocuak-reflect-metadata-utils): bump version
  .changeset/new-balloons-reply.md
  packages/iocuak-reflect-metadata-utils/.npmignore
  packages/iocuak-reflect-metadata-utils/CHANGELOG.md
  packages/iocuak-reflect-metadata-utils/package.json
Due: iocuak-reflect-metadata-utils

chore(iocuak-models): bump version
  .changeset/violet-cats-tease.md
  packages/iocuak-models/.npmignore
  packages/iocuak-models/CHANGELOG.md
  packages/iocuak-models/package.json
Due: iocuak-models

chore(iocuak-models-api): bump version
  .changeset/pretty-peaches-smell.md
  .changeset/tall-hotels-rest.md
  packages/iocuak-models-api/.npmignore
  packages/iocuak-models-api/CHANGELOG.md
  packages/iocuak-models-api/package.json
Due: none

chore(iocuak-decorators): bump version
  packages/iocuak-decorators/.npmignore
  packages/iocuak-decorators/CHANGELOG.md
  packages/iocuak-decorators/package.json
Due: iocuak-decorators

chore(iocuak-core): bump version
  .changeset/quick-days-grow.md
  packages/iocuak-core/.npmignore
  packages/iocuak-core/CHANGELOG.md
  packages/iocuak-core/package.json
Due: none

chore(iocuak): bump version
  .changeset/nervous-rice-add.md
  .changeset/six-walls-remember.md
  packages/iocuak/.npmignore
  packages/iocuak/CHANGELOG.md
  packages/iocuak/package.json
Due: iocuak

feat(iocuak-core): update container module metadata default arguments to be any[]
  .changeset/spicy-planes-grin.md
  packages/iocuak-core/src/containerModuleMetadata/models/ContainerModuleFactoryMetadata.ts
  packages/iocuak-core/src/containerModuleMetadata/models/ContainerModuleMetadata.ts
Due: none

Path conditions:
  iocuak: any of: packages/iocuak/
  iocuak-common: any of: packages/iocuak-common/
  iocuak-decorators: any of: packages/iocuak-decorators/
  iocuak-models: any of: packages/iocuak-models/
  iocuak-reflect-metadata-utils: any of: packages/iocuak-reflect-metadata-utils/
