Repository cuaklabs/iocuak: changes, and which Codecov flags are due for each by the changed paths.
All: cuaktask, iocuak, porygon, porygon-typeorm

codecov.yml:

coverage:
  status:
    project:
      default: off
      cuakask:
        flags: 
          - cuaktask
      iocuak:
        flags: 
          - iocuak
      porygon:
        flags:
          - porygon
      porygon-typeorm:
        flags:
          - porygon-typeorm

flags:
  cuaktask:
    paths:
      - packages/cuaktask/
  iocuak:
    paths:
      - packages/iocuak/
  porygon:
    paths:
      - packages/porygon/
  porygon-typeorm:
    paths:
      - packages/porygon-typeorm/

refactor(iocuak): update CreateInstanceTaskLazyNode to implement Node<Task<TaskKind>>
  packages/iocuak/src/createInstanceTask/modules/cuaktask/CreateInstanceTaskLazyNode.spec.ts
  packages/iocuak/src/createInstanceTask/modules/cuaktask/CreateInstanceTaskLazyNode.ts
Due: iocuak

refactor(iocuak): update CreateInstanceTaskGraphExpandOperationContext
  packages/iocuak/src/createInstanceTask/models/cuaktask/CreateInstanceTaskGraphExpandOperationContext.ts
Due: iocuak

refactor(iocuak): add ReadOnlyLinkedList IOC-25
  packages/iocuak/src/list/models/domain/ReadOnlyLinkedList.ts
Due: iocuak

refactor(iocuak): add ReadOnlyLinkedListNodeImplementation IOC-27
  packages/iocuak/src/list/models/domain/ReadOnlyLinkedListNodeImplementation.ts
Due: iocuak

refactor(iocuak): add ReadOnlyLinkedListImplementation IOC-26
  packages/iocuak/src/list/models/domain/ReadOnlyLinkedListImplementation.spec.ts
  packages/iocuak/src/list/models/domain/ReadOnlyLinkedListImplementation.ts
Due: iocuak

refactor(iocuak): add CreateInstanceTaskGraphFromTaskKindExpandOperationContext
  packages/iocuak/src/createInstanceTask/models/cuaktask/CreateInstanceTaskGraphFromTaskKindExpandOperationContext.ts
Due: iocuak

refactor(iocuak): add CreateCreateInstanceTaskGraphNodeCommand
  packages/iocuak/src/createInstanceTask/models/cuaktask/CreateCreateInstanceTaskGraphNodeCommand.ts
Due: iocuak

refactor(iocuak): add CreateCreateTransientScopedInstanceTaskGraphNodeCommandHandler
  packages/iocuak/src/createInstanceTask/modules/cuaktask/CreateCreateTransientScopedInstanceTaskGraphNodeCommandHandler.spec.ts
  packages/iocuak/src/createInstanceTask/modules/cuaktask/CreateCreateTransientScopedInstanceTaskGraphNodeCommandHandler.ts
Due: iocuak

refactor(iocuak): added BaseCreateCreateCachedScopedInstanceTaskGraphNodeCommandHandler
  packages/iocuak/src/createInstanceTask/modules/cuaktask/BaseCreateCreateCachedScopedInstanceTaskGraphNodeCommandHandler.spec.ts
  packages/iocuak/src/createInstanceTask/modules/cuaktask/BaseCreateCreateCachedScopedInstanceTaskGraphNodeCommandHandler.ts
  packages/iocuak/src/createInstanceTask/modules/cuaktask/CreateInstanceTaskLazyNode.ts
Due: iocuak

chore(vscode): added test js file launch configuration
  .vscode/launch.json
Due: none

refactor(iocuak): add CreateCreateRequestScopedInstanceTaskGraphNodeCommandHandler
  packages/iocuak/src/createInstanceTask/modules/cuaktask/CreateCreateRequestScopedInstanceTaskGraphNodeCommandHandler.ts
Due: iocuak

refactor(iocuak): add CreateCreateSingletonScopedInstanceTaskGraphNodeCommandHandler
  packages/iocuak/src/createInstanceTask/modules/cuaktask/CreateCreateSingletonScopedInstanceTaskGraphNodeCommandHandler.ts
Due: iocuak

chore: update dependencies
  package.json
Due: none

refactor(iocuak): update ReadOnlyLinkedList to extend Iterable
  packages/iocuak/src/list/models/domain/ReadOnlyLinkedList.ts
  packages/iocuak/src/list/models/domain/ReadOnlyLinkedListImplementation.spec.ts
  packages/iocuak/src/list/models/domain/ReadOnlyLinkedListImplementation.ts
Due: iocuak

refactor(iocuak): add CreateCreateInstanceTaskGraphNodeCommandHandler
  packages/iocuak/src/createInstanceTask/modules/cuaktask/CreateCreateInstanceTaskGraphNodeCommandHandler.spec.ts
  packages/iocuak/src/createInstanceTask/modules/cuaktask/CreateCreateInstanceTaskGraphNodeCommandHandler.ts
Due: iocuak

chore(typescript): update typescript config to target ES2022
  packages/iocuak/src/container/modules/api/ContainerApi.int.spec.ts
  tsconfig.base.json
  tsconfig.json
Due: iocuak

refactor(iocuak): update CreateInstanceTaskGraphExpandOperationContext update CreateInstanceTaskGraphExpandOperationContext with serviceIdAncestorList
  packages/iocuak/src/createInstanceTask/models/cuaktask/CreateInstanceTaskGraphExpandOperationContext.ts
  packages/iocuak/src/createInstanceTask/modules/cuaktask/BaseCreateCreateCachedScopedInstanceTaskGraphNodeCommandHandler.spec.ts
  packages/iocuak/src/createInstanceTask/modules/cuaktask/BaseCreateCreateCachedScopedInstanceTaskGraphNodeCommandHandler.ts
  packages/iocuak/src/createInstanceTask/modules/cuaktask/CreateCreateInstanceTaskGraphNodeCommandHandler.spec.ts
  packages/iocuak/src/createInstanceTask/modules/cuaktask/CreateCreateTransientScopedInstanceTaskGraphNodeCommandHandler.spec.ts
Due: iocuak

refactor(iocuak): update CreateCreateTransientScopedInstanceTaskGraphNodeCommandHandler
  packages/iocuak/src/createInstanceTask/modules/cuaktask/CreateCreateTransientScopedInstanceTaskGraphNodeCommandHandler.spec.ts
  packages/iocuak/src/createInstanceTask/modules/cuaktask/CreateCreateTransientScopedInstanceTaskGraphNodeCommandHandler.ts
Due: iocuak

refactor(iocuak): update CreateInstanceTaskGraphExpandCommandHandler update to check circular dependencies
  packages/iocuak/src/createInstanceTask/modules/cuaktask/CreateInstanceTaskGraphExpandCommandHandler.spec.ts
  packages/iocuak/src/createInstanceTask/modules/cuaktask/CreateInstanceTaskGraphExpandCommandHandler.ts
Due: iocuak

refactor: update Graph.nodes to be a node set
  packages/cuaktask/src/graph/models/domain/Graph.ts
  packages/cuaktask/src/task/modules/RootedTaskGraphRunner.spec.ts
  packages/iocuak/src/createInstanceTask/modules/cuaktask/BaseCreateCreateCachedScopedInstanceTaskGraphNodeCommandHandler.spec.ts
  packages/iocuak/src/createInstanceTask/modules/cuaktask/CreateCreateInstanceTaskGraphNodeCommandHandler.spec.ts
  packages/iocuak/src/createInstanceTask/modules/cuaktask/CreateCreateTransientScopedInstanceTaskGraphNodeCommandHandler.spec.ts
  packages/iocuak/src/createInstanceTask/modules/cuaktask/CreateInstanceTaskGraphExpandCommandHandler.spec.ts
  packages/iocuak/src/createInstanceTask/modules/cuaktask/CreateInstanceTaskGraphExpandCommandHandler.ts
Due: cuaktask, iocuak

refactor(cuaktask): add TaskGraphEngine
  packages/cuaktask/src/task/modules/TaskGraphEngine.ts
Due: cuaktask

feat(cuaktask): add TaskGraphEngine
  packages/cuaktask/CHANGELOG.md
  packages/cuaktask/src/index.ts
Due: cuaktask

chore(vscode): update launch config with better jest config
  .vscode/launch.json
Due: none

refactor(iocuak): add GetInstanceDependenciesTaskGraphExpandCommandHandler
  packages/iocuak/src/createInstanceTask/modules/cuaktask/GetInstanceDependenciesTaskGraphExpandCommandHandler.spec.ts
  packages/iocuak/src/createInstanceTask/modules/cuaktask/GetInstanceDependenciesTaskGraphExpandCommandHandler.ts
Due: iocuak

refactor(iocuak): update CreateInstanceTaskGraphExpandCommandHandler
  packages/iocuak/src/createInstanceTask/modules/cuaktask/CreateInstanceTaskGraphExpandCommandHandler.spec.ts
  packages/iocuak/src/createInstanceTask/modules/cuaktask/CreateInstanceTaskGraphExpandCommandHandler.ts
Due: iocuak

refactor(iocuak): add TaskGraphExpandCommandHandler
  packages/iocuak/src/createInstanceTask/modules/cuaktask/TaskGraphExpandCommandHandler.spec.ts
  packages/iocuak/src/createInstanceTask/modules/cuaktask/TaskGraphExpandCommandHandler.ts
Due: iocuak

refactor(iocuak): add CreateInstanceTaskGraphEngine
  packages/iocuak/src/createInstanceTask/modules/cuaktask/CreateInstanceTaskGraphEngine.spec.ts
  packages/iocuak/src/createInstanceTask/modules/cuaktask/CreateInstanceTaskGraphEngine.ts
Due: iocuak

chore(deps): add renovate.json
  renovate.json
Due: none

chore(github): add renovate bot config
  .github/renovate.json
Due: none

chore(eslint): disable import/namespace rule
  .eslintrc.js
Due: none

chore(github): update renovate config
  .github/renovate.json
Due: none

chore(deps): pin dependencies
  package.json
  packages/porygon-typeorm/package.json
Due: porygon-typeorm

chore(deps): update actions/cache action to v3
  .github/workflows/build.yml
Due: none

chore(deps): update codecov/codecov-action action to v3
  .github/workflows/build.yml
Due: none

chore(deps): update auto merge on patch or minor
  package.json
Due: none

chore(deps): update jest monorepo to v28
  package.json
Due: none

chore(deps): update dependency prettier to v2.7.0
  package.json
Due: none

chore(eslint): disable import rules
  .eslintrc.js
Due: none
