Repository cuaklabs/iocuak: changes, and which Codecov flags are due for each by the changed paths.
All: cuaktask, iocuak, porygon, porygon-typeorm

docs: update release-version docs
  docs/release-version.md
Due: none

Add code of conduct
  CODE_OF_CONDUCT.md
Due: none

docs: add license
  LICENSE
Due: none

Add contributing guidelines
  CONTRIBUTING.md
Due: none

docs(github): add bug issue template
  .github/ISSUE_TEMPLATE/bug.yml
Due: none

chore(typescript): improve ts build
  package.json
  packages/cuaktask/tsconfig.dev.json
  packages/cuaktask/tsconfig.json
  packages/iocuak/tsconfig.dev.json
  packages/iocuak/tsconfig.json
  packages/porygon-typeorm/tsconfig.dev.json
  packages/porygon-typeorm/tsconfig.json
  packages/porygon/tsconfig.dev.json
  packages/porygon/tsconfig.json
  tsconfig.base.composite.json
  tsconfig.base.json
  tsconfig.packages.dev.json
  tsconfig.packages.json
Due: cuaktask, iocuak, porygon, porygon-typeorm

feat(iocuak-benchmark): add iocuak-benchmark package
  packages/iocuak-benchmark/.npmignore
  packages/iocuak-benchmark/CHANGELOG.md
  packages/iocuak-benchmark/README.md
  packages/iocuak-benchmark/package.json
  packages/iocuak-benchmark/src/index.ts
  packages/iocuak-benchmark/tsconfig.dev.json
  packages/iocuak-benchmark/tsconfig.json
Due: none

refactor(iocuak-benchmark): add ServiceType
  packages/iocuak-benchmark/src/common/models/domain/ServiceType.ts
  packages/iocuak-benchmark/src/common/models/domain/serviceTypeToSymbolMap.ts
Due: none

refactor(iocuak-benchmark): add module types
  packages/iocuak-benchmark/src/common/modules/domain/Handle.ts
  packages/iocuak-benchmark/src/common/modules/domain/ThrowableWeapon.ts
  packages/iocuak-benchmark/src/common/modules/domain/Warrior.ts
  packages/iocuak-benchmark/src/common/modules/domain/Weapon.ts
Due: none

refactor(iocuak-benchmark): add iocuak modules
  packages/iocuak-benchmark/src/common/modules/iocuak/IocuakHandle.ts
  packages/iocuak-benchmark/src/common/modules/iocuak/IocuakKatana.ts
  packages/iocuak-benchmark/src/common/modules/iocuak/IocuakNinja.ts
  packages/iocuak-benchmark/src/common/modules/iocuak/IocuakShuriken.ts
Due: none

refactor(iocuak-benchmark): add iocuak container setup
  packages/iocuak-benchmark/src/common/modules/iocuak/iocuakContainer.ts
Due: none

refactor(iocuak-benchmark): add iocuak run
  packages/iocuak-benchmark/src/benchmarks/createInstances/iocuakRun.ts
Due: none

refactor(iocuak-benchmark): add tsyringe modules
  packages/iocuak-benchmark/src/common/modules/tsyringe/TsyringeHandle.ts
  packages/iocuak-benchmark/src/common/modules/tsyringe/TsyringeKatana.ts
  packages/iocuak-benchmark/src/common/modules/tsyringe/TsyringeNinja.ts
  packages/iocuak-benchmark/src/common/modules/tsyringe/TsyringeShuriken.ts
Due: none

chore(package): add tsrynge dependency
  packages/iocuak-benchmark/package.json
Due: none

refactor(iocuak-benchmark): add tsyringe container setup
  packages/iocuak-benchmark/src/common/modules/tsyringe/tsyringeContainer.ts
Due: none

refactor(iocuak-benchmark): add tsyringe run
  packages/iocuak-benchmark/src/benchmarks/createInstances/tsyringeRun.ts
Due: none

refactor(iocuak-benchmark): add createInstance index
  packages/iocuak-benchmark/src/benchmarks/createInstances/index.ts
Due: none

chore: add iocuak benchmark script
  package.json
Due: none

refactor(iocuak): add TaskContext
  packages/iocuak/src/task/models/domain/TaskContext.ts
  packages/iocuak/src/task/models/domain/TaskContextActions.ts
  packages/iocuak/src/task/models/domain/TaskContextServices.ts
Due: iocuak

refactor(iocuak): add getDependency
  packages/iocuak/src/task/actions/domain/getDependency.spec.ts
  packages/iocuak/src/task/actions/domain/getDependency.ts
Due: iocuak

refactor(iocuak): add getBinding
  packages/iocuak/src/task/actions/domain/getBinding.spec.ts
  packages/iocuak/src/task/actions/domain/getBinding.ts
Due: iocuak

refactor(iocuak): add createInstanceInTransientScope
  packages/iocuak/src/task/actions/domain/createInstanceInTransientScope.spec.ts
  packages/iocuak/src/task/actions/domain/createInstanceInTransientScope.ts
Due: iocuak

refactor(iocuak): add createInstanceInSingletonScope
  packages/iocuak/src/task/actions/domain/createInstanceInSingletonScope.spec.ts
  packages/iocuak/src/task/actions/domain/createInstanceInSingletonScope.ts
Due: iocuak

refactor(iocuak): add createInstanceInRequestScope
  packages/iocuak/src/task/actions/domain/createInstanceInRequestScope.spec.ts
  packages/iocuak/src/task/actions/domain/createInstanceInRequestScope.ts
Due: iocuak

refactor(iocuak): add createInstanceFromTypeBinding
  packages/iocuak/src/task/actions/domain/createInstanceFromTypeBinding.spec.ts
  packages/iocuak/src/task/actions/domain/createInstanceFromTypeBinding.ts
Due: iocuak

refactor(iocuak): add createInstanceFromBinding
  packages/iocuak/src/task/actions/domain/createInstanceFromBinding.spec.ts
  packages/iocuak/src/task/actions/domain/createInstanceFromBinding.ts
Due: iocuak

refactor(iocuak): add createInstance
  packages/iocuak/src/task/actions/domain/createInstance.spec.ts
  packages/iocuak/src/task/actions/domain/createInstance.ts
Due: iocuak

refactor(iocuak): add getDependencies
  packages/iocuak/src/task/actions/domain/getDependencies.spec.ts
  packages/iocuak/src/task/actions/domain/getDependencies.ts
Due: iocuak

refactor(iocuak): add createInstancesByTag
  packages/iocuak/src/task/actions/domain/createInstancesByTag.spec.ts
  packages/iocuak/src/task/actions/domain/createInstancesByTag.ts
Due: iocuak

refactor(iocuak): update getDependency to rely on createInstancesByTag
  packages/iocuak/src/task/actions/domain/getDependency.spec.ts
  packages/iocuak/src/task/actions/domain/getDependency.ts
Due: iocuak

refactor(iocuak): update ContainerServiceApiImplementation
  packages/iocuak/src/container/services/api/ContainerServiceApiImplementation.spec.ts
  packages/iocuak/src/container/services/api/ContainerServiceApiImplementation.ts
Due: iocuak

refactor(iocuak): update ContainerService to not contain ContainerInstanceService
  packages/iocuak/src/container/modules/api/ContainerApi.ts
  packages/iocuak/src/container/services/api/ContainerServiceApiImplementation.spec.ts
  packages/iocuak/src/container/services/domain/ContainerService.ts
Due: iocuak

refactor(iocuak-benchmark): move createInstance benchmark
  package.json
  packages/iocuak-benchmark/src/benchmarks/createInstance/index.ts
  packages/iocuak-benchmark/src/benchmarks/createInstance/iocuakRun.ts
  packages/iocuak-benchmark/src/benchmarks/createInstance/tsyringeRun.ts
Due: none

refactor(iocuak): update createInstance bench modules with better naming
  packages/iocuak-benchmark/src/benchmarks/createInstance/index.ts
  packages/iocuak-benchmark/src/benchmarks/createInstance/iocuakRun.ts
  packages/iocuak-benchmark/src/benchmarks/createInstance/tsyringeRun.ts
Due: none

refactor(iocuak-benchmark): add createInstancesByTag benchmark
  package.json
  packages/iocuak-benchmark/src/benchmarks/createInstancesByTag/index.ts
  packages/iocuak-benchmark/src/benchmarks/createInstancesByTag/iocuakRun.ts
  packages/iocuak-benchmark/src/benchmarks/createInstancesByTag/tsyringeRun.ts
  packages/iocuak-benchmark/src/common/models/domain/TagType.ts
  packages/iocuak-benchmark/src/common/models/domain/tagTypeToSymbolMap.ts
  packages/iocuak-benchmark/src/common/modules/iocuak/IocuakKatana.ts
  packages/iocuak-benchmark/src/common/modules/iocuak/IocuakNinja.ts
  packages/iocuak-benchmark/src/common/modules/iocuak/IocuakShuriken.ts
  packages/iocuak-benchmark/src/common/modules/tsyringe/TsyringeNinja.ts
  packages/iocuak-benchmark/src/common/modules/tsyringe/tsyringeContainer.ts
Due: none

refactor(iocuak-benchmark): add loadFromContainerModuleFactoryMetadata
  packages/iocuak/src/task/actions/domain/loadFromContainerModuleFactoryMetadata.spec.ts
  packages/iocuak/src/task/actions/domain/loadFromContainerModuleFactoryMetadata.ts
Due: iocuak

refactor(iocuak-benchmark): add loadFromContainerModuleClassMetadata
  packages/iocuak/src/task/actions/domain/loadFromContainerModuleClassMetadata.spec.ts
  packages/iocuak/src/task/actions/domain/loadFromContainerModuleClassMetadata.ts
Due: iocuak

refactor(iocuak-benchmark): add loadContainerModuleElement
  packages/iocuak/src/task/actions/domain/loadContainerModuleElement.spec.ts
  packages/iocuak/src/task/actions/domain/loadContainerModuleElement.ts
Due: iocuak

refactor(iocuak-benchmark): add loadContainerModuleElementAsync
  packages/iocuak/src/task/actions/domain/loadContainerModuleElementAsync.spec.ts
  packages/iocuak/src/task/actions/domain/loadContainerModuleElementAsync.ts
Due: iocuak

refactor(iocuak): add loadContainerModule
  packages/iocuak/src/task/actions/domain/loadContainerModule.spec.ts
  packages/iocuak/src/task/actions/domain/loadContainerModule.ts
Due: iocuak

Path conditions:
  cuaktask: any of: packages/cuaktask/
  iocuak: any of: packages/iocuak/
  porygon: any of: packages/porygon/
  porygon-typeorm: any of: packages/porygon-typeorm/
