Repository cuaklabs/iocuak: changes, and which Codecov flags are due for each by the changed paths.
All: cuaktask, iocuak, porygon, porygon-typeorm

fix(iocuak): update ContainerModuleLoadFromMetadataTask with a missing load call
  packages/iocuak/src/containerModuleTask/models/cuaktast/ContainerModuleLoadFromMetadataTask.spec.ts
  packages/iocuak/src/containerModuleTask/models/cuaktast/ContainerModuleLoadFromMetadataTask.ts
Due: iocuak

test(iocuak): update ContainerModuleParameter with load spy
  packages/iocuak/src/e2e/definitions/container/parameters/containerModule/ContainerModuleParameter.ts
  packages/iocuak/src/e2e/definitions/container/parameters/containerModule/getContainerModuleWithTypeServiceAndValueServiceParameter.ts
Due: iocuak

test(iocuak): add ContainerModuleWorld
  packages/iocuak/src/e2e/definitions/container/models/worlds/ContainerModuleWorld.ts
Due: iocuak

test(iocuak): add ContainerModuleMetadataWorld
  packages/iocuak/src/e2e/definitions/container/models/worlds/ContainerModuleMetadataWorld.ts
Due: iocuak

test(iocuak): add load module feature
  packages/iocuak/src/e2e/definitions/container/containerDefinitions.ts
  packages/iocuak/src/e2e/features/container/loadModule.feature
Due: iocuak

test(iocuak): rename ContainerModuleMetadaParameter to ContainerModuleMetadataParameter
  packages/iocuak/src/e2e/definitions/container/models/worlds/ContainerModuleMetadataWorld.ts
  packages/iocuak/src/e2e/definitions/container/parameters/containerModuleMetadata/ContainerModuleMetadataParameter.ts
Due: iocuak

test(iocuak): add unbind service feature
  packages/iocuak/src/e2e/definitions/container/containerDefinitions.ts
  packages/iocuak/src/e2e/features/container/unbindService.feature
Due: iocuak

chore: update dependencies
  package.json
Due: none

docs: update changelog
  packages/iocuak/CHANGELOG.md
Due: iocuak

chore(iocuak): update version
  packages/iocuak/package.json
Due: iocuak

chore(iocuak): update npmignore with e2e folder
  packages/iocuak/.npmignore
Due: iocuak

chore(jest): update jest coverage config to ignore e2e definitions folder
  config/jest/jest.config.base.mjs
Due: none

chore(package): update dependencies
  package.json
  packages/porygon-typeorm/package.json
Due: porygon-typeorm

refactor(iocuak): extract isfunction function
  packages/iocuak/src/common/utils/isFunction.ts
  packages/iocuak/src/container/utils/api/isContainerModuleApi.ts
  packages/iocuak/src/metadata/utils/domain/lazyGetBindingOrThrow.ts
Due: iocuak

test(iocuak): update ContainerModuleMetadataApiMocks with better typings
  packages/iocuak/src/containerModuleTask/mocks/models/api/ContainerModuleMetadataApiMocks.ts
Due: iocuak

test(iocuak): update ContainerModuleMetadataParameter with module metadata generic
  packages/iocuak/src/e2e/definitions/container/parameters/containerModuleMetadata/ContainerModuleMetadataParameter.ts
  packages/iocuak/src/e2e/definitions/container/parameters/containerModuleMetadata/getContainerModuleMetadataWithContainerModuleClassMetadataImports.ts
  packages/iocuak/src/e2e/definitions/container/parameters/containerModuleMetadata/getContainerModuleMetadataWithModuleParameter.ts
Due: iocuak

feat(iocuak): update ContainerModuleMetadataApi
  packages/iocuak/src/containerModuleTask/models/api/ContainerModuleMetadataApi.ts
  packages/iocuak/src/containerModuleTask/utils/api/convertToContainerModuleMetadata.spec.ts
  packages/iocuak/src/containerModuleTask/utils/api/convertToContainerModuleMetadata.ts
Due: iocuak

docs(iocuak): update changelog
  packages/iocuak/CHANGELOG.md
Due: iocuak

refactor(iocuak): extract container module module
  packages/iocuak/src/container/services/api/ContainerModuleServiceApi.ts
  packages/iocuak/src/container/services/api/ContainerServiceApiImplementation.spec.ts
  packages/iocuak/src/container/services/api/ContainerServiceApiImplementation.ts
  packages/iocuak/src/container/services/cuaktask/ContainerModuleServiceImplementation.spec.ts
  packages/iocuak/src/container/services/cuaktask/ContainerModuleServiceImplementation.ts
  packages/iocuak/src/container/services/domain/ContainerModuleService.ts
  packages/iocuak/src/containerModule/models/api/ContainerModuleApi.ts
  packages/iocuak/src/containerModule/models/domain/ContainerModule.ts
  packages/iocuak/src/containerModule/utils/api/convertToContainerModule.spec.ts
  packages/iocuak/src/containerModule/utils/api/convertToContainerModule.ts
  packages/iocuak/src/containerModule/utils/api/convertToContainerModuleAsync.spec.ts
  packages/iocuak/src/containerModule/utils/api/convertToContainerModuleAsync.ts
  packages/iocuak/src/containerModule/utils/api/isContainerModuleApi.ts
  packages/iocuak/src/containerModuleTask/mocks/models/domain/ContainerModuleMetadataMocks.ts
  packages/iocuak/src/containerModuleTask/models/api/ContainerModuleClassMetadataApi.ts
  packages/iocuak/src/containerModuleTask/models/api/ContainerModuleFactoryMetadataApi.ts
  packages/iocuak/src/containerModuleTask/models/api/ContainerModuleMetadataApi.ts
  packages/iocuak/src/containerModuleTask/models/cuaktast/ContainerModuleLoadFromMetadataTask.spec.ts
  packages/iocuak/src/containerModuleTask/models/cuaktast/ContainerModuleLoadFromMetadataTask.ts
  packages/iocuak/src/containerModuleTask/models/domain/ContainerModuleFactoryMetadata.ts
  packages/iocuak/src/containerModuleTask/utils/api/convertToContainerModuleMetadata.spec.ts
  packages/iocuak/src/containerModuleTask/utils/api/convertToContainerModuleMetadata.ts
  packages/iocuak/src/e2e/definitions/container/parameters/containerModule/ContainerModuleParameter.ts
  packages/iocuak/src/e2e/definitions/container/parameters/containerModule/getContainerModuleWithTypeServiceAndValueServiceParameter.ts
  packages/iocuak/src/e2e/definitions/container/parameters/containerModuleMetadata/getContainerModuleMetadataWithContainerModuleClassMetadataImports.ts
  packages/iocuak/src/e2e/definitions/container/parameters/containerModuleMetadata/getContainerModuleMetadataWithContainerModuleFactoryMetadataImports.ts
  packages/iocuak/src/e2e/definitions/container/parameters/containerModuleMetadata/getContainerModuleMetadataWithFactoryParameter.ts
  packages/iocuak/src/e2e/definitions/container/parameters/containerModuleMetadata/getContainerModuleMetadataWithModuleParameter.ts
  packages/iocuak/src/index.ts
Due: iocuak

refactor(iocuak): extract container module metadata logic to containerModuleMetadata folder
  packages/iocuak/src/container/modules/api/ContainerApi.int.spec.ts
  packages/iocuak/src/container/services/api/ContainerModuleServiceApi.ts
  packages/iocuak/src/container/services/api/ContainerServiceApiImplementation.spec.ts
  packages/iocuak/src/container/services/api/ContainerServiceApiImplementation.ts
  packages/iocuak/src/container/services/cuaktask/ContainerModuleServiceImplementation.spec.ts
  packages/iocuak/src/container/services/cuaktask/ContainerModuleServiceImplementation.ts
  packages/iocuak/src/container/services/domain/ContainerModuleService.ts
  packages/iocuak/src/containerModuleMetadata/models/api/ContainerModuleClassMetadataApi.ts
  packages/iocuak/src/containerModuleMetadata/models/api/ContainerModuleFactoryMetadataApi.ts
  packages/iocuak/src/containerModuleMetadata/models/api/ContainerModuleMetadataApi.ts
  packages/iocuak/src/containerModuleMetadata/models/api/ContainerModuleMetadataBaseApi.ts
  packages/iocuak/src/containerModuleMetadata/models/domain/ContainerModuleClassMetadata.ts
  packages/iocuak/src/containerModuleMetadata/models/domain/ContainerModuleFactoryMetadata.ts
  packages/iocuak/src/containerModuleMetadata/models/domain/ContainerModuleMetadata.ts
  packages/iocuak/src/containerModuleMetadata/models/domain/ContainerModuleMetadataBase.ts
  packages/iocuak/src/containerModuleMetadata/models/domain/ContainerModuleMetadataType.ts
  packages/iocuak/src/containerModuleMetadata/utils/api/convertToContainerModuleMetadata.spec.ts
  packages/iocuak/src/containerModuleMetadata/utils/api/convertToContainerModuleMetadata.ts
  packages/iocuak/src/containerModuleMetadata/utils/api/isContainerModuleClassMetadataApi.ts
  packages/iocuak/src/containerModuleTask/mocks/models/api/ContainerModuleMetadataApiMocks.ts
  packages/iocuak/src/containerModuleTask/mocks/models/domain/ContainerModuleLoadFromMetadataTaskKindMocks.ts
  packages/iocuak/src/containerModuleTask/mocks/models/domain/ContainerModuleMetadataMocks.ts
  packages/iocuak/src/containerModuleTask/models/cuaktast/ContainerModuleLoadFromMetadataTask.spec.ts
  packages/iocuak/src/containerModuleTask/models/cuaktast/ContainerModuleLoadFromMetadataTask.ts
  packages/iocuak/src/containerModuleTask/models/domain/ContainerModuleLoadFromMetadataTaskKind.ts
  packages/iocuak/src/containerModuleTask/modules/ContainerModuleTaskDependencyEngine.spec.ts
  packages/iocuak/src/containerModuleTask/modules/ContainerModuleTaskDependencyEngine.ts
  packages/iocuak/src/e2e/definitions/container/containerDefinitions.ts
  packages/iocuak/src/e2e/definitions/container/parameters/containerModuleMetadata/ContainerModuleMetadataParameter.ts
  packages/iocuak/src/e2e/definitions/container/parameters/containerModuleMetadata/getContainerModuleMetadataWithContainerModuleClassMetadataImports.ts
  packages/iocuak/src/e2e/definitions/container/parameters/containerModuleMetadata/getContainerModuleMetadataWithContainerModuleFactoryMetadataImports.ts
  packages/iocuak/src/e2e/definitions/container/parameters/containerModuleMetadata/getContainerModuleMetadataWithFactoryParameter.ts
  packages/iocuak/src/e2e/definitions/container/parameters/containerModuleMetadata/getContainerModuleMetadataWithModuleParameter.ts
  packages/iocuak/src/index.ts
Due: iocuak

docs: update readme
  README.md
Due: none

chore(jest): update jest config to add passWith no test global option
  config/jest/jest.config.base.mjs
  config/jest/jest.config.mjs
  config/jest/jest.js.config.mjs
Due: none

chore(github): update build workflow to no longer pass passWithNoTests option
  .github/workflows/build.yml
Due: none

refactor(porygon): update DomainCrudContainerModule with simpler container module metadata
  packages/porygon/src/crud/modules/iocuak/DomainCrudContainerModule.ts
Due: porygon

chore(commitlint): move commitlint config to a config folder
  .husky/commit-msg
  config/commitlint/commitlint.config.js
Due: none

chore(code): do not ignore vscode settings
  .gitignore
  .vscode/extensions.json
  .vscode/launch.json
  .vscode/settings.json
Due: none

chore(package): update package to use pnpm 7.X
  .github/workflows/build.yml
  .husky/commit-msg
  package.json
Due: none

refactor(iocuak): move binding services to binding folder
  packages/iocuak/src/binding/services/api/BindingServiceApi.ts
  packages/iocuak/src/binding/services/domain/BindingService.ts
  packages/iocuak/src/binding/services/domain/BindingServiceImplementation.spec.ts
  packages/iocuak/src/binding/services/domain/BindingServiceImplementation.ts
  packages/iocuak/src/container/modules/api/ContainerApi.spec.ts
  packages/iocuak/src/container/modules/api/ContainerApi.ts
  packages/iocuak/src/container/services/api/ContainerModuleBindingServiceApi.ts
  packages/iocuak/src/container/services/api/ContainerServiceApi.ts
  packages/iocuak/src/container/services/api/ContainerServiceApiImplementation.spec.ts
  packages/iocuak/src/container/services/domain/ContainerService.ts
  packages/iocuak/src/container/utils/bind.spec.ts
  packages/iocuak/src/container/utils/bind.ts
  packages/iocuak/src/container/utils/bindToValue.spec.ts
  packages/iocuak/src/container/utils/bindToValue.ts
  packages/iocuak/src/containerModule/models/domain/ContainerModule.ts
  packages/iocuak/src/containerModule/utils/api/convertToContainerModule.spec.ts
  packages/iocuak/src/containerModule/utils/api/convertToContainerModule.ts
  packages/iocuak/src/containerModuleMetadata/models/domain/ContainerModuleClassMetadata.ts
  packages/iocuak/src/containerModuleMetadata/utils/api/convertToContainerModuleMetadata.spec.ts
  packages/iocuak/src/containerModuleMetadata/utils/api/convertToContainerModuleMetadata.ts
  packages/iocuak/src/containerModuleTask/models/cuaktast/ContainerModuleLoadFromMetadataTask.spec.ts
  packages/iocuak/src/containerModuleTask/models/cuaktast/ContainerModuleLoadFromMetadataTask.ts
  packages/iocuak/src/containerModuleTask/modules/ContainerModuleTaskBuilderWithNoDependencies.spec.ts
  packages/iocuak/src/containerModuleTask/modules/ContainerModuleTaskBuilderWithNoDependencies.ts
  packages/iocuak/src/task/models/cuaktask/CreateInstanceTask.spec.ts
  packages/iocuak/src/task/models/cuaktask/CreateInstanceTask.ts
  packages/iocuak/src/task/modules/DirectTaskDependencyEngine.spec.ts
  packages/iocuak/src/task/modules/DirectTaskDependencyEngine.ts
  packages/iocuak/src/task/modules/TaskBuilderWithNoDependencies.spec.ts
  packages/iocuak/src/task/modules/TaskBuilderWithNoDependencies.ts
Due: iocuak

chore(build): update build workflow to run e2e job using pnpm@7
  .github/workflows/build.yml
Due: none

refactor(iocuak): update BaseBinding with tags
  packages/iocuak/src/binding/decorators/injectable.spec.ts
  packages/iocuak/src/binding/decorators/injectable.ts
  packages/iocuak/src/binding/fixtures/domain/TypeBindingFixtures.ts
  packages/iocuak/src/binding/fixtures/domain/ValueBindingFixtures.ts
  packages/iocuak/src/binding/models/domain/BaseBinding.ts
  packages/iocuak/src/binding/models/domain/BindingTag.ts
  packages/iocuak/src/binding/services/domain/BindingServiceImplementation.spec.ts
  packages/iocuak/src/binding/utils/api/convertBindingToBindingApi.spec.ts
  packages/iocuak/src/binding/utils/domain/getBindingOrThrow.spec.ts
  packages/iocuak/src/binding/utils/domain/lazyGetBindingOrThrow.spec.ts
  packages/iocuak/src/container/services/api/ContainerServiceApiImplementation.spec.ts
  packages/iocuak/src/container/utils/bind.spec.ts
  packages/iocuak/src/container/utils/bindToValue.spec.ts
  packages/iocuak/src/container/utils/bindToValue.ts
  packages/iocuak/src/metadata/services/api/MetadataServiceApiImplementation.spec.ts
  packages/iocuak/src/task/models/cuaktask/CreateInstanceTask.spec.ts
  packages/iocuak/src/task/modules/DirectTaskDependencyEngine.spec.ts
Due: iocuak

refactor(iocuak): add removeBindingDuplicates
  packages/iocuak/src/binding/utils/domain/removeBindingDuplicates.ts
Due: iocuak

refactor(iocuak): update BindingService with getByTag
  packages/iocuak/src/binding/fixtures/domain/TypeBindingFixtures.ts
  packages/iocuak/src/binding/services/domain/BindingService.ts
  packages/iocuak/src/binding/services/domain/BindingServiceImplementation.spec.ts
  packages/iocuak/src/binding/services/domain/BindingServiceImplementation.ts
Due: iocuak

refactor(iocuak): add ClassElementMetadata
  packages/iocuak/src/classMetadata/models/domain/ClassElementMetadata.ts
  packages/iocuak/src/classMetadata/models/domain/ClassElementMetadataBase.ts
  packages/iocuak/src/classMetadata/models/domain/ClassElementMetadataType.ts
  packages/iocuak/src/classMetadata/models/domain/ClassElementServiceIdMetadata.ts
  packages/iocuak/src/classMetadata/models/domain/ClassElementTagMetadata.ts
Due: iocuak

refactor(iocuak): update TaskKindType with createArray
  packages/iocuak/src/task/models/domain/TaskKindType.ts
Due: iocuak

refactor(iocuak): add CreateArrayTaskKind
  packages/iocuak/src/task/models/domain/CreateArrayTaskKind.ts
Due: iocuak

refactor(iocuak): extract BaseServiceTaskKind
  packages/iocuak/src/task/models/cuaktask/CreateInstanceTask.spec.ts
  packages/iocuak/src/task/models/domain/BaseServiceTaskKind.ts
  packages/iocuak/src/task/models/domain/BaseTaskKind.ts
  packages/iocuak/src/task/models/domain/CreateInstanceTaskKind.ts
  packages/iocuak/src/task/models/domain/GetInstanceDependenciesTaskKind.ts
Due: iocuak

refactor(iocuak): add CreateArrayTask
  packages/iocuak/src/task/fixtures/domain/CreateArrayTaskKindFixtures.ts
  packages/iocuak/src/task/models/cuaktask/CreateArrayTask.spec.ts
  packages/iocuak/src/task/models/cuaktask/CreateArrayTask.ts
Due: iocuak

refactor(iocuak): add CreateInstancesTaskDependencyEngine
  packages/iocuak/src/classMetadata/fixtures/domain/ClassMetadataFixtures.ts
  packages/iocuak/src/task/fixtures/domain/GetInstanceDependenciesTaskKindFixtures.ts
  packages/iocuak/src/task/modules/CreateInstancesTaskDependencyEngine.spec.ts
  packages/iocuak/src/task/modules/CreateInstancesTaskDependencyEngine.ts
  packages/iocuak/src/task/modules/DirectTaskDependencyEngine.spec.ts
Due: iocuak

Path conditions:
  cuaktask: any of: packages/cuaktask/
  iocuak: any of: packages/iocuak/
  porygon: any of: packages/porygon/
  porygon-typeorm: any of: packages/porygon-typeorm/
