Repository cuaklabs/iocuak: changes, and which Codecov flags are due for each by the changed paths.
All: iocuak, iocuak-common, iocuak-decorators, iocuak-models, iocuak-reflect-metadata-utils

codecov.yml:

coverage:
  status:
    project:
      default: false
      iocuak:
        flags:
          - iocuak
      iocuak-common:
        flags:
          - iocuak-common
      iocuak-decorators:
        flags:
          - iocuak-decorators
      iocuak-models:
        flags:
          - iocuak-models
      iocuak-reflect-metadata-utils:
        flags:
          - iocuak-reflect-metadata-utils

flags:
  iocuak:
    paths:
      - packages/iocuak/
  iocuak-common:
    paths:
      - packages/iocuak-common/
  iocuak-decorators:
    paths:
      - packages/iocuak-decorators/
  iocuak-models:
    paths: 
      - packages/iocuak-models/
  iocuak-reflect-metadata-utils:
    paths:
      - packages/iocuak-reflect-metadata-utils/

feat(iocuak-core): rename TaskContext to CreateInstanceTaskContext
  .changeset/swift-crabs-develop.md
  packages/iocuak-core/src/index.ts
  packages/iocuak-core/src/task/actions/createInstance.spec.ts
  packages/iocuak-core/src/task/actions/createInstance.ts
  packages/iocuak-core/src/task/actions/createInstanceFromBinding.spec.ts
  packages/iocuak-core/src/task/actions/createInstanceFromBinding.ts
  packages/iocuak-core/src/task/actions/createInstanceFromTypeBinding.spec.ts
  packages/iocuak-core/src/task/actions/createInstanceFromTypeBinding.ts
  packages/iocuak-core/src/task/actions/createInstanceInRequestScope.spec.ts
  packages/iocuak-core/src/task/actions/createInstanceInRequestScope.ts
  packages/iocuak-core/src/task/actions/createInstanceInSingletonScope.spec.ts
  packages/iocuak-core/src/task/actions/createInstanceInSingletonScope.ts
  packages/iocuak-core/src/task/actions/createInstanceInTransientScope.spec.ts
  packages/iocuak-core/src/task/actions/createInstanceInTransientScope.ts
  packages/iocuak-core/src/task/actions/createInstancesByTag.spec.ts
  packages/iocuak-core/src/task/actions/createInstancesByTag.ts
  packages/iocuak-core/src/task/actions/getBinding.spec.ts
  packages/iocuak-core/src/task/actions/getBinding.ts
  packages/iocuak-core/src/task/actions/getDependencies.spec.ts
  packages/iocuak-core/src/task/actions/getDependencies.ts
  packages/iocuak-core/src/task/actions/getDependency.spec.ts
  packages/iocuak-core/src/task/actions/getDependency.ts
  packages/iocuak-core/src/task/actions/loadContainerModule.spec.ts
  packages/iocuak-core/src/task/actions/loadContainerModule.ts
  packages/iocuak-core/src/task/actions/loadContainerModuleElement.spec.ts
  packages/iocuak-core/src/task/actions/loadContainerModuleElement.ts
  packages/iocuak-core/src/task/actions/loadContainerModuleElementAsync.spec.ts
  packages/iocuak-core/src/task/actions/loadContainerModuleElementAsync.ts
  packages/iocuak-core/src/task/actions/loadFromContainerModuleClassMetadata.spec.ts
  packages/iocuak-core/src/task/actions/loadFromContainerModuleClassMetadata.ts
  packages/iocuak-core/src/task/actions/loadFromContainerModuleFactoryMetadata.spec.ts
  packages/iocuak-core/src/task/actions/loadFromContainerModuleFactoryMetadata.ts
  packages/iocuak-core/src/task/models/CreateInstanceTaskContext.ts
  packages/iocuak-core/src/task/models/TaskContext.ts
  packages/iocuak-core/src/task/models/TaskContextActions.ts
  packages/iocuak/src/container/services/api/ContainerServiceApiImplementation.spec.ts
  packages/iocuak/src/container/services/api/ContainerServiceApiImplementation.ts
Due: iocuak

refactor(iocuak-core): move getBinding to binding module
  packages/iocuak-core/src/binding/actions/getBinding.spec.ts
  packages/iocuak-core/src/binding/actions/getBinding.ts
  packages/iocuak-core/src/binding/actions/getBindingMetadata.spec.ts
  packages/iocuak-core/src/binding/actions/getBindingMetadata.ts
  packages/iocuak-core/src/binding/actions/getBindingOrThrow.spec.ts
  packages/iocuak-core/src/binding/actions/getBindingOrThrow.ts
  packages/iocuak-core/src/binding/actions/lazyGetBindingOrThrow.spec.ts
  packages/iocuak-core/src/binding/actions/lazyGetBindingOrThrow.ts
  packages/iocuak-core/src/binding/actions/removeBindingDuplicates.ts
  packages/iocuak-core/src/binding/services/BindingServiceImplementation.ts
  packages/iocuak-core/src/index.ts
  packages/iocuak-core/src/task/actions/createInstance.spec.ts
  packages/iocuak-core/src/task/actions/createInstance.ts
  packages/iocuak-core/src/task/actions/createInstancesByTag.spec.ts
  packages/iocuak-core/src/task/actions/getDependency.spec.ts
  packages/iocuak-core/src/task/actions/getDependency.ts
Due: none

refactor(iocuak-core): rename task module to createInstanceTask
  packages/iocuak-core/src/binding/actions/getBinding.spec.ts
  packages/iocuak-core/src/binding/actions/getBinding.ts
  packages/iocuak-core/src/createInstanceTask/actions/createInstance.spec.ts
  packages/iocuak-core/src/createInstanceTask/actions/createInstance.ts
  packages/iocuak-core/src/createInstanceTask/actions/createInstanceFromBinding.spec.ts
  packages/iocuak-core/src/createInstanceTask/actions/createInstanceFromBinding.ts
  packages/iocuak-core/src/createInstanceTask/actions/createInstanceFromTypeBinding.spec.ts
  packages/iocuak-core/src/createInstanceTask/actions/createInstanceFromTypeBinding.ts
  packages/iocuak-core/src/createInstanceTask/actions/createInstanceInRequestScope.spec.ts
  packages/iocuak-core/src/createInstanceTask/actions/createInstanceInRequestScope.ts
  packages/iocuak-core/src/createInstanceTask/actions/createInstanceInSingletonScope.spec.ts
  packages/iocuak-core/src/createInstanceTask/actions/createInstanceInSingletonScope.ts
  packages/iocuak-core/src/createInstanceTask/actions/createInstanceInTransientScope.spec.ts
  packages/iocuak-core/src/createInstanceTask/actions/createInstanceInTransientScope.ts
  packages/iocuak-core/src/createInstanceTask/actions/createInstancesByTag.spec.ts
  packages/iocuak-core/src/createInstanceTask/actions/createInstancesByTag.ts
  packages/iocuak-core/src/createInstanceTask/actions/getDependencies.spec.ts
  packages/iocuak-core/src/createInstanceTask/actions/getDependencies.ts
  packages/iocuak-core/src/createInstanceTask/actions/getDependency.spec.ts
  packages/iocuak-core/src/createInstanceTask/actions/getDependency.ts
  packages/iocuak-core/src/createInstanceTask/actions/loadContainerModule.spec.ts
  packages/iocuak-core/src/createInstanceTask/actions/loadContainerModule.ts
  packages/iocuak-core/src/createInstanceTask/actions/loadContainerModuleElement.spec.ts
  packages/iocuak-core/src/createInstanceTask/actions/loadContainerModuleElement.ts
  packages/iocuak-core/src/createInstanceTask/actions/loadContainerModuleElementAsync.spec.ts
  packages/iocuak-core/src/createInstanceTask/actions/loadContainerModuleElementAsync.ts
  packages/iocuak-core/src/createInstanceTask/actions/loadFromContainerModuleClassMetadata.spec.ts
  packages/iocuak-core/src/createInstanceTask/actions/loadFromContainerModuleClassMetadata.ts
  packages/iocuak-core/src/createInstanceTask/actions/loadFromContainerModuleFactoryMetadata.spec.ts
  packages/iocuak-core/src/createInstanceTask/actions/loadFromContainerModuleFactoryMetadata.ts
  packages/iocuak-core/src/createInstanceTask/models/CreateInstanceTaskContext.ts
  packages/iocuak-core/src/createInstanceTask/models/LoadModuleMetadataTaskContext.ts
  packages/iocuak-core/src/createInstanceTask/models/ServiceDependencies.ts
  packages/iocuak-core/src/createInstanceTask/models/TaskContextActions.ts
  packages/iocuak-core/src/createInstanceTask/models/TaskContextServices.ts
  packages/iocuak-core/src/index.ts
Due: none

refactor(iocuak-core): move loadContainerModule metadata actions to containerModuleMetadata
  packages/iocuak-core/src/containerModuleMetadata/actions/loadContainerModule.spec.ts
  packages/iocuak-core/src/containerModuleMetadata/actions/loadContainerModule.ts
  packages/iocuak-core/src/containerModuleMetadata/actions/loadContainerModuleElement.spec.ts
  packages/iocuak-core/src/containerModuleMetadata/actions/loadContainerModuleElement.ts
  packages/iocuak-core/src/containerModuleMetadata/actions/loadContainerModuleElementAsync.spec.ts
  packages/iocuak-core/src/containerModuleMetadata/actions/loadContainerModuleElementAsync.ts
  packages/iocuak-core/src/containerModuleMetadata/actions/loadFromContainerModuleClassMetadata.spec.ts
  packages/iocuak-core/src/containerModuleMetadata/actions/loadFromContainerModuleClassMetadata.ts
  packages/iocuak-core/src/containerModuleMetadata/actions/loadFromContainerModuleFactoryMetadata.spec.ts
  packages/iocuak-core/src/containerModuleMetadata/actions/loadFromContainerModuleFactoryMetadata.ts
  packages/iocuak-core/src/index.ts
Due: none

refactor(iocuak-common): add modules
  packages/iocuak-common/src/common/actions/mapIterator.ts
  packages/iocuak-common/src/common/calculations/chain.spec.ts
  packages/iocuak-common/src/common/calculations/chain.ts
  packages/iocuak-common/src/common/calculations/isFunction.ts
  packages/iocuak-common/src/common/calculations/isPromiseLike.spec.ts
  packages/iocuak-common/src/common/calculations/isPromiseLike.ts
  packages/iocuak-common/src/common/calculations/mapIterable.ts
  packages/iocuak-common/src/containerModuleMetadata/models/ContainerModuleMetadataId.ts
  packages/iocuak-common/src/index.ts
  packages/iocuak-common/src/service/models/Newable.ts
  packages/iocuak-common/src/service/models/ServiceId.ts
  packages/iocuak-common/src/service/models/Tag.ts
Due: iocuak-common

feat(iocuak-common): add stringifyServiceId
  .changeset/stupid-impalas-cover.md
  packages/iocuak-common/src/index.ts
  packages/iocuak-common/src/service/calculations/stringifyServiceId.spec.ts
  packages/iocuak-common/src/service/calculations/stringifyServiceId.ts
Due: iocuak-common

refactor(iocuak-core): update lazyGetBindingOrThrow to rely on iocuak-common stringifyServiceId
  packages/iocuak-core/src/binding/actions/lazyGetBindingOrThrow.ts
  packages/iocuak-core/src/common/utils/stringifyServiceId.spec.ts
  packages/iocuak-core/src/common/utils/stringifyServiceId.ts
Due: none

feat(iocuak-core): added LoadModuleMetadataTaskContext
  .changeset/tame-monkeys-pay.md
  packages/iocuak-core/src/containerModuleMetadata/models/LoadModuleMetadataTaskContext.ts
  packages/iocuak-core/src/index.ts
Due: none

feat(iocuak-core): update ContainerModuleMetadataBase with id
  .changeset/chatty-kangaroos-whisper.md
  packages/iocuak-core/src/containerModuleMetadata/actions/loadContainerModule.spec.ts
  packages/iocuak-core/src/containerModuleMetadata/actions/loadFromContainerModuleFactoryMetadata.spec.ts
  packages/iocuak-core/src/containerModuleMetadata/mocks/models/ContainerModuleMetadataMocks.ts
  packages/iocuak-core/src/containerModuleMetadata/models/ContainerModuleMetadataBase.ts
  packages/iocuak/src/containerModuleMetadata/actions/api/convertToContainerModuleMetadata.spec.ts
  packages/iocuak/src/containerModuleMetadata/actions/api/convertToContainerModuleMetadata.ts
Due: iocuak

refactor(iocuak): update modules to rely on iocuak-common
  packages/iocuak/src/classMetadata/utils/api/convertToClassMetadataApi.ts
  packages/iocuak/src/common/utils/isFunction.ts
  packages/iocuak/src/common/utils/mapIterable.ts
  packages/iocuak/src/common/utils/mapIterator.ts
  packages/iocuak/src/containerModule/utils/api/isContainerModuleApi.ts
  packages/iocuak/src/containerModuleMetadata/actions/api/convertToContainerModuleMetadata.ts
Due: iocuak

fix(iocuak-core): update ContainerModuleMetadataBase.id to be ContainerModuleMetadataId
  packages/iocuak-core/src/containerModuleMetadata/models/ContainerModuleMetadataBase.ts
Due: none

feat(iocuak-core): add getContainerModuleMetadataId
  .changeset/loud-wasps-pretend.md
  packages/iocuak-core/src/containerModuleMetadata/calculations/getContainerModuleMetadataId.spec.ts
  packages/iocuak-core/src/containerModuleMetadata/calculations/getContainerModuleMetadataId.ts
  packages/iocuak-core/src/containerModuleMetadata/mocks/models/ContainerModuleMetadataMocks.ts
  packages/iocuak-core/src/index.ts
Due: none

chore: add missing node types dev dependency
  package.json
Due: none

chore(iocuak-core): updated ServiceDependencies with readonly properties
  .changeset/cool-suns-tap.md
  packages/iocuak-core/src/createInstanceTask/models/ServiceDependencies.ts
Due: none

chore(iocuak-core): updated TaskContextServices with readonly properties
  .changeset/tricky-wasps-happen.md
  packages/iocuak-core/src/createInstanceTask/models/TaskContextServices.ts
Due: none

feat(iocuak-core): added createInstanceTaskContext
  .changeset/nasty-tomatoes-wash.md
  packages/iocuak-core/src/createInstanceTask/calculations/createInstanceTaskContext.spec.ts
  packages/iocuak-core/src/createInstanceTask/calculations/createInstanceTaskContext.ts
  packages/iocuak-core/src/index.ts
Due: none

feat(iocuak-core): added createLoadModuleMetadataTaskContext
  .changeset/wet-llamas-love.md
  packages/iocuak-core/src/binding/mocks/services/BindingServiceMocks.ts
  packages/iocuak-core/src/container/mocks/services/ContainerRequestServiceMocks.ts
  packages/iocuak-core/src/container/mocks/services/ContainerSingletonServiceMocks.ts
  packages/iocuak-core/src/containerModuleMetadata/calculations/createLoadModuleMetadataTaskContext.spec.ts
  packages/iocuak-core/src/containerModuleMetadata/calculations/createLoadModuleMetadataTaskContext.ts
  packages/iocuak-core/src/createInstanceTask/mocks/models/CreateInstanceTaskContextMocks.ts
  packages/iocuak-core/src/createInstanceTask/mocks/models/TaskContextServicesMocks.ts
  packages/iocuak-core/src/index.ts
Due: none

feat(iocuak-core): rename createInstanceTaskContext to createCreateInstanceTaskContext
  .changeset/nasty-tomatoes-wash.md
  packages/iocuak-core/src/containerModuleMetadata/calculations/createLoadModuleMetadataTaskContext.spec.ts
  packages/iocuak-core/src/containerModuleMetadata/calculations/createLoadModuleMetadataTaskContext.ts
  packages/iocuak-core/src/createInstanceTask/calculations/createCreateInstanceTaskContext.spec.ts
  packages/iocuak-core/src/createInstanceTask/calculations/createCreateInstanceTaskContext.ts
  packages/iocuak-core/src/index.ts
Due: none

feat(iocuak-core): update loadContainerModule to receive LoadModuleMetadataTaskContext
  .changeset/early-squids-kick.md
  packages/iocuak-core/src/containerModuleMetadata/actions/loadContainerModule.spec.ts
  packages/iocuak-core/src/containerModuleMetadata/actions/loadContainerModule.ts
  packages/iocuak-core/src/containerModuleMetadata/actions/loadContainerModuleElement.spec.ts
  packages/iocuak-core/src/containerModuleMetadata/actions/loadContainerModuleElement.ts
  packages/iocuak-core/src/containerModuleMetadata/actions/loadContainerModuleElementAsync.spec.ts
  packages/iocuak-core/src/containerModuleMetadata/actions/loadContainerModuleElementAsync.ts
  packages/iocuak-core/src/containerModuleMetadata/actions/loadFromContainerModuleClassMetadata.spec.ts
  packages/iocuak-core/src/containerModuleMetadata/actions/loadFromContainerModuleClassMetadata.ts
  packages/iocuak-core/src/containerModuleMetadata/actions/loadFromContainerModuleFactoryMetadata.spec.ts
  packages/iocuak-core/src/containerModuleMetadata/actions/loadFromContainerModuleFactoryMetadata.ts
  packages/iocuak/src/container/services/api/ContainerServiceApiImplementation.spec.ts
  packages/iocuak/src/container/services/api/ContainerServiceApiImplementation.ts
Due: iocuak

chore(iocuak-core): remove internal actions
  .changeset/fair-months-explain.md
  .changeset/fluffy-snakes-glow.md
  packages/iocuak-core/src/index.ts
Due: none

feat(iocuak-core): add bind
  .changeset/tough-donuts-greet.md
  packages/iocuak-core/src/binding/actions/bind.spec.ts
  packages/iocuak-core/src/binding/actions/bind.ts
  packages/iocuak-core/src/binding/actions/bindToValue.spec.ts
  packages/iocuak-core/src/binding/actions/bindToValue.ts
  packages/iocuak-core/src/binding/fixtures/BindOptionsFixtures.ts
  packages/iocuak-core/src/binding/fixtures/ValueBindingFixtures.ts
  packages/iocuak-core/src/index.ts
Due: none

refactor(iocuak): remove bind modules in favor of iocuak-core ones
  packages/iocuak/src/binding/utils/domain/bind.spec.ts
  packages/iocuak/src/binding/utils/domain/bind.ts
  packages/iocuak/src/binding/utils/domain/bindToValue.spec.ts
  packages/iocuak/src/binding/utils/domain/bindToValue.ts
  packages/iocuak/src/container/services/api/ContainerServiceApiImplementation.spec.ts
  packages/iocuak/src/container/services/api/ContainerServiceApiImplementation.ts
  packages/iocuak/src/containerModule/utils/api/convertToContainerModule.spec.ts
  packages/iocuak/src/containerModule/utils/api/convertToContainerModule.ts
Due: iocuak

feat(iocuak-core): remove getBindingOrThrow
  .changeset/thin-chairs-speak.md
  packages/iocuak-core/src/index.ts
Due: none

feat(iocuak-core): rename loadContainerModule to loadContainerModuleMetadata
  .changeset/early-squids-kick.md
  .changeset/three-pumpkins-decide.md
  packages/iocuak-core/src/containerModuleMetadata/actions/loadContainerModuleMetadata.spec.ts
  packages/iocuak-core/src/containerModuleMetadata/actions/loadContainerModuleMetadata.ts
  packages/iocuak-core/src/index.ts
  packages/iocuak/src/container/services/api/ContainerServiceApiImplementation.spec.ts
  packages/iocuak/src/container/services/api/ContainerServiceApiImplementation.ts
Due: iocuak

refactor(iocuak-core): add createContainerModuleMetadataMap
  packages/iocuak-core/src/containerModuleMetadata/calculations/createContainerModuleMetadataMap.spec.ts
  packages/iocuak-core/src/containerModuleMetadata/calculations/createContainerModuleMetadataMap.ts
Due: none

refactor(iocuak-core): add isMetadataArrayLoadable
  packages/iocuak-core/src/containerModuleMetadata/calculations/isMetadataArrayLoadable.spec.ts
  packages/iocuak-core/src/containerModuleMetadata/calculations/isMetadataArrayLoadable.ts
  packages/iocuak-core/src/containerModuleMetadata/mocks/models/ContainerModuleMetadataMocks.ts
Due: none

refactor(iocuak-core): extract functions from isMetadataArrayLoadable
  packages/iocuak-core/src/containerModuleMetadata/actions/decrementMetadataDependency.ts
  packages/iocuak-core/src/containerModuleMetadata/calculations/buildDependencyIdToDependentMetadataMap.ts
  packages/iocuak-core/src/containerModuleMetadata/calculations/buildMetadataToDependenciesMap.ts
  packages/iocuak-core/src/containerModuleMetadata/calculations/isMetadataArrayLoadable.ts
Due: none

chore: ignore eslint-plugin-import until a proper version is released
  .github/renovate.json
Due: none

feat(iocuak-core): update LoadModuleMetadataTaskContext with delegated logic
  packages/iocuak-core/src/containerModuleMetadata/actions/decrementMetadataDependency.ts
  packages/iocuak-core/src/containerModuleMetadata/actions/loadFromContainerModuleClassMetadata.spec.ts
  packages/iocuak-core/src/containerModuleMetadata/actions/loadFromContainerModuleClassMetadata.ts
  packages/iocuak-core/src/containerModuleMetadata/actions/loadFromContainerModuleFactoryMetadata.spec.ts
  packages/iocuak-core/src/containerModuleMetadata/actions/loadFromContainerModuleFactoryMetadata.ts
  packages/iocuak-core/src/containerModuleMetadata/calculations/buildDependencyIdToDependentMetadataMap.ts
  packages/iocuak-core/src/containerModuleMetadata/calculations/buildMetadataToDependenciesMap.ts
  packages/iocuak-core/src/containerModuleMetadata/calculations/createLoadModuleMetadataTaskContext.spec.ts
  packages/iocuak-core/src/containerModuleMetadata/calculations/createLoadModuleMetadataTaskContext.ts
  packages/iocuak-core/src/containerModuleMetadata/calculations/isMetadataArrayLoadable.spec.ts
  packages/iocuak-core/src/containerModuleMetadata/calculations/isMetadataArrayLoadable.ts
  packages/iocuak-core/src/containerModuleMetadata/mocks/models/ContainerModuleMetadataMocks.ts
  packages/iocuak-core/src/containerModuleMetadata/models/LoadModuleMetadataTaskContext.spec.ts
  packages/iocuak-core/src/containerModuleMetadata/models/LoadModuleMetadataTaskContext.ts
  packages/iocuak-core/src/index.ts
  packages/iocuak/src/container/services/api/ContainerServiceApiImplementation.spec.ts
  packages/iocuak/src/container/services/api/ContainerServiceApiImplementation.ts
Due: iocuak

feat(iocuak-core): update LoadModuleMetadataTaskContext with getZeroDependenciesMetadata
  packages/iocuak-core/src/containerModuleMetadata/mocks/models/ContainerModuleMetadataMocks.ts
  packages/iocuak-core/src/containerModuleMetadata/models/LoadModuleMetadataTaskContext.spec.ts
  packages/iocuak-core/src/containerModuleMetadata/models/LoadModuleMetadataTaskContext.ts
Due: none

chore(iocuak-jest-config): update jest config to ignore fixtures, mocks and index files
  packages/iocuak-jest-config/lib/config/getJestProjectConfig.js
Due: none

feat(iocuak-core): add loadContainerModuleMetadataArray
  .changeset/cold-snails-refuse.md
  packages/iocuak-core/src/containerModuleMetadata/actions/loadContainerModuleMetadataArray.spec.ts
  packages/iocuak-core/src/containerModuleMetadata/actions/loadContainerModuleMetadataArray.ts
  packages/iocuak-core/src/index.ts
Due: none

chore: update references to use wildcards
  package.json
  packages/iocuak-benchmark/package.json
  packages/iocuak-core/package.json
  packages/iocuak-decorators/package.json
  packages/iocuak-e2e/package.json
  packages/iocuak-models-api/package.json
  packages/iocuak-models/package.json
  packages/iocuak-reflect-metadata-utils/package.json
  packages/iocuak/package.json
Due: iocuak, iocuak-decorators, iocuak-models, iocuak-reflect-metadata-utils

refactor(iocuak-core): remove unused createContainerModuleMetadataMap
  packages/iocuak-core/src/containerModuleMetadata/calculations/createContainerModuleMetadataMap.spec.ts
  packages/iocuak-core/src/containerModuleMetadata/calculations/createContainerModuleMetadataMap.ts
Due: none

refactor(iocuak-common): move Newable to common models
  packages/iocuak-common/src/common/models/Newable.ts
  packages/iocuak-common/src/index.ts
  packages/iocuak-common/src/service/calculations/stringifyServiceId.spec.ts
  packages/iocuak-common/src/service/models/ServiceId.ts
Due: iocuak-common

feat(iocuak-core): remove getContainerModuleMetadataId
  .changeset/loud-wasps-pretend.md
  .changeset/wet-llamas-love.md
  packages/iocuak-core/src/containerModuleMetadata/calculations/getContainerModuleMetadataId.spec.ts
  packages/iocuak-core/src/containerModuleMetadata/calculations/getContainerModuleMetadataId.ts
  packages/iocuak-core/src/index.ts
Due: none

feat(iocuak-common): update ContainerModuleMetadataId with required id
  packages/iocuak-common/src/containerModuleMetadata/models/ContainerModuleMetadataId.ts
  packages/iocuak-core/src/containerModuleMetadata/mocks/models/ContainerModuleMetadataMocks.ts
  packages/iocuak-core/src/containerModuleMetadata/models/ContainerModuleMetadataBase.ts
  packages/iocuak-core/src/containerModuleMetadata/models/LoadModuleMetadataTaskContext.spec.ts
  packages/iocuak-core/src/containerModuleMetadata/models/LoadModuleMetadataTaskContext.ts
  packages/iocuak/src/containerModuleMetadata/actions/api/convertToContainerModuleMetadata.spec.ts
  packages/iocuak/src/containerModuleMetadata/actions/api/convertToContainerModuleMetadata.ts
Due: iocuak, iocuak-common

refactor(iocuak): add hashString
  packages/iocuak/src/foundation/calculations/hashString.spec.ts
  packages/iocuak/src/foundation/calculations/hashString.ts
Due: iocuak

refactor(iocuak): add buildContainerModuleClassMetadataId
  packages/iocuak/src/containerModuleMetadata/calculations/api/buildContainerModuleClassMetadataId.spec.ts
  packages/iocuak/src/containerModuleMetadata/calculations/api/buildContainerModuleClassMetadataId.ts
Due: iocuak

refactor(iocuak): add buildContainerModuleFactoryMetadataId
  packages/iocuak/src/containerModuleMetadata/calculations/api/buildContainerModuleFactoryMetadataId.spec.ts
  packages/iocuak/src/containerModuleMetadata/calculations/api/buildContainerModuleFactoryMetadataId.ts
Due: iocuak
