Repository cuaklabs/iocuak: changes, and which Codecov flags are due for each by the changed paths.
All: iocuak, iocuak-common, iocuak-decorators, iocuak-models, iocuak-reflect-metadata-utils

feat(iocuak): update convertToContainerModuleMetadata to generate id on top of hash strategies
  packages/iocuak/src/containerModuleMetadata/actions/api/convertToContainerModuleMetadata.spec.ts
  packages/iocuak/src/containerModuleMetadata/actions/api/convertToContainerModuleMetadata.ts
Due: iocuak

refactor(iocuak): move isContainerModuleClassMetadataApi to calculations
  packages/iocuak/src/containerModuleMetadata/actions/api/convertToContainerModuleMetadata.ts
  packages/iocuak/src/containerModuleMetadata/calculations/api/isContainerModuleClassMetadataApi.ts
Due: iocuak

feat(iocuak-core): add ContainerModuleMetadataBase
  .changeset/long-moose-melt.md
  packages/iocuak-core/src/index.ts
Due: none

refactor(iocuak): add buildContainerModuleClassMetadata
  packages/iocuak/src/containerModuleMetadata/calculations/api/buildContainerModuleClassMetadata.spec.ts
  packages/iocuak/src/containerModuleMetadata/calculations/api/buildContainerModuleClassMetadata.ts
Due: iocuak

refactor(iocuak): add buildContainerModuleFactoryMetadata
  packages/iocuak/src/containerModuleMetadata/calculations/api/buildContainerModuleFactoryMetadata.spec.ts
  packages/iocuak/src/containerModuleMetadata/calculations/api/buildContainerModuleFactoryMetadata.ts
Due: iocuak

refactor(iocuak): add buildContainerModuleMetadataArray
  packages/iocuak/src/containerModuleMetadata/calculations/api/buildContainerModuleMetadataArray.spec.ts
  packages/iocuak/src/containerModuleMetadata/calculations/api/buildContainerModuleMetadataArray.ts
Due: iocuak

refactor(iocuak-core): update LoadModuleMetadataContext with #buildZeroDependenciesMetadata
  packages/iocuak-core/src/containerModuleMetadata/models/LoadModuleMetadataTaskContext.ts
Due: none

feat(iocuak-core): update LoadModuleMetadataTaskContext to deduplicate metadata
  packages/iocuak-core/src/containerModuleMetadata/models/LoadModuleMetadataTaskContext.spec.ts
  packages/iocuak-core/src/containerModuleMetadata/models/LoadModuleMetadataTaskContext.ts
Due: none

feat(iocuak): updated Container to avoid loading duplicated ContainerModuleMetadata
  .changeset/great-singers-perform.md
  packages/iocuak/src/container/services/api/ContainerServiceApiImplementation.spec.ts
  packages/iocuak/src/container/services/api/ContainerServiceApiImplementation.ts
Due: iocuak

feat(iocuak-core): update loadContainerModuleMetadata to no longer be exposed
  .changeset/early-squids-kick.md
  .changeset/three-pumpkins-decide.md
  packages/iocuak-core/src/index.ts
Due: none

refactor(iocuak): remove convertToContainerModuleMetadata
  packages/iocuak/src/containerModuleMetadata/actions/api/convertToContainerModuleMetadata.spec.ts
  packages/iocuak/src/containerModuleMetadata/actions/api/convertToContainerModuleMetadata.ts
Due: iocuak

refactor(iocuak-core): update ContainerModuleMetadataBase with no imports
  .changeset/many-forks-love.md
  packages/iocuak-core/src/containerModuleMetadata/actions/loadContainerModuleElement.spec.ts
  packages/iocuak-core/src/containerModuleMetadata/actions/loadContainerModuleElement.ts
  packages/iocuak-core/src/containerModuleMetadata/actions/loadContainerModuleElementAsync.spec.ts
  packages/iocuak-core/src/containerModuleMetadata/actions/loadContainerModuleElementAsync.ts
  packages/iocuak-core/src/containerModuleMetadata/actions/loadContainerModuleMetadata.spec.ts
  packages/iocuak-core/src/containerModuleMetadata/actions/loadContainerModuleMetadata.ts
  packages/iocuak-core/src/containerModuleMetadata/mocks/models/ContainerModuleMetadataMocks.ts
  packages/iocuak-core/src/containerModuleMetadata/models/ContainerModuleMetadataBase.ts
  packages/iocuak/src/containerModuleMetadata/calculations/api/buildContainerModuleClassMetadata.spec.ts
  packages/iocuak/src/containerModuleMetadata/calculations/api/buildContainerModuleClassMetadata.ts
  packages/iocuak/src/containerModuleMetadata/calculations/api/buildContainerModuleFactoryMetadata.spec.ts
  packages/iocuak/src/containerModuleMetadata/calculations/api/buildContainerModuleFactoryMetadata.ts
Due: iocuak

refactor(iocuak): update ContainerModuleMetadataApi with optional id
  .changeset/ninety-planes-clap.md
  packages/iocuak/src/containerModuleMetadata/calculations/api/buildContainerModuleClassMetadataId.spec.ts
  packages/iocuak/src/containerModuleMetadata/calculations/api/buildContainerModuleClassMetadataId.ts
  packages/iocuak/src/containerModuleMetadata/calculations/api/buildContainerModuleFactoryMetadataId.spec.ts
  packages/iocuak/src/containerModuleMetadata/calculations/api/buildContainerModuleFactoryMetadataId.ts
  packages/iocuak/src/containerModuleMetadata/mocks/models/api/ContainerModuleMetadataApiMocks.ts
  packages/iocuak/src/containerModuleMetadata/models/api/ContainerModuleMetadataBaseApi.ts
Due: iocuak

chore(iocuak-common): bump version
  .changeset/rotten-hairs-joke.md
  .changeset/stupid-impalas-cover.md
  packages/iocuak-common/CHANGELOG.md
  packages/iocuak-common/package.json
Due: iocuak-common

chore(iocuak-reflect-metadata): bump version
  packages/iocuak-reflect-metadata-utils/CHANGELOG.md
  packages/iocuak-reflect-metadata-utils/package.json
Due: iocuak-reflect-metadata-utils

chore(iocuak-models): bump version
  packages/iocuak-models/CHANGELOG.md
  packages/iocuak-models/package.json
Due: iocuak-models

chore(iocuak-models-api): bump version
  packages/iocuak-models-api/CHANGELOG.md
  packages/iocuak-models-api/package.json
Due: none

chore(iocuak-decorators): bump version
  packages/iocuak-decorators/CHANGELOG.md
  packages/iocuak-decorators/package.json
Due: iocuak-decorators

docs(iocuak-models-api): update changelog with release date
  packages/iocuak-models-api/CHANGELOG.md
Due: none

chore(iocuak-core): bump version
  .changeset/chatty-kangaroos-whisper.md
  .changeset/cold-snails-refuse.md
  .changeset/cool-suns-tap.md
  .changeset/fair-months-explain.md
  .changeset/fluffy-snakes-glow.md
  .changeset/long-moose-melt.md
  .changeset/many-forks-love.md
  .changeset/nasty-tomatoes-wash.md
  .changeset/strange-tables-wave.md
  .changeset/swift-crabs-develop.md
  .changeset/tame-monkeys-pay.md
  .changeset/thin-chairs-speak.md
  .changeset/three-pumpkins-decide.md
  .changeset/tough-donuts-greet.md
  .changeset/tricky-wasps-happen.md
  packages/iocuak-core/CHANGELOG.md
  packages/iocuak-core/package.json
Due: none

chore(iocuak): bump version
  .changeset/great-singers-perform.md
  .changeset/ninety-planes-clap.md
  packages/iocuak/CHANGELOG.md
  packages/iocuak/package.json
Due: iocuak

refactor(iocuak): add buildContainerModuleContainerModuleMetadataId
  packages/iocuak/src/containerModuleMetadata/calculations/api/buildContainerModuleContainerModuleMetadataId.spec.ts
  packages/iocuak/src/containerModuleMetadata/calculations/api/buildContainerModuleContainerModuleMetadataId.ts
Due: iocuak

feat(iocuak): update buildContainerModuleContainerModuleMetadataId
  .changeset/nervous-rice-add.md
  packages/iocuak/src/containerModuleMetadata/calculations/api/buildContainerModuleMetadataArray.spec.ts
  packages/iocuak/src/containerModuleMetadata/calculations/api/buildContainerModuleMetadataArray.ts
Due: iocuak

chore(iocuak-jest-config): add extensions module
  packages/iocuak-jest-config/lib/config/extensions.js
Due: none

chore: update jest config to require a root dir
  packages/iocuak-common/jest.config.mjs
  packages/iocuak-common/jest.config.stryker.mjs
  packages/iocuak-common/jest.js.config.mjs
  packages/iocuak-core/jest.config.mjs
  packages/iocuak-core/jest.config.stryker.mjs
  packages/iocuak-core/jest.js.config.mjs
  packages/iocuak-decorators/jest.config.mjs
  packages/iocuak-decorators/jest.config.stryker.mjs
  packages/iocuak-decorators/jest.js.config.mjs
  packages/iocuak-jest-config/lib/config/getJestJsProjectConfig.js
  packages/iocuak-jest-config/lib/config/getJestTsProjectConfig.js
  packages/iocuak-jest-config/lib/config/getJsGlobalConfig.js
  packages/iocuak-jest-config/lib/config/getJsIntegrationProjectConfig.js
  packages/iocuak-jest-config/lib/config/getJsProjectConfig.js
  packages/iocuak-jest-config/lib/config/getJsUnitProjectConfig.js
  packages/iocuak-jest-config/lib/config/getProjectConfig.js
  packages/iocuak-jest-config/lib/config/getTestMatch.js
  packages/iocuak-jest-config/lib/config/getTsGlobalConfig.js
  packages/iocuak-jest-config/lib/config/getTsIntegrationProjectConfig.js
  packages/iocuak-jest-config/lib/config/getTsProjectConfig.js
  packages/iocuak-jest-config/lib/config/getTsUnitProjectConfig.js
  packages/iocuak-jest-config/lib/index.js
  packages/iocuak-reflect-metadata-utils/jest.config.mjs
  packages/iocuak-reflect-metadata-utils/jest.config.stryker.mjs
  packages/iocuak-reflect-metadata-utils/jest.js.config.mjs
  packages/iocuak/jest.config.mjs
  packages/iocuak/jest.config.stryker.mjs
  packages/iocuak/jest.js.config.mjs
Due: iocuak, iocuak-common, iocuak-decorators, iocuak-reflect-metadata-utils

chore: update ts config package with both cjs and es options
  packages/iocuak-benchmark/tsconfig.json
  packages/iocuak-common/tsconfig.json
  packages/iocuak-core/tsconfig.json
  packages/iocuak-decorators/tsconfig.json
  packages/iocuak-e2e/tsconfig.json
  packages/iocuak-models-api/tsconfig.json
  packages/iocuak-models/tsconfig.json
  packages/iocuak-reflect-metadata-utils/tsconfig.json
  packages/iocuak/tsconfig.json
  packages/typescript-config-iocuak/tsconfig.base.cjs.json
  packages/typescript-config-iocuak/tsconfig.base.esm.json
  packages/typescript-config-iocuak/tsconfig.base.json
Due: iocuak, iocuak-common, iocuak-decorators, iocuak-models, iocuak-reflect-metadata-utils

refactor(iocuak-scripts): add writeEsmPackageJson script
  packages/iocuak-scripts/bin/writeCommonJsPackageJson.js
Due: none

refactor(iocuak-scripts): add writeEsmPackageJson script
  packages/iocuak-scripts/bin/writeEsmPackageJson.js
Due: none

feat(iocuak-scripts): add bin scripts
  packages/iocuak-scripts/package.json
Due: none

chore(iocuak-common): provide both esm and cjs modules
  .changeset/light-squids-end.md
  packages/iocuak-common/.eslintrc.js
  packages/iocuak-common/.npmignore
  packages/iocuak-common/jest.js.config.mjs
  packages/iocuak-common/package.json
  packages/iocuak-common/tsconfig.cjs.json
  packages/iocuak-common/tsconfig.esm.json
Due: iocuak-common

chore(gh): update gh actions to avoid building twice on e2e test job
  .github/workflows/build.yml
Due: none

chore(iocuak-models): provide both esm and cjs modules
  .changeset/violet-cats-tease.md
  packages/iocuak-models/.eslintrc.js
  packages/iocuak-models/.npmignore
  packages/iocuak-models/package.json
  packages/iocuak-models/tsconfig.cjs.json
  packages/iocuak-models/tsconfig.esm.json
Due: iocuak-models

chore(iocuak-models-api): provide both esm and cjs modules
  .changeset/pretty-peaches-smell.md
  packages/iocuak-models-api/.eslintrc.js
  packages/iocuak-models-api/.npmignore
  packages/iocuak-models-api/package.json
  packages/iocuak-models-api/tsconfig.cjs.json
  packages/iocuak-models-api/tsconfig.esm.json
Due: none

chore(iocuak-reflect-metadata-utils): provide both esm and cjs modules
  .changeset/new-balloons-reply.md
  packages/iocuak-reflect-metadata-utils/.eslintrc.js
  packages/iocuak-reflect-metadata-utils/.npmignore
  packages/iocuak-reflect-metadata-utils/jest.js.config.mjs
  packages/iocuak-reflect-metadata-utils/package.json
  packages/iocuak-reflect-metadata-utils/tsconfig.cjs.json
  packages/iocuak-reflect-metadata-utils/tsconfig.esm.json
Due: iocuak-reflect-metadata-utils

chore(iocuak-decorators): provide both esm and cjs modules
  .changeset/tall-hotels-rest.md
  packages/iocuak-decorators/.eslintrc.js
  packages/iocuak-decorators/.npmignore
  packages/iocuak-decorators/jest.js.config.mjs
  packages/iocuak-decorators/package.json
  packages/iocuak-decorators/tsconfig.cjs.json
  packages/iocuak-decorators/tsconfig.esm.json
Due: iocuak-decorators

chore(iocuak-core): provide both esm and cjs modules
  .changeset/quick-days-grow.md
  packages/iocuak-core/.eslintrc.js
  packages/iocuak-core/.npmignore
  packages/iocuak-core/jest.js.config.mjs
  packages/iocuak-core/package.json
  packages/iocuak-core/tsconfig.cjs.json
  packages/iocuak-core/tsconfig.esm.json
Due: none

chore: update jest dependencies
  packages/iocuak-common/package.json
  packages/iocuak-core/package.json
  packages/iocuak-decorators/package.json
  packages/iocuak-jest-config/package.json
  packages/iocuak-models-api/package.json
  packages/iocuak-reflect-metadata-utils/package.json
  packages/iocuak/package.json
Due: iocuak, iocuak-common, iocuak-decorators, iocuak-reflect-metadata-utils

chore(iocuak): provide both esm and cjs modules
  .changeset/six-walls-remember.md
  packages/iocuak/.eslintrc.js
  packages/iocuak/.npmignore
  packages/iocuak/jest.js.config.mjs
  packages/iocuak/package.json
  packages/iocuak/tsconfig.cjs.json
  packages/iocuak/tsconfig.esm.json
Due: iocuak

fix(iocuak-jest-config): fix ts-jest config
  packages/iocuak-jest-config/lib/config/getTsProjectConfig.js
Due: none

chore(iocuak-e2e): remove unused main
  packages/iocuak-e2e/package.json
  packages/iocuak-e2e/src/index.ts
Due: none

Path conditions:
  iocuak: any of: packages/iocuak/
  iocuak-common: any of: packages/iocuak-common/
  iocuak-decorators: any of: packages/iocuak-decorators/
  iocuak-models: any of: packages/iocuak-models/
  iocuak-reflect-metadata-utils: any of: packages/iocuak-reflect-metadata-utils/
