Repository cuaklabs/iocuak: changes, and which Codecov flags are due for each by the changed paths.
All: cuaktask, iocuak, porygon, porygon-typeorm

refactor(iocuak): update injectable to use getDefaultBindingScope
  packages/iocuak/src/metadata/decorators/injectable.ts
Due: iocuak

refactor(iocuak): add lazyGetBindingOrThrow
  packages/iocuak/src/metadata/utils/domain/lazyGetBindingOrThrow.spec.ts
  packages/iocuak/src/metadata/utils/domain/lazyGetBindingOrThrow.ts
Due: iocuak

refactor(iocuak): update DirectTaskDependencyEngine to use lazyGetBindingOrThrow
  packages/iocuak/src/task/modules/DirectTaskDependencyEngine.spec.ts
  packages/iocuak/src/task/modules/DirectTaskDependencyEngine.ts
Due: iocuak

refactor(iocuak): update lazyGetBindingOrThrow with TInstance and TArgs generics
  packages/iocuak/src/metadata/utils/domain/lazyGetBindingOrThrow.ts
Due: iocuak

feat(iocuak): update CreateInstanceTask to rely on lazyGetBindingOrThrow
  packages/iocuak/src/task/models/cuaktask/CreateInstanceTask.spec.ts
  packages/iocuak/src/task/models/cuaktask/CreateInstanceTask.ts
Due: iocuak

test(iocuak): update ContainerApi integration tests with additional types
  packages/iocuak/src/container/modules/api/ContainerApi.int.spec.ts
Due: iocuak

refactor(iocuak): add PickKeys type
  packages/iocuak/src/common/models/domain/PickKeys.ts
Due: iocuak

fix(iocuak): update ContainerModuleTaskDependencyEngine to properly calculate dependencies
  packages/iocuak/src/containerModuleTask/mocks/models/domain/ContainerModuleLoadFromMetadataTaskKindMocks.ts
  packages/iocuak/src/containerModuleTask/mocks/models/domain/ContainerModuleMetadataMocks.ts
  packages/iocuak/src/containerModuleTask/models/domain/ContainerModuleClassMetadata.ts
  packages/iocuak/src/containerModuleTask/models/domain/ContainerModuleFactoryMetadata.ts
  packages/iocuak/src/containerModuleTask/models/domain/ContainerModuleMetadata.ts
  packages/iocuak/src/containerModuleTask/models/domain/ContainerModuleMetadataBase.ts
  packages/iocuak/src/containerModuleTask/modules/ContainerModuleTaskDependencyEngine.spec.ts
  packages/iocuak/src/containerModuleTask/modules/ContainerModuleTaskDependencyEngine.ts
Due: iocuak

feat(iocuak): add ContainerModuleMetadataType
  packages/iocuak/src/containerModuleTask/models/domain/ContainerModuleMetadataType.ts
Due: iocuak

refactor(iocuak): update ContainerModuleMetadata to include ContainerModuleClassMetadata
  packages/iocuak/src/containerModuleTask/mocks/models/domain/ContainerModuleLoadFromMetadataTaskKindMocks.ts
  packages/iocuak/src/containerModuleTask/mocks/models/domain/ContainerModuleMetadataMocks.ts
  packages/iocuak/src/containerModuleTask/models/cuaktast/ContainerModuleLoadFromMetadataTask.spec.ts
  packages/iocuak/src/containerModuleTask/models/cuaktast/ContainerModuleLoadFromMetadataTask.ts
  packages/iocuak/src/containerModuleTask/models/domain/ContainerModuleLoadFromMetadataTaskKind.ts
  packages/iocuak/src/containerModuleTask/models/domain/ContainerModuleMetadata.ts
  packages/iocuak/src/containerModuleTask/utils/convertToContainerModuleMetadata.spec.ts
Due: iocuak

refactor(iocuak): add ContainerModuleClassMetadata
  packages/iocuak/src/containerModuleTask/models/domain/ContainerModuleClassMetadata.ts
Due: iocuak

refactor(iocuak): update ContainerModuleMetadataBase with type
  packages/iocuak/src/containerModuleTask/mocks/models/domain/ContainerModuleMetadataMocks.ts
  packages/iocuak/src/containerModuleTask/models/domain/ContainerModuleFactoryMetadata.ts
  packages/iocuak/src/containerModuleTask/models/domain/ContainerModuleMetadataBase.ts
  packages/iocuak/src/containerModuleTask/utils/convertToContainerModuleMetadata.spec.ts
  packages/iocuak/src/containerModuleTask/utils/convertToContainerModuleMetadata.ts
Due: iocuak

refactor(iocuak): update ContainerModuleLoadFromMetadataTask to handle ContainerModuleClassMetadata
  packages/iocuak/src/containerModuleTask/models/cuaktast/ContainerModuleLoadFromMetadataTask.spec.ts
  packages/iocuak/src/containerModuleTask/models/cuaktast/ContainerModuleLoadFromMetadataTask.ts
  packages/iocuak/src/containerModuleTask/modules/ContainerModuleTaskBuilderWithNoDependencies.spec.ts
  packages/iocuak/src/containerModuleTask/modules/ContainerModuleTaskBuilderWithNoDependencies.ts
Due: iocuak

refactor(iocuak): add getBindingOrThrow
  packages/iocuak/src/metadata/utils/domain/getBindingOrThrow.spec.ts
  packages/iocuak/src/metadata/utils/domain/getBindingOrThrow.ts
Due: iocuak

refactor(iocuak): update bind to use getBindingOrThrow
  packages/iocuak/src/container/utils/bind.spec.ts
  packages/iocuak/src/container/utils/bind.ts
Due: iocuak

feat(iocuak): update lazyGetBindingOrThrow to rely on lazyGetBindingOrThrow
  packages/iocuak/src/container/modules/api/ContainerApi.int.spec.ts
  packages/iocuak/src/container/modules/api/ContainerApi.spec.ts
  packages/iocuak/src/container/modules/api/ContainerApi.ts
  packages/iocuak/src/metadata/utils/domain/lazyGetBindingOrThrow.spec.ts
  packages/iocuak/src/metadata/utils/domain/lazyGetBindingOrThrow.ts
  packages/iocuak/src/task/models/cuaktask/CreateInstanceTask.spec.ts
  packages/iocuak/src/task/models/cuaktask/CreateInstanceTask.ts
  packages/iocuak/src/task/modules/DirectTaskDependencyEngine.spec.ts
  packages/iocuak/src/task/modules/DirectTaskDependencyEngine.ts
  packages/iocuak/src/task/modules/TaskBuilderWithNoDependencies.spec.ts
  packages/iocuak/src/task/modules/TaskBuilderWithNoDependencies.ts
Due: iocuak

docs(iocuak): update changelog
  packages/iocuak/CHANGELOG.md
Due: iocuak

fix: fix tests error literals
  packages/porygon-typeorm/src/crud/modules/iocuak/TypeOrmCreateContainerModule.int.spec.ts
  packages/porygon-typeorm/src/crud/modules/iocuak/TypeOrmDeleteContainerModule.int.spec.ts
  packages/porygon-typeorm/src/crud/modules/iocuak/TypeOrmReadContainerModule.int.spec.ts
  packages/porygon-typeorm/src/crud/modules/iocuak/TypeOrmUpdateContainerModule.int.spec.ts
  packages/porygon/src/crud/modules/iocuak/DomainCreateContainerModule.int.spec.ts
  packages/porygon/src/crud/modules/iocuak/DomainDeleteContainerModule.int.spec.ts
  packages/porygon/src/crud/modules/iocuak/DomainReadContainerModule.int.spec.ts
  packages/porygon/src/crud/modules/iocuak/DomainUpdateContainerModule.int.spec.ts
Due: porygon, porygon-typeorm

chore(jest): update jest integration test config to select only integration tests
  config/jest/jest.config.base.mjs
Due: none

chore(github): remove build fallback
  .github/workflows/build_fallback.yml
Due: none

chore(github): update integration tests step to avoid failing if no tests are found
  .github/workflows/build.yml
Due: none

chore(github): remove dependabot config
  .github/dependabot.yml
Due: none

chore(package): update dependencies
  package.json
  packages/porygon-typeorm/package.json
Due: porygon-typeorm

refactor(iocuak): update ContainerSingletonService with remove
  packages/iocuak/src/container/services/domain/ContainerSingletonService.ts
  packages/iocuak/src/container/services/domain/ContainerSingletonServiceImplementation.spec.ts
  packages/iocuak/src/container/services/domain/ContainerSingletonServiceImplementation.ts
Due: iocuak

fix(iocuak): update ContainerServiceApiImplementation.unbind to remove unbound singleton service
  packages/iocuak/src/container/services/api/ContainerServiceApiImplementation.spec.ts
  packages/iocuak/src/container/services/api/ContainerServiceApiImplementation.ts
Due: iocuak

refactor(iocuak): update ContainerModuleMetadataApi to extend a new ContainerModuleMetadataBaseApi
  packages/iocuak/src/containerModuleTask/models/api/ContainerModuleMetadataApi.ts
  packages/iocuak/src/containerModuleTask/models/api/ContainerModuleMetadataBaseApi.ts
Due: iocuak

docs(cuaktask): update changelog with unrelease section
  packages/cuaktask/CHANGELOG.md
Due: cuaktask

refactor(iocuak): update ContainerModuleMetadataApi removing TContainerModule generic
  packages/iocuak/src/container/modules/api/ContainerApi.int.spec.ts
  packages/iocuak/src/containerModuleTask/models/api/ContainerModuleFactoryMetadataApi.ts
  packages/iocuak/src/containerModuleTask/models/api/ContainerModuleMetadataApi.ts
  packages/iocuak/src/containerModuleTask/models/api/ContainerModuleMetadataBaseApi.ts
  packages/iocuak/src/containerModuleTask/utils/convertToContainerModuleMetadata.ts
Due: iocuak

refactor(iocuak): move isContainerModuleTaskKind to domain folder
  packages/iocuak/src/containerModuleTask/modules/ContainerModuleTaskBuilderWithNoDependencies.ts
  packages/iocuak/src/containerModuleTask/utils/domain/isContainerModuleTaskKind.spec.ts
  packages/iocuak/src/containerModuleTask/utils/domain/isContainerModuleTaskKind.ts
Due: iocuak

refactor(iocuak): move api utils to api folder
  packages/iocuak/src/container/services/api/ContainerServiceApiImplementation.spec.ts
  packages/iocuak/src/container/services/api/ContainerServiceApiImplementation.ts
  packages/iocuak/src/containerModuleTask/utils/api/convertToContainerModule.spec.ts
  packages/iocuak/src/containerModuleTask/utils/api/convertToContainerModule.ts
  packages/iocuak/src/containerModuleTask/utils/api/convertToContainerModuleAsync.spec.ts
  packages/iocuak/src/containerModuleTask/utils/api/convertToContainerModuleAsync.ts
  packages/iocuak/src/containerModuleTask/utils/api/convertToContainerModuleMetadata.spec.ts
  packages/iocuak/src/containerModuleTask/utils/api/convertToContainerModuleMetadata.ts
Due: iocuak

refactor(iocuak): add ContainerModuleClassMetadataApi
  packages/iocuak/src/containerModuleTask/models/api/ContainerModuleClassMetadataApi.ts
Due: iocuak

refactor(iocuak): update ContainerModuleClassMetadata with loader
  packages/iocuak/src/containerModuleTask/mocks/models/domain/ContainerModuleMetadataMocks.ts
  packages/iocuak/src/containerModuleTask/models/cuaktast/ContainerModuleLoadFromMetadataTask.spec.ts
  packages/iocuak/src/containerModuleTask/models/cuaktast/ContainerModuleLoadFromMetadataTask.ts
  packages/iocuak/src/containerModuleTask/models/domain/ContainerModuleClassMetadata.ts
Due: iocuak

feat(iocuak): update ContainerModuleMetadataApi to include ContainerModuleClassMetadataApi
  packages/iocuak/src/containerModuleTask/mocks/models/api/ContainerModuleMetadataApiMocks.ts
  packages/iocuak/src/containerModuleTask/models/api/ContainerModuleMetadataApi.ts
  packages/iocuak/src/containerModuleTask/utils/api/convertToContainerModuleMetadata.spec.ts
  packages/iocuak/src/containerModuleTask/utils/api/convertToContainerModuleMetadata.ts
  packages/iocuak/src/containerModuleTask/utils/api/isContainerModuleClassMetadataApi.ts
Due: iocuak

feat(iocuak): update ContainerModuleFactoryMetadataApi.injects to be optional
  packages/iocuak/src/containerModuleTask/mocks/models/api/ContainerModuleMetadataApiMocks.ts
  packages/iocuak/src/containerModuleTask/models/api/ContainerModuleFactoryMetadataApi.ts
  packages/iocuak/src/containerModuleTask/utils/api/convertToContainerModuleMetadata.spec.ts
  packages/iocuak/src/containerModuleTask/utils/api/convertToContainerModuleMetadata.ts
Due: iocuak

feat(iocuak): update ContainerModuleMetadataBaseApi.imports to be optional
  packages/iocuak/src/containerModuleTask/mocks/models/api/ContainerModuleMetadataApiMocks.ts
  packages/iocuak/src/containerModuleTask/models/api/ContainerModuleMetadataBaseApi.ts
  packages/iocuak/src/containerModuleTask/utils/api/convertToContainerModuleMetadata.spec.ts
  packages/iocuak/src/containerModuleTask/utils/api/convertToContainerModuleMetadata.ts
Due: iocuak

chore(package): update package with chai and cucumber
  package.json
Due: none

chore(cucumber): add cucumber config
  config/cucumber/cucumber.config.base.mjs
  config/cucumber/cucumber.js.config.mjs
  config/cucumber/cucumber.ts.config.mjs
  package.json
Due: none

Path conditions:
  cuaktask: any of: packages/cuaktask/
  iocuak: any of: packages/iocuak/
  porygon: any of: packages/porygon/
  porygon-typeorm: any of: packages/porygon-typeorm/
