Repository cuaklabs/iocuak: changes, and which Codecov flags are due for each by the changed paths.
All: iocuak, iocuak-models, iocuak-reflect-metadata-utils, porygon, porygon-typeorm

chore(github): update build ci to use iocuak-get-affected-projects script
  .github/workflows/build.yml
Due: none

chore: update npm ignore files with missing ones
  packages/iocuak-benchmark/.npmignore
  packages/iocuak-benchmark/CHANGELOG.md
  packages/iocuak-common/.npmignore
  packages/iocuak-core/.npmignore
  packages/iocuak-core/package.json
  packages/iocuak-decorators/.npmignore
  packages/iocuak-e2e/CHANGELOG.md
  packages/iocuak-models-api/.npmignore
  packages/iocuak-models/.npmignore
  packages/iocuak-reflect-metadata-utils/.npmignore
  packages/iocuak/.npmignore
  packages/porygon-typeorm/.npmignore
  packages/porygon/.npmignore
Due: iocuak, iocuak-models, iocuak-reflect-metadata-utils, porygon, porygon-typeorm

refactor(iocuak-scripts): update promisifiedExec to receive an optional interactive flag
  packages/iocuak-scripts/src/promisifiedExec.js
Due: none

refactor(iocuak-scripts): add publish script
  packages/iocuak-scripts/bin/publish.js
Due: none

chore(iocuak-scripts): add iocuak-publish bin script
  packages/iocuak-scripts/package.json
Due: none

chore(iocuak-common): add publish nx target
  packages/iocuak-common/project.json
Due: none

chore(iocuak-models): add publish nx target
  packages/iocuak-models/project.json
Due: iocuak-models

chore(iocuak): add publish nx target
  packages/iocuak/project.json
Due: iocuak

chore(iocuak-core): add publish nx target
  packages/iocuak-core/project.json
Due: none

chore(iocuak-decorators): add publish nx target
  packages/iocuak-decorators/project.json
Due: none

chore(iocuak-models-api): add publish nx target
  packages/iocuak-models-api/project.json
Due: none

chore(iocuak-reflect-metadata-utils): add publish nx target
  packages/iocuak-reflect-metadata-utils/project.json
Due: iocuak-reflect-metadata-utils

chore(porygon): add publish nx target
  packages/porygon/project.json
Due: porygon

chore(porygon-typeorm): add publish nx target
  packages/porygon-typeorm/project.json
Due: porygon-typeorm

docs(iocuak-common): update changelog
  packages/iocuak-common/CHANGELOG.md
Due: none

chore: fix prepublish:packages script to run build:all script
  package.json
Due: none

refactor(iocuak): move binding utils to the binding folder
  packages/iocuak/src/binding/utils/domain/bind.spec.ts
  packages/iocuak/src/binding/utils/domain/bind.ts
  packages/iocuak/src/binding/utils/domain/bindToValue.spec.ts
  packages/iocuak/src/binding/utils/domain/bindToValue.ts
  packages/iocuak/src/container/services/api/ContainerServiceApiImplementation.spec.ts
  packages/iocuak/src/container/services/api/ContainerServiceApiImplementation.ts
  packages/iocuak/src/containerModule/utils/api/convertToContainerModule.spec.ts
  packages/iocuak/src/containerModule/utils/api/convertToContainerModule.ts
Due: iocuak

refactor(iocuak-scripts): update publish script extracting publish method
  packages/iocuak-scripts/bin/publish.js
Due: none

fix(iocuak-scripts): update publish script with right asyncronous call
  packages/iocuak-scripts/bin/publish.js
Due: none

chore(codecov): update codecov config without porygon packages
  codecov.yml
Due: none

chore: remove porygon-typeorm package
  packages/porygon-typeorm/.eslintrc.js
  packages/porygon-typeorm/.npmignore
  packages/porygon-typeorm/CHANGELOG.md
  packages/porygon-typeorm/README.md
  packages/porygon-typeorm/package.json
  packages/porygon-typeorm/project.json
  packages/porygon-typeorm/src/common/utils/typeorm/findManyOptionsToFindOptionsWhere.spec.ts
  packages/porygon-typeorm/src/common/utils/typeorm/findManyOptionsToFindOptionsWhere.ts
  packages/porygon-typeorm/src/crud/adapter/typeorm/DeleteTypeOrmAdapter.int.spec.ts
  packages/porygon-typeorm/src/crud/adapter/typeorm/DeleteTypeOrmAdapter.spec.ts
  packages/porygon-typeorm/src/crud/adapter/typeorm/DeleteTypeOrmAdapter.ts
  packages/porygon-typeorm/src/crud/adapter/typeorm/FindTypeOrmAdapter.int.spec.ts
  packages/porygon-typeorm/src/crud/adapter/typeorm/FindTypeOrmAdapter.spec.ts
  packages/porygon-typeorm/src/crud/adapter/typeorm/FindTypeOrmAdapter.ts
  packages/porygon-typeorm/src/crud/adapter/typeorm/InsertTypeOrmAdapter.int.spec.ts
  packages/porygon-typeorm/src/crud/adapter/typeorm/InsertTypeOrmAdapter.spec.ts
  packages/porygon-typeorm/src/crud/adapter/typeorm/InsertTypeOrmAdapter.ts
  packages/porygon-typeorm/src/crud/adapter/typeorm/UpdateTypeOrmAdapter.int.spec.ts
  packages/porygon-typeorm/src/crud/adapter/typeorm/UpdateTypeOrmAdapter.spec.ts
  packages/porygon-typeorm/src/crud/adapter/typeorm/UpdateTypeOrmAdapter.ts
  packages/porygon-typeorm/src/crud/converter/typeorm/QueryToFindQueryTypeOrmConverter.ts
  packages/porygon-typeorm/src/crud/converter/typeorm/QueryWithQueryBuilderToFindQueryTypeOrmConverter.ts
  packages/porygon-typeorm/src/crud/models/domain/CrudTypeOrmModuleType.ts
  packages/porygon-typeorm/src/crud/modules/iocuak/TypeOrmCreateContainerModule.int.spec.ts
  packages/porygon-typeorm/src/crud/modules/iocuak/TypeOrmCreateContainerModule.spec.ts
  packages/porygon-typeorm/src/crud/modules/iocuak/TypeOrmCreateContainerModule.ts
  packages/porygon-typeorm/src/crud/modules/iocuak/TypeOrmCrudContainerModule.spec.ts
  packages/porygon-typeorm/src/crud/modules/iocuak/TypeOrmCrudContainerModule.ts
  packages/porygon-typeorm/src/crud/modules/iocuak/TypeOrmDeleteContainerModule.int.spec.ts
  packages/porygon-typeorm/src/crud/modules/iocuak/TypeOrmDeleteContainerModule.spec.ts
  packages/porygon-typeorm/src/crud/modules/iocuak/TypeOrmDeleteContainerModule.ts
  packages/porygon-typeorm/src/crud/modules/iocuak/TypeOrmReadContainerModule.int.spec.ts
  packages/porygon-typeorm/src/crud/modules/iocuak/TypeOrmReadContainerModule.spec.ts
  packages/porygon-typeorm/src/crud/modules/iocuak/TypeOrmReadContainerModule.ts
  packages/porygon-typeorm/src/crud/modules/iocuak/TypeOrmUpdateContainerModule.int.spec.ts
  packages/porygon-typeorm/src/crud/modules/iocuak/TypeOrmUpdateContainerModule.spec.ts
  packages/porygon-typeorm/src/crud/modules/iocuak/TypeOrmUpdateContainerModule.ts
  packages/porygon-typeorm/src/index.ts
  packages/porygon-typeorm/tsconfig.dev.json
  packages/porygon-typeorm/tsconfig.json
Due: porygon-typeorm

chore: remove typeorm root dependency
  package.json
Due: none

chore(codecov): update config
  codecov.yml
Due: none

chore: revert typescript to 4.7.4
  package.json
Due: none

chore(renovate): update renovate config to not automerge typescript updates
  .github/renovate.json
Due: none

refactor: update tests to use jest.Mocked
  packages/iocuak-core/src/binding/services/BindingServiceImplementation.spec.ts
  packages/iocuak-core/src/task/actions/createInstanceInRequestScope.spec.ts
  packages/iocuak-core/src/task/actions/createInstanceInSingletonScope.spec.ts
  packages/iocuak-core/src/task/actions/createInstanceInTransientScope.spec.ts
  packages/iocuak-core/src/task/actions/createInstancesByTag.spec.ts
  packages/iocuak-core/src/task/actions/getBinding.spec.ts
  packages/iocuak-core/src/task/actions/loadContainerModule.spec.ts
  packages/iocuak-core/src/task/actions/loadFromContainerModuleFactoryMetadata.spec.ts
  packages/iocuak/src/binding/utils/domain/bind.spec.ts
  packages/iocuak/src/binding/utils/domain/bindToValue.spec.ts
  packages/iocuak/src/container/services/api/ContainerServiceApiImplementation.spec.ts
  packages/iocuak/src/containerModule/utils/api/convertToContainerModule.spec.ts
  packages/iocuak/src/containerModuleMetadata/actions/api/convertToContainerModuleMetadata.spec.ts
  packages/iocuak/src/containerModuleMetadata/mocks/models/api/ContainerModuleMetadataApiMocks.ts
Due: iocuak

docs: update licenses
  package.json
  packages/iocuak-common/LICENSE
  packages/iocuak-common/package.json
  packages/iocuak-core/LICENSE
  packages/iocuak-core/package.json
  packages/iocuak-decorators/LICENSE
  packages/iocuak-decorators/package.json
  packages/iocuak-models-api/LICENSE
  packages/iocuak-models-api/package.json
  packages/iocuak-models/LICENSE
  packages/iocuak-models/package.json
  packages/iocuak-reflect-metadata-utils/LICENSE
  packages/iocuak-reflect-metadata-utils/package.json
  packages/iocuak/LICENSE
  packages/iocuak/package.json
Due: iocuak, iocuak-models, iocuak-reflect-metadata-utils

fix: fix bug template typo
  .github/ISSUE_TEMPLATE/bug.yml
Due: none

chore: add @cuaklabs/nx-plugin dependency
  package.json
Due: none

chore(iocuak-models): update publish target
  packages/iocuak-models/project.json
Due: iocuak-models

chore: update dependencies
  package.json
Due: none

chore(iocuak-common): update publish executor to be interactive
  packages/iocuak-common/project.json
Due: none

chore(iocuak-reflect-metadata-utils): update publish executor to be interactive
  packages/iocuak-reflect-metadata-utils/project.json
Due: iocuak-reflect-metadata-utils

chore: add env file
  .env
Due: none

refactor(iocuak-scripts): update promisifiedExec with options
  packages/iocuak-scripts/bin/publish.js
  packages/iocuak-scripts/src/promisifiedExec.js
Due: none

fix(iocuak-scripts): update promisifiedExec with optional chaining
  packages/iocuak-scripts/src/promisifiedExec.js
Due: none

chore: update project.json files to publish through the interactive executor
  packages/iocuak-core/project.json
  packages/iocuak-decorators/project.json
  packages/iocuak-models-api/project.json
  packages/iocuak/project.json
Due: iocuak

chore(iocuak): remove unused dependency
  packages/iocuak/package.json
Due: iocuak

Path conditions:
  iocuak: any of: packages/iocuak/
  iocuak-models: any of: packages/iocuak-models/
  iocuak-reflect-metadata-utils: any of: packages/iocuak-reflect-metadata-utils/
  porygon: any of: packages/porygon/
  porygon-typeorm: any of: packages/porygon-typeorm/
