Repository cuaklabs/iocuak: changes, and which Codecov flags are due for each by the changed paths.
All: cuaktask, iocuak, porygon, porygon-typeorm

chore(gh): update build action to open ssh port on failure
  .github/workflows/build.yml
Due: none

chore(package): set node types as dev dependency
  package.json
Due: none

chore: update sibling dependencies to use pnpm workspaces
  packages/iocuak/package.json
  packages/porygon-typeorm/package.json
  packages/porygon/package.json
Due: iocuak, porygon, porygon-typeorm

chore(github): update build action to use pnpm recursive install
  .github/workflows/build.yml
Due: none

chore(typescript): update typescript configs with schema
  packages/cuaktask/tsconfig.dev.json
  packages/cuaktask/tsconfig.json
  packages/iocuak/tsconfig.dev.json
  packages/iocuak/tsconfig.json
  packages/porygon-typeorm/tsconfig.dev.json
  packages/porygon-typeorm/tsconfig.json
  packages/porygon/tsconfig.dev.json
  packages/porygon/tsconfig.json
  tsconfig.base.json
  tsconfig.json
Due: cuaktask, iocuak, porygon, porygon-typeorm

chore(github): update pipeline to open ssh ports only if requested through git commit
  .github/workflows/build.yml
Due: none

docs: update release version docs
  docs/release-version.md
Due: none

chore(github): update build workflow to not to run package link script
  .github/workflows/build.yml
Due: none

chore: remove package:link script
  package.json
  scripts/cretateSymlinks.mjs
Due: none

docs: update docs to no longer use lerna
  docs/release-version.md
Due: none

chore: remove lerna and publish:packages script
  package.json
Due: none

chore(github): update build to use pnpm/action-setup@v2.2.1
  .github/workflows/build.yml
Due: none

chore(github): fix pnpm/action-setup config
  .github/workflows/build.yml
Due: none

chore(package): update dependencies
  package.json
  packages/porygon-typeorm/package.json
Due: porygon-typeorm

chore(prettier): ignore yaml files
  .prettierignore
Due: none

refactor(iocuak): update TaskDependencyEngine
  packages/iocuak/src/task/modules/TaskDependencyEngine.ts
Due: iocuak

feat(cuaktask): update BaseTask
  packages/cuaktask/CHANGELOG.md
  packages/cuaktask/src/task/models/domain/BaseDependentTask.ts
  packages/cuaktask/src/task/models/domain/BaseTask.spec.ts
  packages/cuaktask/src/task/models/domain/BaseTask.ts
  packages/cuaktask/src/task/models/domain/ExpandedDependentTask.ts
  packages/cuaktask/src/task/models/domain/ExpandedTask.ts
  packages/cuaktask/src/task/models/domain/Task.ts
  packages/cuaktask/src/task/modules/DependentTaskBuildOperation.spec.ts
  packages/cuaktask/src/task/modules/DependentTaskBuilder.spec.ts
  packages/cuaktask/src/task/modules/DependentTaskRunner.spec.ts
  packages/cuaktask/src/task/modules/DependentTaskRunner.ts
  packages/cuaktask/src/task/modules/SafeDependentTaskBuildOperation.spec.ts
  packages/cuaktask/src/task/modules/SafeDependentTaskBuilder.spec.ts
  packages/iocuak/src/container/services/cuaktask/ContainerInstanceServiceImplementation.spec.ts
Due: cuaktask, iocuak

test(cuaktask): add DependentTaskMocks
  packages/cuaktask/src/task/mocks/models/domain/DependentTaskMocks.ts
  packages/cuaktask/src/task/mocks/models/domain/TaskMocks.ts
  packages/cuaktask/src/task/modules/DependentTaskBuildOperation.spec.ts
  packages/cuaktask/src/task/modules/DependentTaskBuilder.spec.ts
  packages/cuaktask/src/task/modules/DependentTaskRunner.spec.ts
  packages/cuaktask/src/task/modules/DependentTaskRunner.ts
  packages/cuaktask/src/task/modules/SafeDependentTaskBuildOperation.spec.ts
  packages/cuaktask/src/task/modules/SafeDependentTaskBuilder.spec.ts
Due: cuaktask

refactor(cuaktask): update FlatPromise to be based on PromiseLikeResult
  packages/cuaktask/src/common/models/FlatPromise.ts
Due: cuaktask

style(cuaktask): update ContainerInstanceServiceImplementation.create with better typings
  packages/iocuak/src/container/services/cuaktask/ContainerInstanceServiceImplementation.ts
Due: iocuak

refactor(cuaktask): add PromiseLikeResult
  packages/cuaktask/src/common/models/PromiseLikeResult.ts
Due: cuaktask

refactor(cuaktask): add TaskDependencyKindGraph
  packages/cuaktask/src/task/models/domain/TaskDependencyKindGraph.ts
  packages/cuaktask/src/task/models/domain/TaskDependencyKindGraphNode.ts
Due: cuaktask

chore(jest): update jest config to ignore mocks
  config/jest/jest.config.base.mjs
Due: none

feat(cuaktask): update TaskDependencyEngine to return a task kind dependency graph
  packages/cuaktask/CHANGELOG.md
  packages/cuaktask/src/index.ts
  packages/cuaktask/src/task/models/domain/TaskDependencyKindGraph.ts
  packages/cuaktask/src/task/models/domain/TaskDependencyKindGraphNode.ts
  packages/cuaktask/src/task/modules/DependentTaskBuildOperation.spec.ts
  packages/cuaktask/src/task/modules/DependentTaskBuildOperation.ts
  packages/cuaktask/src/task/modules/DependentTaskBuilder.spec.ts
  packages/cuaktask/src/task/modules/DependentTaskBuilder.ts
  packages/cuaktask/src/task/modules/SafeDependentTaskBuildOperation.spec.ts
  packages/cuaktask/src/task/modules/SafeDependentTaskBuildOperation.ts
  packages/cuaktask/src/task/modules/SafeDependentTaskBuilder.spec.ts
  packages/cuaktask/src/task/modules/SafeDependentTaskBuilder.ts
  packages/cuaktask/src/task/modules/TaskDependencyEngine.ts
  packages/iocuak/src/common/modules/domain/Builder.ts
  packages/iocuak/src/common/modules/domain/SetLike.ts
  packages/iocuak/src/common/utils/unsafeLast.spec.ts
  packages/iocuak/src/common/utils/unsafeLast.ts
  packages/iocuak/src/container/modules/api/ContainerApi.ts
  packages/iocuak/src/container/services/cuaktask/ContainerInstanceServiceImplementation.spec.ts
  packages/iocuak/src/container/services/cuaktask/ContainerInstanceServiceImplementation.ts
  packages/iocuak/src/task/modules/DirectTaskDependencyEngine.spec.ts
  packages/iocuak/src/task/modules/DirectTaskDependencyEngine.ts
  packages/iocuak/src/task/modules/TaskBuilder.ts
  packages/iocuak/src/task/modules/TaskBuilderWithNoDependencies.spec.ts
  packages/iocuak/src/task/modules/TaskBuilderWithNoDependencies.ts
  packages/iocuak/src/task/modules/TaskDependencyEngine.ts
  packages/iocuak/src/task/modules/TaskKindSet.ts
Due: cuaktask, iocuak

chore(github): update build workflow to calculate code coverage based on unit tests
  .github/workflows/build.yml
Due: none

chore(jest): update jest config to calculate the right code coverage
  config/jest/jest.config.base.mjs
  config/jest/jest.config.mjs
  config/jest/jest.js.config.mjs
Due: none

test(iocuak): add isTaskKind tests
  packages/iocuak/src/utils/isTaskKind.spec.ts
Due: iocuak

test(iocuak): add TaskDependencyEngine tests
  packages/iocuak/src/task/modules/TaskDependencyEngine.spec.ts
Due: iocuak

test(iocuak): add ContainerApi unit tests
  packages/iocuak/src/container/modules/api/ContainerApi.spec.ts
Due: iocuak

refactor(iocuak): extract chain from injectFrom
  packages/iocuak/src/common/utils/chain.spec.ts
  packages/iocuak/src/common/utils/chain.ts
  packages/iocuak/src/metadata/decorators/injectFrom.ts
Due: iocuak

feat(cuaktask): update TaskDependencyKindGraphNode with TDependencyKind generic
  packages/cuaktask/src/task/models/domain/TaskDependencyKindGraph.ts
  packages/cuaktask/src/task/models/domain/TaskDependencyKindGraphNode.ts
  packages/cuaktask/src/task/modules/DependentTaskBuildOperation.spec.ts
  packages/cuaktask/src/task/modules/DependentTaskBuildOperation.ts
  packages/cuaktask/src/task/modules/TaskDependencyEngine.ts
  packages/iocuak/src/container/modules/api/ContainerApi.ts
  packages/iocuak/src/task/modules/TaskDependencyEngine.spec.ts
  packages/iocuak/src/task/modules/TaskDependencyEngine.ts
Due: cuaktask, iocuak

feat(iocuak): add ContainerModuleTaskKindType
  packages/iocuak/src/containerModuleTask/models/domain/ContainerModuleTaskKindType.ts
Due: iocuak

feat(iocuak): add ContainerModuleBaseTaskKind
  packages/iocuak/src/containerModuleTask/models/domain/ContainerModuleBaseTaskKind.ts
Due: iocuak

feat(iocuak): add ContainerModuleMetadata
  packages/iocuak/src/containerModuleTask/models/domain/ContainerModuleMetadata.ts
Due: iocuak

feat(iocuak): add ContainerModuleTaskKind
  packages/iocuak/src/containerModuleTask/models/domain/ContainerModuleCreateInstancesTaskKind.ts
  packages/iocuak/src/containerModuleTask/models/domain/ContainerModuleLoadFromMetadataTaskKind.ts
  packages/iocuak/src/containerModuleTask/models/domain/ContainerModuleTaskKind.ts
Due: iocuak

chore(github): update build workflow to stop filtering by paths
  .github/workflows/build.yml
Due: none

chore(lerna): remove unused lerna.json file
  lerna.json
Due: none

refactor(iocuak): move isTaskKind to task module
  packages/iocuak/src/task/modules/TaskBuilderWithNoDependencies.spec.ts
  packages/iocuak/src/task/modules/TaskBuilderWithNoDependencies.ts
  packages/iocuak/src/task/utils/isTaskKind.spec.ts
  packages/iocuak/src/task/utils/isTaskKind.ts
Due: iocuak

refactor(iocuak): add ContainerModuleTaskDependencyEngine
  packages/iocuak/src/containerModuleTask/modules/ContainerModuleTaskDependencyEngine.spec.ts
  packages/iocuak/src/containerModuleTask/modules/ContainerModuleTaskDependencyEngine.ts
Due: iocuak

Path conditions:
  cuaktask: any of: packages/cuaktask/
  iocuak: any of: packages/iocuak/
  porygon: any of: packages/porygon/
  porygon-typeorm: any of: packages/porygon-typeorm/
