Repository cuaklabs/iocuak: changes, and which Codecov flags are due for each by the changed paths.
All: cuaktask, iocuak

codecov.yml:

coverage:
  status:
    project:
      default: off
      nestjs-firebase-admin:
        flags: 
          - cuaktask
          - iocuak

flags:
  cuaktask:
    paths:
      - packages/cuaktask/
  iocuak:
    paths:
      - packages/iocuak/

chore(github): update ci script
  .github/workflows/build.yml
  .github/workflows/ci.yml
  packages/cuaktask/README.md
  packages/iocuak/README.md
Due: cuaktask, iocuak

chore(github): added github build action fallback
  .github/workflows/build_fallback.yml
Due: none

chore(github): updated build action to build node_modules cuaklabs files
  .github/workflows/build.yml
Due: none

chore(github): update build action to call ci builds which are incremental
  .github/workflows/build.yml
  package.json
  tsconfig.ci.json
  tsconfig.ci.test.json
Due: none

chore(codecov): update codecov config to with a project per package
  codecov.yml
Due: none

chore: updated test scripts with package based scripts Moved jest config to a jest config module.
  config/jest/jest.config.base.js
  config/jest/jest.config.js
  config/jest/jest.js.config.js
  jest.config.json
  jest.js.config.json
  package.json
Due: none

chore(github): update gh action with parallel test coverage actions
  .github/workflows/build.yml
Due: none

chore(gitgub): update build workflow with test-coverage step
  .github/workflows/build.yml
Due: none

chore(package): update dependencies
  package-lock.json
  package.json
Due: none

docs(iocuak): add codecov badge
  packages/cuaktask/README.md
  packages/iocuak/README.md
Due: cuaktask, iocuak

chore(github): add dependebot config
  .github/dependabot.yml
Due: none

docs(cuaktask): update Readme with npm version badge
  packages/cuaktask/README.md
Due: cuaktask

docs(iocuak): update Readme with npm version badge
  packages/iocuak/README.md
Due: iocuak

docs(iocuak): update readme to link to iocuak docs
  packages/iocuak/README.md
  packages/iocuak/docs/assets/logo.svg
  packages/iocuak/docs/contents/1-introduction.md
  packages/iocuak/docs/contents/2-decorating-classes.md
  packages/iocuak/docs/contents/3-the-container-object.md
  packages/iocuak/docs/index.md
Due: iocuak

refactor(iocuak): update ContainerApiServiceImplementation.#containerService
  packages/iocuak/container/services/api/ContainerApiServiceImplementation.ts
Due: iocuak

refactor(iocuak): update ContainerApi to inherit ContainerApiService
  packages/iocuak/container/modules/api/ContainerApi.ts
Due: iocuak

chore(github): update build workflow with right package
  .github/workflows/build.yml
Due: none

chore(package): update package test scripts with right jest projects
  package.json
Due: none

feat(iocuak): update index to expose ContainerApiService
  packages/iocuak/CHANGELOG.md
  packages/iocuak/src/index.ts
Due: iocuak

chore(porygon): add porygon package
  packages/porygon/.npmignore
  packages/porygon/CHANGELOG.md
  packages/porygon/README.md
  packages/porygon/package.json
  packages/porygon/tsconfig.dev.json
  packages/porygon/tsconfig.json
Due: none

refactor(porygon): add FindAdapter
  packages/porygon/src/crud/adapter/domain/FindAdapter.ts
Due: none

refactor(porygon): add Interactor
  packages/porygon/src/crud/modules/domain/Interactor.ts
Due: none

refactor(porygon): add ReadOneInteractor
  packages/porygon/src/crud/modules/domain/ReadOneInteractor.spec.ts
  packages/porygon/src/crud/modules/domain/ReadOneInteractor.ts
Due: none

refactor(porygon): add ReadManyInteractor
  packages/porygon/src/crud/modules/domain/ReadManyInteractor.spec.ts
  packages/porygon/src/crud/modules/domain/ReadManyInteractor.ts
Due: none

refactor(porygon): add CrudModuleType
  packages/porygon/src/crud/models/domain/CrudModuleType.ts
Due: none

refactor(porygon): add ModuleTypeToSymbolMap
  packages/porygon/src/crud/models/domain/ModuleTypeToSymbolMap.ts
Due: none

refactor(porygon): update ModuleTypeToSymbolMap to be readonly
  packages/porygon/src/crud/models/domain/ModuleTypeToSymbolMap.ts
Due: none

refactor(porygon): update ReadOneInteractor with ecmascript private properties
  packages/porygon/src/crud/modules/domain/ReadOneInteractor.ts
Due: none

refactor(porygon): update ReadManyInteractor with ecmascript private properties
  packages/porygon/src/crud/modules/domain/ReadManyInteractor.ts
Due: none

refactor(porygon): add CreateEntityInteractor
  packages/porygon/src/crud/modules/domain/CreateEntityInteractor.spec.ts
  packages/porygon/src/crud/modules/domain/CreateEntityInteractor.ts
Due: none

refactor(porygon): add ReadContainerModuleApi
  packages/porygon/src/crud/modules/iocuak/ReadContainerModuleApi.spec.ts
  packages/porygon/src/crud/modules/iocuak/ReadContainerModuleApi.ts
Due: none

refactor(porygon): add CreateAdapter
  packages/porygon/src/crud/adapter/domain/CreateAdapter.ts
Due: none

test(porygon): update ReacContainerModuleApi test with container binding expectations
  packages/porygon/src/crud/modules/iocuak/ReadContainerModuleApi.spec.ts
Due: none

refactor(porygon): add CreationContainerModuleApi
  packages/porygon/src/crud/modules/iocuak/CreationContainerModuleApi.spec.ts
  packages/porygon/src/crud/modules/iocuak/CreationContainerModuleApi.ts
Due: none

refactor(porygon): rename read interactors
  packages/porygon/src/crud/modules/domain/ReadManyEntityInteractor.spec.ts
  packages/porygon/src/crud/modules/domain/ReadManyEntityInteractor.ts
  packages/porygon/src/crud/modules/domain/ReadOneEntityInteractor.spec.ts
  packages/porygon/src/crud/modules/domain/ReadOneEntityInteractor.ts
  packages/porygon/src/crud/modules/iocuak/ReadContainerModuleApi.spec.ts
  packages/porygon/src/crud/modules/iocuak/ReadContainerModuleApi.ts
Due: none

refactor(porygon): add UpdateEntityInteractor
  packages/porygon/src/crud/modules/domain/UpdateEntityInteractor.spec.ts
  packages/porygon/src/crud/modules/domain/UpdateEntityInteractor.ts
Due: none

refactor(porygon): add UpdateContainerModuleApi
  packages/porygon/src/crud/adapter/domain/UpdateAdapter.ts
  packages/porygon/src/crud/modules/iocuak/UpdateContainerModuleApi.spec.ts
  packages/porygon/src/crud/modules/iocuak/UpdateContainerModuleApi.ts
Due: none

refactor(porygon): add DeleteAdapter
  packages/porygon/src/crud/adapter/domain/DeleteAdapter.ts
Due: none

refactor(porygon): add DeleteEntityInteractor
  packages/porygon/src/crud/modules/domain/DeleteEntityInteractor.spec.ts
  packages/porygon/src/crud/modules/domain/DeleteEntityInteractor.ts
Due: none
