Repository cuaklabs/iocuak: changes, and which Codecov flags are due for each by the changed paths.
All: cuaktask, iocuak, porygon, porygon-typeorm

codecov.yml:

coverage:
  status:
    project:
      default: off
      cuakask:
        flags: 
          - cuaktask
      iocuak:
        flags: 
          - iocuak
      porygon:
        flags:
          - porygon
      porygon-typeorm:
        flags:
          - porygon-typeorm

flags:
  cuaktask:
    paths:
      - packages/cuaktask/
  iocuak:
    paths:
      - packages/iocuak/
  porygon:
    paths:
      - packages/porygon/
  porygon-typeorm:
    paths:
      - packages/porygon-typeorm/

refactor(iocuak): update ContainerApi to use CreateInstancesTaskDependencyEngine
  packages/iocuak/src/container/modules/api/ContainerApi.spec.ts
  packages/iocuak/src/container/modules/api/ContainerApi.ts
Due: iocuak

refactor(iocuak): remove TaskDependencyEngine
  packages/iocuak/src/task/modules/TaskDependencyEngine.spec.ts
  packages/iocuak/src/task/modules/TaskDependencyEngine.ts
Due: iocuak

refactor(iocuak): remove DirectTaskDependencyEngine
  packages/iocuak/src/task/modules/DirectTaskDependencyEngine.spec.ts
  packages/iocuak/src/task/modules/DirectTaskDependencyEngine.ts
Due: iocuak

chore(package): update dependencies
  package.json
  packages/porygon-typeorm/package.json
Due: porygon-typeorm

refactor(iocuak): update TaskKindType with createInstanceRoot
  packages/iocuak/src/task/models/domain/TaskKindType.ts
Due: iocuak

refactor(iocuak): add CreateInstanceRootTaskKind
  packages/iocuak/src/task/models/domain/CreateInstanceRootTaskKind.ts
Due: iocuak

refactor(iocuak): update CreateInstanceTaskKind to no longer have id
  packages/iocuak/src/task/fixtures/domain/CreateInstanceTaskKindFixtures.ts
  packages/iocuak/src/task/models/cuaktask/CreateInstanceTask.spec.ts
  packages/iocuak/src/task/models/cuaktask/CreateInstanceTask.ts
  packages/iocuak/src/task/models/domain/CreateInstanceTaskKind.ts
  packages/iocuak/src/task/modules/CreateInstancesTaskDependencyEngine.spec.ts
  packages/iocuak/src/task/modules/CreateInstancesTaskDependencyEngine.ts
  packages/iocuak/src/task/modules/TaskKindSet.ts
Due: iocuak

refactor(iocuak): update CreateInstanceTaskKind with binding
  packages/iocuak/src/task/fixtures/domain/CreateInstanceTaskKindFixtures.ts
  packages/iocuak/src/task/models/domain/CreateInstanceTaskKind.ts
  packages/iocuak/src/task/modules/CreateInstancesTaskDependencyEngine.spec.ts
  packages/iocuak/src/task/modules/CreateInstancesTaskDependencyEngine.ts
Due: iocuak

refactor(iocuak): update TaskKind with CreateInstanceRootTaskKind
  packages/iocuak/src/container/services/cuaktask/ContainerInstanceServiceImplementation.spec.ts
  packages/iocuak/src/container/services/cuaktask/ContainerInstanceServiceImplementation.ts
  packages/iocuak/src/task/fixtures/domain/CreateInstanceRootTaskKindFixtures.ts
  packages/iocuak/src/task/models/domain/TaskKind.ts
  packages/iocuak/src/task/modules/CreateInstancesTaskDependencyEngine.spec.ts
  packages/iocuak/src/task/modules/CreateInstancesTaskDependencyEngine.ts
  packages/iocuak/src/task/modules/TaskBuilderWithNoDependencies.spec.ts
  packages/iocuak/src/task/modules/TaskBuilderWithNoDependencies.ts
Due: iocuak

refactor(iocuak): update CreateInstanceTask
  packages/iocuak/src/container/modules/api/ContainerApi.spec.ts
  packages/iocuak/src/container/modules/api/ContainerApi.ts
  packages/iocuak/src/task/fixtures/domain/CreateInstanceTaskKindFixtures.ts
  packages/iocuak/src/task/models/cuaktask/CreateInstanceTask.spec.ts
  packages/iocuak/src/task/models/cuaktask/CreateInstanceTask.ts
  packages/iocuak/src/task/modules/TaskBuilderWithNoDependencies.spec.ts
  packages/iocuak/src/task/modules/TaskBuilderWithNoDependencies.ts
Due: iocuak

refactor(iocuak): update dependencies
  package.json
Due: none

chore(husky): update husky git hooks to use bash instead of os dependent sh shebang
  .husky/commit-msg
  .husky/pre-commit
  .husky/pre-push
Due: none

chore(git): update precommit hook to use pnpm
  .husky/pre-commit
Due: none

chore(vscode): remove deprecated protocol options from launch configurations
  .vscode/launch.json
Due: none

refactor(cuaktask): move isPromiseLike function to common
  packages/cuaktask/src/common/utils/domain/isPromiseLike.spec.ts
  packages/cuaktask/src/common/utils/domain/isPromiseLike.ts
  packages/cuaktask/src/index.ts
  packages/cuaktask/src/task/models/domain/BaseTask.ts
  packages/cuaktask/src/task/modules/DependentTaskRunner.ts
Due: cuaktask

style(iocuak): remove unused imports
  packages/iocuak/src/binding/utils/domain/lazyGetBindingOrThrow.spec.ts
Due: iocuak

refactor(iocuak): rename CreateInstancesTaskDependencyEngine
  packages/iocuak/src/container/modules/api/ContainerApi.spec.ts
  packages/iocuak/src/container/modules/api/ContainerApi.ts
  packages/iocuak/src/task/modules/CreateInstancesTaskDependencyEngineOperation.spec.ts
  packages/iocuak/src/task/modules/CreateInstancesTaskDependencyEngineOperation.ts
Due: iocuak

refactor(iocuak): add CreateInstancesTaskDependencyEngine
  packages/iocuak/src/task/modules/CreateInstancesTaskDependencyEngine.spec.ts
  packages/iocuak/src/task/modules/CreateInstancesTaskDependencyEngine.ts
Due: iocuak

refactor(iocuak): update CreateInstancesTaskDependencyEngineOperation
  packages/iocuak/src/task/modules/CreateInstancesTaskDependencyEngine.spec.ts
  packages/iocuak/src/task/modules/CreateInstancesTaskDependencyEngine.ts
  packages/iocuak/src/task/modules/CreateInstancesTaskDependencyEngineOperation.spec.ts
  packages/iocuak/src/task/modules/CreateInstancesTaskDependencyEngineOperation.ts
Due: iocuak

test(iocuak): update CreateInstancesTaskDependencyEngineOperation specs
  packages/iocuak/src/task/modules/CreateInstancesTaskDependencyEngineOperation.spec.ts
Due: iocuak

refactor(iocuak): rename CreateInstancesTaskDependencyEngineOperation
  packages/iocuak/src/task/modules/CreateInstancesTaskDependenciesOperation.spec.ts
  packages/iocuak/src/task/modules/CreateInstancesTaskDependenciesOperation.ts
  packages/iocuak/src/task/modules/CreateInstancesTaskDependencyEngine.spec.ts
  packages/iocuak/src/task/modules/CreateInstancesTaskDependencyEngine.ts
Due: iocuak

refactor(iocuak): update CreateInstancesTaskDependenciesOperation with taskKind on ctor
  packages/iocuak/src/task/modules/CreateInstancesTaskDependenciesOperation.spec.ts
  packages/iocuak/src/task/modules/CreateInstancesTaskDependenciesOperation.ts
  packages/iocuak/src/task/modules/CreateInstancesTaskDependencyEngine.spec.ts
  packages/iocuak/src/task/modules/CreateInstancesTaskDependencyEngine.ts
Due: iocuak

test(iocuak): fix wrong module
  packages/iocuak/src/task/modules/CreateInstancesTaskDependencyEngine.spec.ts
Due: iocuak

refactor(iocuak): update CreateInstancesTaskDependenciesOperation
  packages/iocuak/src/task/modules/CreateInstancesTaskDependenciesOperation.ts
Due: iocuak

refactor(iocuak): update CreateInstancesTaskDependenciesOperation
  packages/iocuak/src/classMetadata/fixtures/domain/ClassMetadataFixtures.ts
  packages/iocuak/src/task/modules/CreateInstancesTaskDependenciesOperation.spec.ts
  packages/iocuak/src/task/modules/CreateInstancesTaskDependenciesOperation.ts
Due: iocuak

refactor(cuaktask): add NodeExecutionOperator
  packages/cuaktask/src/task/graph/models/domain/NodeExecutionOperator.ts
Due: cuaktask

refactor(cuaktask): add Node
  packages/cuaktask/src/task/graph/models/domain/Node.ts
  packages/cuaktask/src/task/graph/models/domain/NodeDependencies.ts
Due: cuaktask

refactor(cuaktask): rename NodeExecutionOperator to NodeDependenciesType
  packages/cuaktask/src/task/graph/models/domain/NodeDependencies.ts
  packages/cuaktask/src/task/graph/models/domain/NodeExecutionOperator.ts
Due: cuaktask

refactor(cuaktask): extract ResolvedNodeDependencies
  packages/cuaktask/src/task/graph/models/domain/BaseNodeDependencies.ts
  packages/cuaktask/src/task/graph/models/domain/Node.ts
  packages/cuaktask/src/task/graph/models/domain/NodeDependencies.ts
  packages/cuaktask/src/task/graph/models/domain/ResolvedNodeDependencies.ts
Due: cuaktask

refactor(cuaktask): update NodeDependencies with LazyNodeDependencies
  packages/cuaktask/src/task/graph/models/domain/LazyNodeDependencies.ts
  packages/cuaktask/src/task/graph/models/domain/NodeDependencies.ts
  packages/cuaktask/src/task/graph/models/domain/NodeExecutionOperator.ts
Due: cuaktask

chore(vscode): update launch json script with right folder
  .vscode/launch.json
Due: none

chore(package): update package with build with diagnostics
  package.json
Due: none

refactor(cuaktask): update LazyNodeDependencies with dependencies
  packages/cuaktask/src/task/graph/models/domain/BaseNodeDependencies.ts
  packages/cuaktask/src/task/graph/models/domain/LazyNodeDependencies.ts
  packages/cuaktask/src/task/graph/models/domain/NodeDependencies.ts
  packages/cuaktask/src/task/graph/models/domain/ResolvedNodeDependencies.ts
Due: cuaktask

chore(package): update dependencies
  package.json
Due: none

refactor(cuaktask): add RootedGraph
  packages/cuaktask/src/task/graph/models/domain/Graph.ts
  packages/cuaktask/src/task/graph/models/domain/RootedGraph.ts
Due: cuaktask

refactor(cuaktask): move graph module outside of task module
  packages/cuaktask/src/graph/models/domain/BaseNodeDependencies.ts
  packages/cuaktask/src/graph/models/domain/Graph.ts
  packages/cuaktask/src/graph/models/domain/LazyNodeDependencies.ts
  packages/cuaktask/src/graph/models/domain/Node.ts
  packages/cuaktask/src/graph/models/domain/NodeDependencies.ts
  packages/cuaktask/src/graph/models/domain/NodeExecutionOperator.ts
  packages/cuaktask/src/graph/models/domain/RootedGraph.ts
Due: cuaktask

refactor(cuaktask): rename NodeDependenciesType module to NodeDependenciesType
  packages/cuaktask/src/graph/models/domain/BaseNodeDependencies.ts
  packages/cuaktask/src/graph/models/domain/LazyNodeDependencies.ts
  packages/cuaktask/src/graph/models/domain/NodeDependencies.ts
  packages/cuaktask/src/graph/models/domain/NodeDependenciesType.ts
Due: cuaktask

refactor(cuaktask): remove LazyNodeDependencies
  packages/cuaktask/src/graph/models/domain/AndNodeDependencies.ts
  packages/cuaktask/src/graph/models/domain/LazyNodeDependencies.ts
  packages/cuaktask/src/graph/models/domain/NodeDependencies.ts
  packages/cuaktask/src/graph/models/domain/NodeDependenciesType.ts
  packages/cuaktask/src/graph/models/domain/OrElseNodeDependencies.ts
Due: cuaktask
