Repository cuaklabs/iocuak: changes, and which Codecov flags are due for each by the changed paths.
All: cuaktask, iocuak, porygon, porygon-typeorm

codecov.yml:

coverage:
  status:
    project:
      default: off
      cuakask:
        flags: 
          - cuaktask
      iocuak:
        flags: 
          - iocuak
      porygon:
        flags:
          - porygon
      porygon-typeorm:
        flags:
          - porygon-typeorm

flags:
  cuaktask:
    paths:
      - packages/cuaktask/
  iocuak:
    paths:
      - packages/iocuak/
  porygon:
    paths:
      - packages/porygon/
  porygon-typeorm:
    paths:
      - packages/porygon-typeorm/

chore(iocuak-benchmark): add NestJs dependencies
  packages/iocuak-benchmark/package.json
Due: none

refactor(iocuak-benchmark): add NestJs services
  packages/iocuak-benchmark/src/common/modules/nestjs/NestJsHandle.ts
  packages/iocuak-benchmark/src/common/modules/nestjs/NestJsKatana.ts
  packages/iocuak-benchmark/src/common/modules/nestjs/NestJsNinja.ts
  packages/iocuak-benchmark/src/common/modules/nestjs/NestJsShuriken.ts
Due: none

refactor(iocuak-benchmark): update Tsringe modules to use singleton like scope
  packages/iocuak-benchmark/src/common/modules/tsyringe/TsyringeHandle.ts
  packages/iocuak-benchmark/src/common/modules/tsyringe/TsyringeKatana.ts
  packages/iocuak-benchmark/src/common/modules/tsyringe/TsyringeNinja.ts
  packages/iocuak-benchmark/src/common/modules/tsyringe/TsyringeShuriken.ts
Due: none

style(iocuak-benchmark): add lf
  packages/iocuak-benchmark/src/benchmarks/createInstance/iocuakRun.ts
Due: none

refactor(iocuak-benchmark): add buildNestJsApplicationContext
  packages/iocuak-benchmark/src/common/modules/nestjs/buildNestJsApplicationContext.ts
Due: none

refactor(iocuak-benchmark): add buildNestJsRun
  packages/iocuak-benchmark/src/benchmarks/createInstance/buildNestJsRun.ts
Due: none

feat(iocuak-benchmark): update createInstance bench to use nestJs runner
  packages/iocuak-benchmark/src/benchmarks/createInstance/index.ts
Due: none

refactor(iocuak): update ContainerServiceApiImplementation to use loadContainerModule
  packages/iocuak/src/container/modules/api/ContainerApi.spec.ts
  packages/iocuak/src/container/modules/api/ContainerApi.ts
  packages/iocuak/src/container/services/api/ContainerServiceApiImplementation.spec.ts
  packages/iocuak/src/container/services/api/ContainerServiceApiImplementation.ts
  packages/iocuak/src/container/services/domain/ContainerService.ts
Due: iocuak

refactor(iocuak): remove ContainerModuleServiceImplementation
  packages/iocuak/src/container/services/cuaktask/ContainerModuleServiceImplementation.spec.ts
  packages/iocuak/src/container/services/cuaktask/ContainerModuleServiceImplementation.ts
Due: iocuak

refactor(iocuak): remove containerModuleMetadataTask unused modules
  packages/iocuak/src/containerModuleTask/mocks/models/domain/ContainerModuleCreateInstancesTaskKindMocks.ts
  packages/iocuak/src/containerModuleTask/mocks/models/domain/ContainerModuleLoadFromMetadataTaskKindMocks.ts
  packages/iocuak/src/containerModuleTask/models/cuaktast/ContainerModuleCreateInstancesTask.spec.ts
  packages/iocuak/src/containerModuleTask/models/cuaktast/ContainerModuleCreateInstancesTask.ts
  packages/iocuak/src/containerModuleTask/models/cuaktast/ContainerModuleLoadFromMetadataTask.spec.ts
  packages/iocuak/src/containerModuleTask/models/cuaktast/ContainerModuleLoadFromMetadataTask.ts
  packages/iocuak/src/containerModuleTask/models/domain/ContainerModuleBaseTaskKind.ts
  packages/iocuak/src/containerModuleTask/models/domain/ContainerModuleCreateInstancesTaskKind.ts
  packages/iocuak/src/containerModuleTask/models/domain/ContainerModuleLoadFromMetadataTaskKind.ts
  packages/iocuak/src/containerModuleTask/models/domain/ContainerModuleTaskKind.ts
  packages/iocuak/src/containerModuleTask/models/domain/ContainerModuleTaskKindType.ts
  packages/iocuak/src/containerModuleTask/modules/ContainerModuleTaskBuilder.ts
  packages/iocuak/src/containerModuleTask/modules/ContainerModuleTaskBuilderWithNoDependencies.spec.ts
  packages/iocuak/src/containerModuleTask/modules/ContainerModuleTaskBuilderWithNoDependencies.ts
  packages/iocuak/src/containerModuleTask/modules/ContainerModuleTaskDependencyEngine.spec.ts
  packages/iocuak/src/containerModuleTask/modules/ContainerModuleTaskDependencyEngine.ts
  packages/iocuak/src/containerModuleTask/utils/domain/isContainerModuleTaskKind.spec.ts
  packages/iocuak/src/containerModuleTask/utils/domain/isContainerModuleTaskKind.ts
Due: iocuak

refactor(iocuak): move mocks to containerModuleMetadata folder
  packages/iocuak/src/containerModuleMetadata/mocks/models/api/ContainerModuleMetadataApiMocks.ts
  packages/iocuak/src/containerModuleMetadata/mocks/models/domain/ContainerModuleMetadataMocks.ts
  packages/iocuak/src/containerModuleMetadata/utils/api/convertToContainerModuleMetadata.spec.ts
  packages/iocuak/src/task/actions/domain/loadContainerModuleElement.spec.ts
Due: iocuak

chore: remove jest types
  package.json
Due: none

chore(eslint): update eslint config to give preference to jest libraries
  .eslintrc.js
Due: none

refactor: update cuaktask tests to avoid "@types/jest" dependencies
  packages/cuaktask/src/task/mocks/models/domain/TaskMocks.ts
  packages/cuaktask/src/task/models/domain/BaseDependentTask.spec.ts
  packages/cuaktask/src/task/models/domain/BaseTask.spec.ts
  packages/cuaktask/src/task/modules/DependentTaskBuildOperation.spec.ts
  packages/cuaktask/src/task/modules/DependentTaskBuilder.spec.ts
  packages/cuaktask/src/task/modules/DependentTaskRunner.spec.ts
  packages/cuaktask/src/task/modules/RootedTaskGraphRunner.spec.ts
  packages/iocuak/src/binding/services/domain/BindingServiceImplementation.spec.ts
Due: cuaktask, iocuak

refactor(porygon): update tests to avoid "@types/jest" dependencies
  packages/porygon/src/crud/modules/domain/CreateEntityInteractor.spec.ts
  packages/porygon/src/crud/modules/domain/DeleteEntityInteractor.spec.ts
  packages/porygon/src/crud/modules/domain/ReadManyEntityInteractor.spec.ts
  packages/porygon/src/crud/modules/domain/ReadOneEntityInteractor.spec.ts
  packages/porygon/src/crud/modules/domain/UpdateEntityInteractor.spec.ts
  packages/porygon/src/crud/modules/iocuak/DomainCreateContainerModule.int.spec.ts
  packages/porygon/src/crud/modules/iocuak/DomainCreateContainerModule.spec.ts
  packages/porygon/src/crud/modules/iocuak/DomainCrudContainerModule.spec.ts
  packages/porygon/src/crud/modules/iocuak/DomainDeleteContainerModule.int.spec.ts
  packages/porygon/src/crud/modules/iocuak/DomainDeleteContainerModule.spec.ts
  packages/porygon/src/crud/modules/iocuak/DomainReadContainerModule.int.spec.ts
  packages/porygon/src/crud/modules/iocuak/DomainReadContainerModule.spec.ts
  packages/porygon/src/crud/modules/iocuak/DomainUpdateContainerModule.int.spec.ts
  packages/porygon/src/crud/modules/iocuak/DomainUpdateContainerModule.spec.ts
Due: porygon

refactor(porygon-typeorm): update tests to avoid "@types/jest" dependencies
  packages/porygon-typeorm/src/common/utils/typeorm/findManyOptionsToFindOptionsWhere.spec.ts
  packages/porygon-typeorm/src/crud/adapter/typeorm/DeleteTypeOrmAdapter.int.spec.ts
  packages/porygon-typeorm/src/crud/adapter/typeorm/DeleteTypeOrmAdapter.spec.ts
  packages/porygon-typeorm/src/crud/adapter/typeorm/FindTypeOrmAdapter.int.spec.ts
  packages/porygon-typeorm/src/crud/adapter/typeorm/FindTypeOrmAdapter.spec.ts
  packages/porygon-typeorm/src/crud/adapter/typeorm/InsertTypeOrmAdapter.int.spec.ts
  packages/porygon-typeorm/src/crud/adapter/typeorm/InsertTypeOrmAdapter.spec.ts
  packages/porygon-typeorm/src/crud/adapter/typeorm/UpdateTypeOrmAdapter.int.spec.ts
  packages/porygon-typeorm/src/crud/adapter/typeorm/UpdateTypeOrmAdapter.spec.ts
  packages/porygon-typeorm/src/crud/modules/iocuak/TypeOrmCreateContainerModule.int.spec.ts
  packages/porygon-typeorm/src/crud/modules/iocuak/TypeOrmCreateContainerModule.spec.ts
  packages/porygon-typeorm/src/crud/modules/iocuak/TypeOrmCrudContainerModule.spec.ts
  packages/porygon-typeorm/src/crud/modules/iocuak/TypeOrmDeleteContainerModule.int.spec.ts
  packages/porygon-typeorm/src/crud/modules/iocuak/TypeOrmDeleteContainerModule.spec.ts
  packages/porygon-typeorm/src/crud/modules/iocuak/TypeOrmReadContainerModule.int.spec.ts
  packages/porygon-typeorm/src/crud/modules/iocuak/TypeOrmReadContainerModule.spec.ts
  packages/porygon-typeorm/src/crud/modules/iocuak/TypeOrmUpdateContainerModule.int.spec.ts
  packages/porygon-typeorm/src/crud/modules/iocuak/TypeOrmUpdateContainerModule.spec.ts
Due: porygon-typeorm

refactor(iocuak): add isPromiseLike
  packages/iocuak/src/common/utils/isPromiseLike.spec.ts
  packages/iocuak/src/common/utils/isPromiseLike.ts
Due: iocuak

refactor(iocuak): update modules to rely on isPromiseLike
  packages/iocuak/src/containerModuleMetadata/utils/api/convertToContainerModuleMetadata.ts
  packages/iocuak/src/task/actions/domain/loadContainerModule.ts
  packages/iocuak/src/task/actions/domain/loadFromContainerModuleFactoryMetadata.ts
Due: iocuak

chore(iocuak): update dependencies to no longer depend on cuaktask
  packages/iocuak/package.json
Due: iocuak

chore(typescript): remove unexisting ts project
  tsconfig.packages.dev.json
Due: none

chore: update root package with new repository name
  README.md
  package.json
Due: none

chore(iocuak): update package with new repository name
  packages/iocuak/README.md
  packages/iocuak/package.json
Due: iocuak

chore(iocuak-benchmark): update package with new repository name
  packages/iocuak-benchmark/README.md
  packages/iocuak-benchmark/package.json
Due: none

chore(porygon): update package with new repository name
  packages/porygon/README.md
  packages/porygon/package.json
Due: porygon

chore(porygon-typeorm): update package with new repository name
  packages/porygon-typeorm/README.md
  packages/porygon-typeorm/package.json
Due: porygon-typeorm

refactor(iocuak): update MetadataKey values
  packages/iocuak/src/reflectMetadata/models/domain/MetadataKey.ts
Due: iocuak

refactor(iocuak): update ContainerModuleFactoryMetadata.injects to be ClassElementMetadata array
  packages/iocuak/src/containerModuleMetadata/mocks/models/domain/ContainerModuleMetadataMocks.ts
  packages/iocuak/src/containerModuleMetadata/models/domain/ContainerModuleFactoryMetadata.ts
  packages/iocuak/src/containerModuleMetadata/utils/api/convertToContainerModuleMetadata.spec.ts
  packages/iocuak/src/containerModuleMetadata/utils/api/convertToContainerModuleMetadata.ts
  packages/iocuak/src/task/actions/domain/loadFromContainerModuleFactoryMetadata.spec.ts
  packages/iocuak/src/task/actions/domain/loadFromContainerModuleFactoryMetadata.ts
Due: iocuak

refactor(iocuak): add convertToClassElementMetadata
  packages/iocuak/src/classMetadata/utils/api/convertToClassElementMetadata.spec.ts
  packages/iocuak/src/classMetadata/utils/api/convertToClassElementMetadata.ts
Due: iocuak

refactor(iocuak): add isClassElementMetadataApi
  packages/iocuak/src/classMetadata/utils/api/isClassElementMetadataApi.ts
Due: iocuak

test(iocuak): add missing fixtures
  packages/iocuak/src/classMetadata/fixtures/api/ClassElementMetadataApiFixtures.ts
Due: iocuak

refactor(iocuak): update ContainerModuleFactoryMetadataApi.injects to allow ClassElementMetadataApi
  packages/iocuak/src/container/services/api/ContainerServiceApiImplementation.spec.ts
  packages/iocuak/src/container/services/api/ContainerServiceApiImplementation.ts
  packages/iocuak/src/containerModuleMetadata/actions/api/convertToContainerModuleMetadata.spec.ts
  packages/iocuak/src/containerModuleMetadata/actions/api/convertToContainerModuleMetadata.ts
  packages/iocuak/src/containerModuleMetadata/actions/api/isContainerModuleClassMetadataApi.ts
  packages/iocuak/src/containerModuleMetadata/mocks/models/api/ContainerModuleMetadataApiMocks.ts
  packages/iocuak/src/containerModuleMetadata/models/api/ContainerModuleFactoryMetadataApi.ts
  packages/iocuak/src/e2e/definitions/container/containerDefinitions.ts
Due: iocuak

docs(iocuak): update changelog
  packages/iocuak/CHANGELOG.md
Due: iocuak

chore(iocuak): update package version
  packages/iocuak/package.json
Due: iocuak

chore(typescript): update tsconfig with valid moduleResolution
  tsconfig.base.json
Due: none

refactor(iocuak): rename ClassElementMetadatApiType to ClassElementMetadataApiType
  packages/iocuak/src/classMetadata/fixtures/api/ClassElementMetadataApiFixtures.ts
  packages/iocuak/src/classMetadata/models/api/BaseClassElementMetadataApi.ts
  packages/iocuak/src/classMetadata/models/api/ClassElementMetadatApiType.ts
  packages/iocuak/src/classMetadata/models/api/ClassElementServiceIdMetadataApi.ts
  packages/iocuak/src/classMetadata/models/api/ClassElementTagMetadataApi.ts
  packages/iocuak/src/classMetadata/utils/api/convertToClassElementMetadata.ts
  packages/iocuak/src/classMetadata/utils/api/convertToClassMetadataApi.spec.ts
  packages/iocuak/src/classMetadata/utils/api/convertToClassMetadataApi.ts
  packages/iocuak/src/classMetadata/utils/api/isClassElementMetadataApi.ts
  packages/iocuak/src/containerModuleMetadata/mocks/models/api/ContainerModuleMetadataApiMocks.ts
  packages/iocuak/src/e2e/definitions/container/containerDefinitions.ts
  packages/iocuak/src/index.ts
Due: iocuak

chore(iocuak-e2e): add iocuak-e2e package
  packages/iocuak-e2e/CHANGELOG.md
  packages/iocuak-e2e/README.md
  packages/iocuak-e2e/package.json
  packages/iocuak-e2e/src/index.ts
  packages/iocuak-e2e/tsconfig.dev.json
  packages/iocuak-e2e/tsconfig.json
  tsconfig.base.json
  tsconfig.packages.dev.json
  tsconfig.packages.json
Due: none
