Repository cuaklabs/iocuak: changes, and which Codecov flags are due for each by the changed paths.
All: iocuak, iocuak-common, iocuak-decorators, iocuak-models, iocuak-reflect-metadata-utils

chore(iocuak-api): add local linter and formatter config
  packages/iocuak-models-api/.eslintignore
  packages/iocuak-models-api/.gitignore
  packages/iocuak-models-api/.lintstagedrc.json
  packages/iocuak-models-api/.prettierignore
  packages/iocuak-models-api/package.json
  packages/iocuak-models-api/prettier.config.js
Due: none

chore(iocuak-reflect-metadata-utils): add local linter and formatter config
  packages/iocuak-reflect-metadata-utils/.eslintignore
  packages/iocuak-reflect-metadata-utils/.gitignore
  packages/iocuak-reflect-metadata-utils/.lintstagedrc.json
  packages/iocuak-reflect-metadata-utils/.prettierignore
  packages/iocuak-reflect-metadata-utils/package.json
  packages/iocuak-reflect-metadata-utils/prettier.config.js
Due: iocuak-reflect-metadata-utils

chore(vscode): add eslint workspace directories
  .vscode/settings.json
Due: none

chore(iocuak-scripts): add gitignore
  packages/iocuak-scripts/.gitignore
Due: none

chore: remove unused config
  .env
  .eslintignore
  .gitignore
  .prettierignore
  .prettierrc
Due: none

chore(turborepo): add turborepo config
  turbo.json
Due: none

chore(package): migrate scripts to turborepo and remove unused config and dependencies
  package.json
Due: none

chore(github): update ci workflow to lint affected fiels on top of turborepo cli command
  .github/workflows/build.yml
Due: none

chore: remove nx
  package.json
  packages/iocuak-benchmark/project.json
  packages/iocuak-common/project.json
  packages/iocuak-core/project.json
  packages/iocuak-decorators/project.json
  packages/iocuak-e2e/project.json
  packages/iocuak-models-api/project.json
  packages/iocuak-models/project.json
  packages/iocuak-reflect-metadata-utils/project.json
  packages/iocuak-scripts/bin/getAffectedProjects.js
  packages/iocuak-scripts/bin/publish.js
  packages/iocuak-scripts/index.js
  packages/iocuak-scripts/package.json
  packages/iocuak-scripts/project.json
  packages/iocuak/project.json
  packages/typescript-config-iocuak/project.json
Due: iocuak, iocuak-common, iocuak-decorators, iocuak-models, iocuak-reflect-metadata-utils

chore: add iocuak jest config package
  packages/iocuak-jest-config/.gitignore
  packages/iocuak-jest-config/.prettierignore
  packages/iocuak-jest-config/LICENSE
  packages/iocuak-jest-config/lib/config/getJestJsProjectConfig.js
  packages/iocuak-jest-config/lib/config/getJestProjectConfig.js
  packages/iocuak-jest-config/lib/config/getJestTsProjectConfig.js
  packages/iocuak-jest-config/lib/config/getTestMatch.js
  packages/iocuak-jest-config/lib/config/projectRoot.js
  packages/iocuak-jest-config/lib/index.js
  packages/iocuak-jest-config/package.json
  packages/iocuak-jest-config/prettier.config.cjs
Due: none

chore: add iocuak-jest-config root dependency
  package.json
Due: none

chore(turborepo): update turborepo with iocuak-jest-config format task
  turbo.json
Due: none

chore(turborepo): add test tasks
  turbo.json
Due: none

chore(iocuak): add test scripts
  packages/iocuak/jest.config.mjs
  packages/iocuak/jest.js.config.mjs
  packages/iocuak/package.json
Due: iocuak

chore(iocuak-common): add test scripts
  packages/iocuak-common/jest.config.mjs
  packages/iocuak-common/jest.js.config.mjs
  packages/iocuak-common/package.json
Due: iocuak-common

chore(iocuak-core): add test scripts
  packages/iocuak-core/jest.config.mjs
  packages/iocuak-core/jest.js.config.mjs
  packages/iocuak-core/package.json
Due: none

chore(iocuak-decorators): add test scripts
  packages/iocuak-decorators/jest.config.mjs
  packages/iocuak-decorators/jest.js.config.mjs
  packages/iocuak-decorators/package.json
Due: iocuak-decorators

chore(iocuak-models): add test scripts
  packages/iocuak-models/jest.config.mjs
  packages/iocuak-models/jest.js.config.mjs
  packages/iocuak-models/package.json
Due: iocuak-models

chore(iocuak-models-api): add test scripts
  packages/iocuak-models-api/jest.config.mjs
  packages/iocuak-models-api/jest.js.config.mjs
  packages/iocuak-models-api/package.json
Due: none

chore(iocuak-reflect-metadata-utils): add test scripts
  packages/iocuak-reflect-metadata-utils/jest.config.mjs
  packages/iocuak-reflect-metadata-utils/jest.js.config.mjs
  packages/iocuak-reflect-metadata-utils/package.json
Due: iocuak-reflect-metadata-utils

chore(git): remove pre-push hook
  .husky/pre-push
Due: none

chore(iocuak): improve test config
  packages/iocuak/.gitignore
  packages/iocuak/.npmignore
  packages/iocuak/package.json
Due: iocuak

chore(iocuak-common): improve test config
  packages/iocuak-common/.gitignore
  packages/iocuak-common/.npmignore
  packages/iocuak-common/package.json
Due: iocuak-common

chore(iocuak-core): improve test config
  packages/iocuak-core/.gitignore
  packages/iocuak-core/.npmignore
  packages/iocuak-core/package.json
Due: none

chore(iocuak-decorators): improve test config
  packages/iocuak-decorators/.gitignore
  packages/iocuak-decorators/.npmignore
  packages/iocuak-decorators/package.json
Due: iocuak-decorators

chore(iocuak-models): improve test config
  packages/iocuak-models/.gitignore
  packages/iocuak-models/.npmignore
  packages/iocuak-models/package.json
Due: iocuak-models

chore(iocuak-models-api): improve test config
  packages/iocuak-models-api/.gitignore
  packages/iocuak-models-api/.npmignore
  packages/iocuak-models-api/package.json
Due: none

chore(iocuak-reflect-metadata-utils): improve test config
  packages/iocuak-reflect-metadata-utils/.gitignore
  packages/iocuak-reflect-metadata-utils/.npmignore
  packages/iocuak-reflect-metadata-utils/package.json
Due: iocuak-reflect-metadata-utils

chore(turborepo): update turborepo with test:js:coverage task
  turbo.json
Due: none

chore: update test scripts in favor of turborepo
  .github/workflows/build.yml
  config/jest/jest.config.mjs
  config/jest/jest.js.config.mjs
  package.json
Due: none

chore: remove nx config
  nx.json
Due: none

chore(git): update git config to target root coverage folder
  .gitignore
Due: none

fix(github): update ci workflow with more efficient operations
  .github/workflows/build.yml
  packages/iocuak-scripts/bin/getAffectedProjects.js
Due: none

fix(github): fix syntax error
  .github/workflows/build.yml
Due: none

chore(iocuak): add mutation tests and polish ts config
  packages/iocuak/.gitignore
  packages/iocuak/jest.config.stryker.mjs
  packages/iocuak/package.json
  packages/iocuak/stryker.conf.json
  packages/iocuak/tsconfig.dev.json
  packages/iocuak/tsconfig.json
Due: iocuak

chore(iocuak-benchmark): ts config
  packages/iocuak-benchmark/package.json
  packages/iocuak-benchmark/tsconfig.dev.json
  packages/iocuak-benchmark/tsconfig.json
Due: none

chore(iocuak-common): add mutation tests and polish ts config
  packages/iocuak-common/.gitignore
  packages/iocuak-common/jest.config.stryker.mjs
  packages/iocuak-common/package.json
  packages/iocuak-common/stryker.conf.json
  packages/iocuak-common/tsconfig.dev.json
  packages/iocuak-common/tsconfig.json
Due: iocuak-common

chore(iocuak-core): add mutation tests and polish ts config
  packages/iocuak-core/.gitignore
  packages/iocuak-core/jest.config.stryker.mjs
  packages/iocuak-core/package.json
  packages/iocuak-core/stryker.conf.json
  packages/iocuak-core/tsconfig.dev.json
  packages/iocuak-core/tsconfig.json
Due: none

chore(iocuak-decorators): add mutation tests and polish ts config
  packages/iocuak-decorators/.gitignore
  packages/iocuak-decorators/jest.config.stryker.mjs
  packages/iocuak-decorators/package.json
  packages/iocuak-decorators/stryker.conf.json
  packages/iocuak-decorators/tsconfig.dev.json
  packages/iocuak-decorators/tsconfig.json
Due: iocuak-decorators

chore(iocuak-e2e): polish ts config
  packages/iocuak-e2e/package.json
  packages/iocuak-e2e/tsconfig.dev.json
  packages/iocuak-e2e/tsconfig.json
Due: none

Path conditions:
  iocuak: any of: packages/iocuak/
  iocuak-common: any of: packages/iocuak-common/
  iocuak-decorators: any of: packages/iocuak-decorators/
  iocuak-models: any of: packages/iocuak-models/
  iocuak-reflect-metadata-utils: any of: packages/iocuak-reflect-metadata-utils/
