Repository cuaklabs/iocuak: changes, and which Codecov flags are due for each by the changed paths.
All: cuaktask, iocuak, porygon, porygon-typeorm

refactor(iocuak): add BindingApi
  packages/iocuak/src/binding/models/api/BaseBindingApi.ts
  packages/iocuak/src/binding/models/api/BindingApi.ts
  packages/iocuak/src/binding/models/api/BindingApiType.ts
  packages/iocuak/src/binding/models/api/TypeBindingApi.ts
  packages/iocuak/src/binding/models/api/ValueBindingApi.ts
Due: iocuak

feat(iocuak): update InjectableOptionsApi.scope to be a TaskScopeApi
  packages/iocuak/CHANGELOG.md
  packages/iocuak/src/index.ts
  packages/iocuak/src/metadata/decorators/injectable.spec.ts
  packages/iocuak/src/metadata/decorators/injectable.ts
  packages/iocuak/src/metadata/fixtures/api/InjectableOptionsApiFixtures.ts
  packages/iocuak/src/metadata/models/api/InjectableOptionsApi.ts
Due: iocuak

fix: fix broken TaskScope references
  packages/porygon-typeorm/src/crud/modules/iocuak/TypeOrmCreateContainerModuleApi.spec.ts
  packages/porygon-typeorm/src/crud/modules/iocuak/TypeOrmCreateContainerModuleApi.ts
  packages/porygon-typeorm/src/crud/modules/iocuak/TypeOrmDeleteContainerModuleApi.spec.ts
  packages/porygon-typeorm/src/crud/modules/iocuak/TypeOrmDeleteContainerModuleApi.ts
  packages/porygon-typeorm/src/crud/modules/iocuak/TypeOrmReadContainerModuleApi.spec.ts
  packages/porygon-typeorm/src/crud/modules/iocuak/TypeOrmReadContainerModuleApi.ts
  packages/porygon-typeorm/src/crud/modules/iocuak/TypeOrmUpdateContainerModuleApi.spec.ts
  packages/porygon-typeorm/src/crud/modules/iocuak/TypeOrmUpdateContainerModuleApi.ts
  packages/porygon/src/crud/modules/iocuak/DomainCreateContainerModuleApi.spec.ts
  packages/porygon/src/crud/modules/iocuak/DomainCreateContainerModuleApi.ts
  packages/porygon/src/crud/modules/iocuak/DomainDeleteContainerModuleApi.spec.ts
  packages/porygon/src/crud/modules/iocuak/DomainDeleteContainerModuleApi.ts
  packages/porygon/src/crud/modules/iocuak/DomainReadContainerModuleApi.spec.ts
  packages/porygon/src/crud/modules/iocuak/DomainReadContainerModuleApi.ts
  packages/porygon/src/crud/modules/iocuak/DomainUpdateContainerModuleApi.spec.ts
  packages/porygon/src/crud/modules/iocuak/DomainUpdateContainerModuleApi.ts
Due: porygon, porygon-typeorm

feat: update ContainerBindingApiService with getAllBindinds
  packages/iocuak/CHANGELOG.md
  packages/iocuak/src/container/services/api/ContainerApiServiceImplementation.spec.ts
  packages/iocuak/src/container/services/api/ContainerApiServiceImplementation.ts
  packages/iocuak/src/container/services/api/ContainerBindingApiService.ts
  packages/iocuak/src/index.ts
Due: iocuak

refactor(iocuak): add taskScopeToTaskScopeApiMap
  packages/iocuak/src/task/models/api/taskScopeToTaskScopeApiMap.ts
Due: iocuak

refactor(iocuak): move convertBindingToBindingApi to an api folder
  packages/iocuak/src/binding/utils/api/convertBindingToBindingApi.spec.ts
  packages/iocuak/src/binding/utils/api/convertBindingToBindingApi.ts
  packages/iocuak/src/container/services/api/ContainerApiServiceImplementation.spec.ts
  packages/iocuak/src/container/services/api/ContainerApiServiceImplementation.ts
Due: iocuak

refactor: add convertBindingToBindingApi
  packages/iocuak/src/binding/utils/convertBindingToBindingApi.spec.ts
  packages/iocuak/src/binding/utils/convertBindingToBindingApi.ts
Due: iocuak

chore: update dependencies
  package.json
  packages/porygon-typeorm/package.json
Due: porygon-typeorm

refactor(iocuak): add convertClassMetadataToClassMetadataApi
  packages/iocuak/src/metadata/utils/api/convertClassMetadataToClassMetadataApi.spec.ts
  packages/iocuak/src/metadata/utils/api/convertClassMetadataToClassMetadataApi.ts
Due: iocuak

refactor(iocuak): add ClassMetadataApi
  packages/iocuak/src/metadata/models/api/ClassMetadataApi.ts
Due: iocuak

refactor(iocuak): update convertBindingToBindingApi with additional signatures
  packages/iocuak/src/binding/utils/api/convertBindingToBindingApi.ts
Due: iocuak

refactor(iocuak): add MetadataApiService
  packages/iocuak/src/container/services/api/MetadataApiService.ts
Due: iocuak

refactor(iocuak): add MetadataApiServiceImplementation
  packages/iocuak/src/container/services/api/MetadataApiServiceImplementation.spec.ts
  packages/iocuak/src/container/services/api/MetadataApiServiceImplementation.ts
Due: iocuak

refactor: move binding models to metadata folder
  packages/iocuak/src/container/services/api/ContainerApiServiceImplementation.spec.ts
  packages/iocuak/src/container/services/api/ContainerApiServiceImplementation.ts
  packages/iocuak/src/container/services/api/ContainerBindingApiService.ts
  packages/iocuak/src/container/services/domain/ContainerBindingService.ts
  packages/iocuak/src/container/services/domain/ContainerBindingServiceImplementation.spec.ts
  packages/iocuak/src/container/services/domain/ContainerBindingServiceImplementation.ts
  packages/iocuak/src/container/services/domain/ContainerMetadataService.ts
  packages/iocuak/src/container/services/domain/ContainerMetadataServiceImplementation.ts
  packages/iocuak/src/index.ts
  packages/iocuak/src/metadata/decorators/injectFrom.spec.ts
  packages/iocuak/src/metadata/decorators/injectFrom.ts
  packages/iocuak/src/metadata/decorators/injectFromBase.spec.ts
  packages/iocuak/src/metadata/decorators/injectFromBase.ts
  packages/iocuak/src/metadata/decorators/injectable.spec.ts
  packages/iocuak/src/metadata/decorators/injectable.ts
  packages/iocuak/src/metadata/models/api/BaseBindingApi.ts
  packages/iocuak/src/metadata/models/api/BaseClassMetadataExtensionApi.ts
  packages/iocuak/src/metadata/models/api/BindingApi.ts
  packages/iocuak/src/metadata/models/api/BindingApiType.ts
  packages/iocuak/src/metadata/models/api/ClassMetadataExtensionApi.ts
  packages/iocuak/src/metadata/models/api/TypeBindingApi.ts
  packages/iocuak/src/metadata/models/api/ValueBindingApi.ts
  packages/iocuak/src/metadata/models/domain/BaseBinding.ts
  packages/iocuak/src/metadata/models/domain/Binding.ts
  packages/iocuak/src/metadata/models/domain/BindingType.ts
  packages/iocuak/src/metadata/models/domain/TypeBinding.ts
  packages/iocuak/src/metadata/models/domain/ValueBinding.ts
  packages/iocuak/src/metadata/services/MetadataApiService.ts
  packages/iocuak/src/metadata/services/MetadataApiServiceImplementation.spec.ts
  packages/iocuak/src/metadata/services/MetadataApiServiceImplementation.ts
  packages/iocuak/src/metadata/utils/api/convertBindingToBindingApi.spec.ts
  packages/iocuak/src/metadata/utils/api/convertBindingToBindingApi.ts
  packages/iocuak/src/task/models/cuaktask/CreateInstanceTask.spec.ts
  packages/iocuak/src/task/models/cuaktask/CreateInstanceTask.ts
  packages/iocuak/src/task/modules/TaskDependencyEngine.spec.ts
  packages/iocuak/src/task/modules/TaskDependencyEngine.ts
Due: iocuak

refactor: move MetadataApiService modules to an api folder
  packages/iocuak/src/metadata/services/api/MetadataApiService.ts
  packages/iocuak/src/metadata/services/api/MetadataApiServiceImplementation.spec.ts
  packages/iocuak/src/metadata/services/api/MetadataApiServiceImplementation.ts
Due: iocuak

refactor(iocuak): rename metadata service variables
  packages/iocuak/src/container/modules/api/ContainerApi.ts
  packages/iocuak/src/container/services/api/ContainerApiServiceImplementation.spec.ts
  packages/iocuak/src/container/services/domain/ContainerService.ts
  packages/iocuak/src/metadata/services/api/MetadataApiServiceImplementation.spec.ts
  packages/iocuak/src/metadata/services/api/MetadataApiServiceImplementation.ts
  packages/iocuak/src/metadata/services/domain/MetadataService.ts
  packages/iocuak/src/metadata/services/domain/MetadataServiceImplementation.spec.ts
  packages/iocuak/src/metadata/services/domain/MetadataServiceImplementation.ts
  packages/iocuak/src/task/modules/TaskDependencyEngine.spec.ts
  packages/iocuak/src/task/modules/TaskDependencyEngine.ts
Due: iocuak

refactor: rename Container api services
  packages/iocuak/CHANGELOG.md
  packages/iocuak/src/container/modules/api/ContainerApi.ts
  packages/iocuak/src/container/modules/api/ContainerModuleApi.ts
  packages/iocuak/src/container/services/api/ContainerApiService.ts
  packages/iocuak/src/container/services/api/ContainerBindingServiceApi.ts
  packages/iocuak/src/container/services/api/ContainerInstanceServiceApi.ts
  packages/iocuak/src/container/services/api/ContainerModuleServiceApi.ts
  packages/iocuak/src/container/services/api/ContainerServiceApi.ts
  packages/iocuak/src/container/services/api/ContainerServiceApiImplementation.spec.ts
  packages/iocuak/src/container/services/api/ContainerServiceApiImplementation.ts
  packages/iocuak/src/index.ts
  packages/iocuak/src/metadata/services/api/MetadataServiceApi.ts
  packages/iocuak/src/metadata/services/api/MetadataServiceApiImplementation.spec.ts
  packages/iocuak/src/metadata/services/api/MetadataServiceApiImplementation.ts
  packages/porygon-typeorm/src/crud/modules/iocuak/TypeOrmCreateContainerModuleApi.ts
  packages/porygon-typeorm/src/crud/modules/iocuak/TypeOrmCrudContainerModuleApi.ts
  packages/porygon-typeorm/src/crud/modules/iocuak/TypeOrmDeleteContainerModuleApi.ts
  packages/porygon-typeorm/src/crud/modules/iocuak/TypeOrmReadContainerModuleApi.ts
  packages/porygon-typeorm/src/crud/modules/iocuak/TypeOrmUpdateContainerModuleApi.ts
  packages/porygon/src/crud/modules/iocuak/DomainCreateContainerModuleApi.ts
  packages/porygon/src/crud/modules/iocuak/DomainCrudContainerModuleApi.ts
  packages/porygon/src/crud/modules/iocuak/DomainDeleteContainerModuleApi.ts
  packages/porygon/src/crud/modules/iocuak/DomainReadContainerModuleApi.ts
  packages/porygon/src/crud/modules/iocuak/DomainUpdateContainerModuleApi.ts
Due: iocuak, porygon, porygon-typeorm

feat(iocuak): add MetadataProviderApi
  packages/iocuak/CHANGELOG.md
  packages/iocuak/src/index.ts
  packages/iocuak/src/metadata/modules/MetadataProviderApi.spec.ts
  packages/iocuak/src/metadata/modules/MetadataProviderApi.ts
Due: iocuak

chore(typescript): update typescript packages config to produce tsbuildinfo in compiled files
  packages/cuaktask/tsconfig.dev.json
  packages/cuaktask/tsconfig.json
  packages/iocuak/tsconfig.dev.json
  packages/iocuak/tsconfig.json
  packages/porygon-typeorm/tsconfig.dev.json
  packages/porygon-typeorm/tsconfig.json
  packages/porygon/tsconfig.dev.json
  packages/porygon/tsconfig.json
Due: cuaktask, iocuak, porygon, porygon-typeorm

chore(package): update build clean script to call new remove typescript compiled files script
  package.json
  scripts/removeTypescriptCompiledFiles.mjs
Due: none

refactor: update exported api models to be aliased
  packages/iocuak/src/index.ts
  packages/porygon-typeorm/CHANGELOG.md
  packages/porygon-typeorm/src/crud/modules/iocuak/TypeOrmCreateContainerModule.int.spec.ts
  packages/porygon-typeorm/src/crud/modules/iocuak/TypeOrmCreateContainerModule.spec.ts
  packages/porygon-typeorm/src/crud/modules/iocuak/TypeOrmCreateContainerModule.ts
  packages/porygon-typeorm/src/crud/modules/iocuak/TypeOrmCrudContainerModule.spec.ts
  packages/porygon-typeorm/src/crud/modules/iocuak/TypeOrmCrudContainerModule.ts
  packages/porygon-typeorm/src/crud/modules/iocuak/TypeOrmCrudContainerModuleApi.spec.ts
  packages/porygon-typeorm/src/crud/modules/iocuak/TypeOrmCrudContainerModuleApi.ts
  packages/porygon-typeorm/src/crud/modules/iocuak/TypeOrmDeleteContainerModule.int.spec.ts
  packages/porygon-typeorm/src/crud/modules/iocuak/TypeOrmDeleteContainerModule.spec.ts
  packages/porygon-typeorm/src/crud/modules/iocuak/TypeOrmDeleteContainerModule.ts
  packages/porygon-typeorm/src/crud/modules/iocuak/TypeOrmReadContainerModule.int.spec.ts
  packages/porygon-typeorm/src/crud/modules/iocuak/TypeOrmReadContainerModule.spec.ts
  packages/porygon-typeorm/src/crud/modules/iocuak/TypeOrmReadContainerModule.ts
  packages/porygon-typeorm/src/crud/modules/iocuak/TypeOrmUpdateContainerModule.int.spec.ts
  packages/porygon-typeorm/src/crud/modules/iocuak/TypeOrmUpdateContainerModule.spec.ts
  packages/porygon-typeorm/src/crud/modules/iocuak/TypeOrmUpdateContainerModule.ts
  packages/porygon-typeorm/src/index.ts
  packages/porygon/CHANGELOG.md
  packages/porygon/src/crud/modules/iocuak/DomainCreateContainerModule.int.spec.ts
  packages/porygon/src/crud/modules/iocuak/DomainCreateContainerModule.spec.ts
  packages/porygon/src/crud/modules/iocuak/DomainCreateContainerModule.ts
  packages/porygon/src/crud/modules/iocuak/DomainCrudContainerModule.spec.ts
  packages/porygon/src/crud/modules/iocuak/DomainCrudContainerModule.ts
  packages/porygon/src/crud/modules/iocuak/DomainCrudContainerModuleApi.spec.ts
  packages/porygon/src/crud/modules/iocuak/DomainCrudContainerModuleApi.ts
  packages/porygon/src/crud/modules/iocuak/DomainDeleteContainerModule.int.spec.ts
  packages/porygon/src/crud/modules/iocuak/DomainDeleteContainerModule.spec.ts
  packages/porygon/src/crud/modules/iocuak/DomainDeleteContainerModule.ts
  packages/porygon/src/crud/modules/iocuak/DomainReadContainerModule.int.spec.ts
  packages/porygon/src/crud/modules/iocuak/DomainReadContainerModule.spec.ts
  packages/porygon/src/crud/modules/iocuak/DomainReadContainerModule.ts
  packages/porygon/src/crud/modules/iocuak/DomainUpdateContainerModule.int.spec.ts
  packages/porygon/src/crud/modules/iocuak/DomainUpdateContainerModule.spec.ts
  packages/porygon/src/crud/modules/iocuak/DomainUpdateContainerModule.ts
  packages/porygon/src/index.ts
Due: iocuak, porygon, porygon-typeorm

refactor: rename TaskScope to BindingScope
  packages/iocuak/CHANGELOG.md
  packages/iocuak/src/container/services/api/ContainerServiceApiImplementation.spec.ts
  packages/iocuak/src/container/services/domain/ContainerBindingServiceImplementation.spec.ts
  packages/iocuak/src/index.ts
  packages/iocuak/src/metadata/decorators/injectable.spec.ts
  packages/iocuak/src/metadata/decorators/injectable.ts
  packages/iocuak/src/metadata/fixtures/api/InjectableOptionsApiFixtures.ts
  packages/iocuak/src/metadata/models/api/BindingScopeApi.ts
  packages/iocuak/src/metadata/models/api/InjectableOptionsApi.ts
  packages/iocuak/src/metadata/models/api/TypeBindingApi.ts
  packages/iocuak/src/metadata/models/api/bindingScopeApiToBindingScopeMap.ts
  packages/iocuak/src/metadata/models/api/bindingScopeToBindingScopeApiMap.ts
  packages/iocuak/src/metadata/models/domain/BindingScope.ts
  packages/iocuak/src/metadata/models/domain/TypeBinding.ts
  packages/iocuak/src/metadata/services/api/MetadataServiceApiImplementation.spec.ts
  packages/iocuak/src/metadata/utils/api/convertBindingToBindingApi.spec.ts
  packages/iocuak/src/metadata/utils/api/convertBindingToBindingApi.ts
  packages/iocuak/src/task/models/api/taskScopeApiToTaskScopeMap.ts
  packages/iocuak/src/task/models/api/taskScopeToTaskScopeApiMap.ts
  packages/iocuak/src/task/models/cuaktask/CreateInstanceTask.spec.ts
  packages/iocuak/src/task/models/cuaktask/CreateInstanceTask.ts
  packages/iocuak/src/task/modules/TaskDependencyEngine.spec.ts
  packages/porygon-typeorm/src/crud/modules/iocuak/TypeOrmCreateContainerModule.spec.ts
  packages/porygon-typeorm/src/crud/modules/iocuak/TypeOrmCreateContainerModule.ts
  packages/porygon-typeorm/src/crud/modules/iocuak/TypeOrmDeleteContainerModule.spec.ts
  packages/porygon-typeorm/src/crud/modules/iocuak/TypeOrmDeleteContainerModule.ts
  packages/porygon-typeorm/src/crud/modules/iocuak/TypeOrmReadContainerModule.spec.ts
  packages/porygon-typeorm/src/crud/modules/iocuak/TypeOrmReadContainerModule.ts
  packages/porygon-typeorm/src/crud/modules/iocuak/TypeOrmUpdateContainerModule.spec.ts
  packages/porygon-typeorm/src/crud/modules/iocuak/TypeOrmUpdateContainerModule.ts
  packages/porygon/src/crud/modules/iocuak/DomainCreateContainerModule.spec.ts
  packages/porygon/src/crud/modules/iocuak/DomainCreateContainerModule.ts
  packages/porygon/src/crud/modules/iocuak/DomainDeleteContainerModule.spec.ts
  packages/porygon/src/crud/modules/iocuak/DomainDeleteContainerModule.ts
  packages/porygon/src/crud/modules/iocuak/DomainReadContainerModule.spec.ts
  packages/porygon/src/crud/modules/iocuak/DomainReadContainerModule.ts
  packages/porygon/src/crud/modules/iocuak/DomainUpdateContainerModule.spec.ts
  packages/porygon/src/crud/modules/iocuak/DomainUpdateContainerModule.ts
Due: iocuak, porygon, porygon-typeorm

docs: add unit testing docs
  docs/fixtures.md
  docs/unit-testing.md
Due: none

docs(porygon): update porygon readme with description and badges
  packages/porygon/README.md
Due: porygon

docs(porygon): update porygon-typeorm readme with description and badges
  packages/porygon-typeorm/README.md
Due: porygon-typeorm

docs: update changelog
  packages/cuaktask/CHANGELOG.md
  packages/iocuak/CHANGELOG.md
  packages/porygon-typeorm/CHANGELOG.md
  packages/porygon/CHANGELOG.md
Due: cuaktask, iocuak, porygon, porygon-typeorm

v0.1.0
  lerna.json
  packages/cuaktask/package.json
  packages/iocuak/package.json
  packages/porygon-typeorm/package.json
  packages/porygon/package.json
Due: cuaktask, iocuak, porygon, porygon-typeorm

chore: fix prepublish:packages to use build script
  package.json
Due: none

chore(pnpm): add npmrc config with enable-pre-post-scripts option
  .npmrc
Due: none

v0.1.1
  lerna.json
  packages/cuaktask/package.json
  packages/iocuak/package.json
  packages/porygon-typeorm/package.json
  packages/porygon/package.json
Due: cuaktask, iocuak, porygon, porygon-typeorm

feat: update ContainerModule to receive a ContainerModuleBindingServiceApi
  packages/iocuak-inversify-bridge/src/container/module/InversifyContainerModuleBridge.ts
  packages/iocuak/CHANGELOG.md
  packages/iocuak/src/container/modules/api/ContainerModuleApi.ts
  packages/iocuak/src/container/services/api/ContainerModuleBindingServiceApi.ts
  packages/iocuak/src/container/services/api/ContainerServiceApiImplementation.spec.ts
  packages/iocuak/src/index.ts
  packages/iocuak/src/metadata/models/api/BaseBindingApi.ts
  packages/iocuak/src/metadata/models/api/BindingApiType.ts
  packages/iocuak/src/metadata/models/api/BindingTypeApi.ts
  packages/iocuak/src/metadata/models/api/TypeBindingApi.ts
  packages/iocuak/src/metadata/models/api/ValueBindingApi.ts
  packages/iocuak/src/metadata/services/api/MetadataServiceApiImplementation.spec.ts
  packages/iocuak/src/metadata/utils/api/convertBindingToBindingApi.spec.ts
  packages/iocuak/src/metadata/utils/api/convertBindingToBindingApi.ts
  packages/porygon-typeorm/src/crud/modules/iocuak/TypeOrmCreateContainerModule.spec.ts
  packages/porygon-typeorm/src/crud/modules/iocuak/TypeOrmCreateContainerModule.ts
  packages/porygon-typeorm/src/crud/modules/iocuak/TypeOrmCrudContainerModule.spec.ts
  packages/porygon-typeorm/src/crud/modules/iocuak/TypeOrmCrudContainerModule.ts
  packages/porygon-typeorm/src/crud/modules/iocuak/TypeOrmDeleteContainerModule.spec.ts
  packages/porygon-typeorm/src/crud/modules/iocuak/TypeOrmDeleteContainerModule.ts
  packages/porygon-typeorm/src/crud/modules/iocuak/TypeOrmReadContainerModule.spec.ts
  packages/porygon-typeorm/src/crud/modules/iocuak/TypeOrmReadContainerModule.ts
  packages/porygon-typeorm/src/crud/modules/iocuak/TypeOrmUpdateContainerModule.spec.ts
  packages/porygon-typeorm/src/crud/modules/iocuak/TypeOrmUpdateContainerModule.ts
  packages/porygon/src/crud/modules/iocuak/DomainCreateContainerModule.spec.ts
  packages/porygon/src/crud/modules/iocuak/DomainCreateContainerModule.ts
  packages/porygon/src/crud/modules/iocuak/DomainCrudContainerModule.spec.ts
  packages/porygon/src/crud/modules/iocuak/DomainCrudContainerModule.ts
  packages/porygon/src/crud/modules/iocuak/DomainDeleteContainerModule.spec.ts
  packages/porygon/src/crud/modules/iocuak/DomainDeleteContainerModule.ts
  packages/porygon/src/crud/modules/iocuak/DomainReadContainerModule.spec.ts
  packages/porygon/src/crud/modules/iocuak/DomainReadContainerModule.ts
  packages/porygon/src/crud/modules/iocuak/DomainUpdateContainerModule.spec.ts
  packages/porygon/src/crud/modules/iocuak/DomainUpdateContainerModule.ts
Due: iocuak, porygon, porygon-typeorm

fix: delete unrelated file
  packages/iocuak-inversify-bridge/src/container/module/InversifyContainerModuleBridge.ts
Due: none

feat(iocuak): update ContainerModuleBindingServiceApi to not to provide unbind method
  packages/iocuak/src/container/services/api/ContainerModuleBindingServiceApi.ts
Due: iocuak

docs(cuaktask): fix index docs links
  packages/cuaktask/docs/index.md
Due: cuaktask

chore(typescript): add missing paths
  tsconfig.base.json
Due: none

refactor(cuaktask): add DependentTaskBuildOperation
  packages/cuaktask/src/task/modules/DependentTaskBuildOperation.spec.ts
  packages/cuaktask/src/task/modules/DependentTaskBuildOperation.ts
Due: cuaktask

refactor(cuaktask): add SafeDependentTaskBuildOperation
  packages/cuaktask/src/task/modules/SafeDependentTaskBuildOperation.spec.ts
  packages/cuaktask/src/task/modules/SafeDependentTaskBuildOperation.ts
Due: cuaktask

refactor(cuaktask): rename ContainerApi.initializeTaskRunner to initializeTaskBuilder
  packages/iocuak/src/container/modules/api/ContainerApi.ts
Due: iocuak

feat(cuaktask): update DependentTaskBuilder to no longer require a set builder
  packages/cuaktask/CHANGELOG.md
  packages/cuaktask/src/index.ts
  packages/cuaktask/src/task/modules/DependentTaskBuilder.ts
  packages/cuaktask/src/task/modules/SafeDependentTaskBuilder.spec.ts
  packages/cuaktask/src/task/modules/SafeDependentTaskBuilder.ts
  packages/iocuak/src/container/modules/api/ContainerApi.ts
  packages/iocuak/src/task/modules/TaskBuilder.spec.ts
  packages/iocuak/src/task/modules/TaskBuilder.ts
Due: cuaktask, iocuak

Path conditions:
  cuaktask: any of: packages/cuaktask/
  iocuak: any of: packages/iocuak/
  porygon: any of: packages/porygon/
  porygon-typeorm: any of: packages/porygon-typeorm/
